[2017-04-25 15:39] #7802 closed

[2017-04-25 19:26] AwakenTheJaken commented on #7671
Same issue here as well Spree 3.1.0

[2017-04-26 12:51] nnande commented on #7952
@Nelwep Are you getting the error on the ```products#show``` page?

Could you paste Gemfile and Gemfile.lock files?

[2017-04-28 05:04] kjakub opened #7970 "Complete state of Order ? Confused docs vs code."
At http://guides.spreecommerce.org/developer/orders.html i see following:

_The complete state can only be reached in one of two ways:_

_1.No payment is required on the order.
2.Payment is required on the order, and at least the order total has been received as payment._

But at https://github.com/spree/spree/blob/master/core/app/models/spree/order.rb#L362

[code]
If payment is required when Orde

[2017-05-02 05:46] vfonic opened #7971 "Any plans on upgrading to `cancancan`?"
The last commit date to [cancan](https://github.com/ryanb/cancan) gem happened almost 4 years ago (!). The owner of the gem is not active in the community anymore and the community picked up where he left off and created [cancancan](https://github.com/CanCanCommunity/cancancan) gem.

I believe the only correct approach at this point would be to switch to `cancancan` gem. I don't know any details a

[2017-05-02 15:02] krzysiek1507 commented on #7971
Hi @vfonic. Spree uses `cancancan` in version `~> 1.10.1`. PR with upgrade to the newest version is welcome!

[2017-05-02 18:07] #7971 closed

[2017-05-04 18:23] joshRpowell opened #7976 "bump ActiveMerchant - prep for Rails 5.1"
## Context
Opened issue @ ActiveMerchant: https://github.com/activemerchant/active_merchant/issues/2415

Please up-vote so we can bump to 5.1

[2017-05-05 16:39] joshRpowell commented on #7976
closed with PR #7979

[2017-05-05 16:39] #7976 closed

[2017-05-07 05:20] krtschmr commented on #7970
finalize actually puts the state of the order to completed. the order indeed IS completed because you ordered.

[2017-05-07 05:23] krtschmr commented on #7887
@damianlegawiec  where is it?

[2017-05-08 04:03] kjakub commented on #7970
@krtschmr yeah,

is somehow incorrect in my understandings.

[2017-05-08 04:05] krtschmr commented on #7970
a payment is *required*, that means that *payment_id* is necessary.

it is also neccessary that the payments are /received/**which doesn't
mean that it is *processed*.

Am 08.05.2017 um 11:03 schrieb kjakub:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2017-05-09 07:20] mayordwells opened #7986 "Spree not working with Rails 5.1"
I created a new Rails app using rails -v 5.1.0.
Used Spree Gems as follows:
gem 'spree', github: 'spree/spree', branch: '3-2-stable'
gem 'spree_auth_devise', github: 'spree/spree_auth_devise', branch: 'master'
gem 'spree_gateway', github: 'spree/spree_gateway', branch: 'master'

When I run `bundle` after this I get the following error:
Bundler could not find compatible versions for gem "rails":

[2017-05-09 07:51] damianlegawiec commented on #7986
@mayordwells Spree 3.2 is compatible with Rails 5.0, 3.3 (currently `master`) will work on 5.1

[2017-05-09 10:28] mayordwells commented on #7986
Thanks for your prompt reply @damianlegawiec
Changed spree branch.
gem 'spree', github: 'spree/spree', branch: 'master'
gem 'spree_auth_devise', github: 'spree/spree_auth_devise', branch: 'master'
gem 'spree_gateway', github: 'spree/spree_gateway', branch: 'master'

bundle install gave the following error:
Bundler could not find compatible versions for gem "rails":
  In snapshot (Gemfile.lock):

[2017-05-09 12:07] Irru- opened #7987 "Mail validation error on checkout, not on registering new account"
If the local part of an email ends with "-", the email verification fails on the checkout process.

## Context
A customer tried to checkout but could not. After searching what went wrong I found out that saving her email on the admin side of the order did not work.

I had a look at the email verification regex and it looks like if the local part of an email ends with '-' the email is considered in

[2017-05-09 12:13] damianlegawiec commented on #7987
@Irru- what version of Spree are you using?

[2017-05-09 12:41] tdquan commented on #7876
@damianlegawiec Fixed the problem. Indeed it was the missing partial `spree/shared/paths`. To be more specific, this partial has to be included before loading all the javascript resources. I got this order wrong which led to the error. Cheers!

[2017-05-09 12:41] #7876 closed

[2017-05-09 12:57] Irru- commented on #7987
Currently using Spree 3.1 on Rails 4.2.6

[2017-05-09 13:41] joshRpowell commented on #7986
@mayordwells I've been making incremental PRs preparing Spree for Rails 5.1 I'm still running into failing tests and have not gotten 5.1 to work locally.

@damianlegawiec do you have Spree `master` working with Rails 5.1?  I would love not to duplicate effort.

[2017-05-09 15:03] joshRpowell opened #7988 "DEPRECATION WARNING: Returning `false` in Active Record and Active Model callbacks will not implicitly halt a callback chain in Rails 5.1."
## Context
running the test suite on master at [`3068902`](https://github.com/spree/spree/commit/3068902c7091c2d30906d91cb6df4754516c1408) returns the following deprecation warnings:
[code]

I'm less familiar with this section of the code base.

- **Any thoughts on how this should be handled?**

## Possible Fix
Suggestions are articulated nicely here: [Rails 5 does not halt callback chain when fal

[2017-05-09 15:18] joshRpowell commented on #7876
Nice find @tdquan!
[code]
did you add the following like you'll find in line 11 below?
[code]

[2017-05-10 12:33] nimish-mehta opened #7990 "Spree permission checks in admin interface are not consistent"
## Issue

Spree admin interface permission checks are not consistent throughout the backend interface. This makes providing partial access to different parts of admin application difficult.

__For example:__

In this case spree links to product variants if the user has `admin` permission on variants:
https://github.com/spree/spree/blob/master/backend/app/views/spree/admin/products/_form.html.erb#L

[2017-05-11 04:43] FX-HAO opened #7991 "Controller rspec does not work after bumping spree version 3.1 to 3.2"
Everything works find before, but `response.status` always return 204 after bumping spree to 3.2.

One of controller rspecs:

[code]

And the controller:

[code]

When i replace `respond_with` with `render`, `response.status` works correctly. Any idea?

Gems:
[code]

[2017-05-12 07:10] dajvido commented on #7328
I'll check if it still exists on the master. If so, I'll fix it.

[2017-05-12 08:17] dajvido commented on #7328
On master bug still, exists, I'll handle it cc @damianlegawiec

[2017-05-12 12:19] kumar-ravinder opened #7994 "skip email validation while state change for payment"
Hi ,
I customize user sign up and  order process for spree commerce.
I want  user can sign up  without email  and it would be done and everything will be fine. But problem is arise when I process an order. When Order state change for  payment state , here I stuck  . Issue arise here "Customer email can't be blank".

 Please suggest me any way or idea , that help me process a n order without user o

[2017-05-12 14:27] ASTONLABS opened #7995 "Hreflang / SEO / Spree commerce"
Has anyone used a plugin / gem or any other thing to have Hreflang tag implemented on Spree ? Is there a plugin / gem to have URL unique per language ?
thanks to everyone

## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Your Environment

* Version used:
* Gemfile and Gemfile.lock as text in a Gist:
* Any relevant stack traces ("Full tra

[2017-05-12 17:27] jkelleyj opened #7996 "Acts as List shuffling on zero item on Variants"
When reordering a list in spree backend, it uses a zero index as the position for items in the list.  One example of this is on variants.  This makes the list position indexes run from 0 to N-1.

If you later make ANY update to the item at the zero position (not just reordering), it is moved to 1 and the item at 1 is moved back to 0, swapping those two items.

The result is that we have items that

[2017-05-12 17:30] jkelleyj commented on #7996
@damianlegawiec I'm curious for your take on the better approach to fix this when considering how to handle lists that could be in either a zero first or 1 first orientation now.

One thought is to go w/ 1 first (fix the JS) and then have a migration that does an update of all product variants where there is one in product's list that has a zero.  We also could ignore the migration since some stor

[2017-05-16 15:09] mvz commented on #6553
Unfortunately, the fix for this issue only exposed promotionable for products without variants.

[2017-05-17 13:18] stahor opened #8003 "Not able to pass additional attributes into ability."
Hi there.
I want to implement abilities that depends on controller namespace as it described [here](https://github.com/ryanb/cancan/wiki/Authorization-for-Namespaced-Controllers). The problem is that it's not possible to pass additional arguments into your ability initializer. Any ideas what can be done here? Or maybe I just have to replace your abilities with my own one?

[2017-05-17 13:22] tathspts commented on #7988
can you tell me how were you able to run spree on rails 5.1 ?

[2017-05-17 13:29] tathspts commented on #7986
hey were you able to make it work? Master resolves to 3.3.0.beta and it is not working. Had to downgrade my rails version.

[2017-05-18 18:14] joshRpowell opened #8010 "add support for Rspec 3.6 for Rails 5.1"
## Context
- waiting on work in mutant-rspec dependency https://github.com/mbj/mutant/pull/709

[2017-05-19 01:42] danielstrimpel commented on #6485
This is an old issue. Is it worth trying to reproduce or is it totally obsolete?

[2017-05-19 02:10] danielstrimpel commented on #7628
I don't know if this is still relevant but taxon.rb still handles icons without reference to the Image class, unlike products.rb. Maybe someone can clarify the logic behind that, vis-a-vis S3 and otherwise?

[2017-05-19 18:29] danielstrimpel commented on #7647
The screenshot and explanation is still out of date.

Unless I hear otherwise, I will fix this and submit a PR with an updated file: guides/content/user/promotions.md

[2017-05-21 07:33] damianlegawiec commented on #7996
@jkelleyj fixing it on JS side + the migration seems to be the best approach! Can you submit a PR with those changes?

[2017-05-21 10:24] krzysiek1507 commented on #7996
There is a [PR](https://github.com/spree/spree/pull/7785) with JS fix.

[2017-05-21 10:31] krtschmr opened #8011 "order products"
controller does  `@products = @searcher.retrieve_products`
but that somehow totally ignores ordering

i manually setted the orders to 1..9 and the others to 500

[code]

unfortunately the displayed order will be

`1,4,3,500, 9, 500  [....] `

anybody experienced that before?

[2017-05-22 11:01] #7756 closed

[2017-05-22 11:04] damianlegawiec commented on #8010
We're good to go to bump rspec to 3.6 https://github.com/spree/spree/pull/8013

[2017-05-22 11:04] #8010 closed

[2017-05-22 13:11] damianlegawiec commented on #7995
Hi @ASTONLABS please ask this question on http://slack.spreecommerce.com/

[2017-05-22 13:11] #7995 closed

[2017-05-22 14:40] jkelleyj commented on #7996
Thank PR looks good to me.  That's the same tweak I made in my 3.1 installation.

[2017-05-22 18:41] beckah commented on #7368
Same.

[2017-05-23 12:33] liangjingyang commented on #7368
About `rails g spree:install --user_class=Spree::User` hanging at the terminal, maybe this can help: rails/spring#265

[2017-05-23 18:10] jochemsiegel commented on #4760
This still seems to be an issue, even on 3.1.
When i apply an order level promotion to an order, the taxes are still based on the amount of the order before the order had its promotion applied.
Or am i missing something?

[2017-05-23 18:15] jochemsiegel commented on #4709
See my comment on [#4760](https://github.com/spree/spree/issues/4760), it seems to me like at least the order level promotion tax issue still exists. Or was this fixed and am I missing something?

[2017-05-24 11:10] digitalextremist commented on #7368
Also seeing this with Rails `4.2.7.1` and `3.1.5`

[2017-05-24 16:43] joshRpowell opened #8017 "Paranoia Gem - DEPRECATION WARNING"
Rails 5.2 deprecation warning

## Context
[code]

related to Paranoia Gem method [`really_destroy!`](https://github.com/rubysherpas/paranoia/blob/25d211851f40542724bb31669cdba983d31b347d/lib/paranoia.rb#L149)

## Steps to Reproduce

1.  in `/core`, run `bundle exec rake spec`

[2017-05-26 07:55] AnuragBhardwaj1 commented on #8011
spree_version ?

[2017-05-26 07:57] krtschmr commented on #8011
spree (3.1.0.rc3)
      spree_api (= 3.1.0.rc3)
      spree_backend (= 3.1.0.rc3)
      spree_cmd (= 3.1.0.rc3)
      spree_core (= 3.1.0.rc3)
      spree_frontend (= 3.1.0.rc3)
      spree_sample (= 3.1.0.rc3)

[2017-05-26 08:00] AnuragBhardwaj1 commented on #8011
can you please explain ?

[2017-05-26 08:35] AnuragBhardwaj1 commented on #8011
anyways it is working well for me with the given gemset

[2017-05-26 11:44] atul-shimpi opened #8019 "Promotion not visible and getting applied"
Using Spree 3.1.0.
Created a sandbox and tyring to create promotion
1) Created a promition name Enjoye
2) Please see attached file for all the files and their values

## Expected Behavior
Promition should get applied and should be visible.
Please see this url : http://comfyhouse.connectchakra.com/cart

## Actual Behavior
Promition not visible and not getting applied

[2017-05-28 20:02] atul-shimpi opened #8021 "Spree 3.1.0.rc1 - Resource not found after enteting promotion code"
Environment
1) Ruby 2.3.3
2) Rails 4.2.6
3) Spree 3.1.0.rc1

Steps
1) Create promotion from admin panel
2) Check the advertise checkbox.
3) Specify any action and rule
4) Goto store and make some purchase and got to payment
5) Enter coupon code and press "Save and Continue" button

Actual Behaviour
1) Resource not found error message is displayed

Expected Behaviour
2) Coupong code should be accep

[2017-05-29 07:04] #6485 closed

[2017-05-29 07:06] #7952 closed

[2017-05-29 07:08] #7914 closed

[2017-05-29 07:08] damianlegawiec commented on #7914
It's updated in the master (3.3) branch

[2017-05-29 08:49] damianlegawiec commented on #5706
This should be resolved via #7790

[2017-05-29 08:49] #5706 closed

[2017-05-30 19:06] quesurifn commented on #7823
They are not in the documentation. The parts of the documentation are outdated

[2017-05-30 20:15] atul-shimpi commented on #8021
Also Promotions are not visible on home page when i check "Advertise" checkbox on promotion ui.
Apart form checking it, anything else needs to be done ?
This also may be bug in front end.

[2017-05-31 04:08] vfonic opened #8027 "Spree::Product.slug validates length to be minimum 3"
I'm making an import of a store from Shopify. So far it's been going pretty well. (apart from the fact that Shopify's variants are not required to have a SKU)

But the other issue that's perplexing me is that there's a validation on product slug length. There is a product in the Shopify store that I'm importing and its Shopify handle is "4". This product's validation fails on import because the mi

[2017-05-31 05:33] damianlegawiec commented on #8027
@vfonic let's get rid of it :)

[2017-05-31 06:55] vfonic commented on #8027
@damianlegawiec aye aye sir!

https://github.com/spree/spree/pull/8028

[2017-05-31 19:03] quesurifn opened #8029 "no implicit conversion of Symbol into Integer in Spree::Api::V1::CheckoutsController#update"
## Context
When interrogating the API at the payment step here: http://guides.spreecommerce.org/api/checkouts.html

or

[code]

I get the issue in the title
## Expected Behavior
{
  ...
  "state": "confirm",
  ...
[code]
## Actual Behavior
no implicit conversion of Symbol into Integer in Spree::Api::V1::CheckoutsController#update

## Possible Fix

?

## Steps to Reproduce
[code]

The following nod

[2017-05-31 23:45] quesurifn commented on #8029
Can someone confirm whether I am CURLing it properly to create and finish an order

[2017-06-01 15:33] atul-shimpi commented on #8021
@damianlegawiec
Even promotions are not visible.
Is this also bug ?
Any idea when both issues will be fixed?

[2017-06-05 02:01] medyagh opened #8038 "Could you please add a Dockerfile?"
I followed every step of the developer docuemnts and I keep getting dependecy errors. I tried to find a Dockerfile. I couldnt find any Dockerfile on the project that works. could you please add one so I can give this project a try ?

[2017-06-05 05:42] dajvido commented on #7328
It seems to be a bigger issue:
Every time you decrease your backorderable order it's letting know your count on hand to increase for reduced value. However, there isn't any flag which would notify count of hand that this was from backorderable instead of physical product so it triggers dividing "newly available" products over current backorderable orders.
It would require modifying a method to kno

[2017-06-05 08:36] #7365 closed

[2017-06-05 10:47] joshRpowell commented on #8038
https://nanobox.io/what-is-nanobox/ could be helpful here.

[2017-06-06 16:44] nimish13 opened #8042 "Flexi Rate Shipping calculator issue"
## Context
Flexi Rate Shipping calculator calculating the wrong shipment cost.

## Expected Behavior
Should used price set in ``self.preferred_first_item`` for first item and ``self.preferred_additional_item`` for additional item upto ``self.preferred_max_items``
So In My case
``self.preferred_first_item`` = 30
``self.preferred_additional_item`` = 10
``self.preferred_max_items`` = 5
So total shipp

[2017-06-08 17:26] quesurifn commented on #7671
The monkey patch fixed the problem but now getting "Payment could not be processed, please check the details you entered" where does that order come from?

[2017-06-08 19:33] stujo opened #8047 "Failing Tests when Cloning 3.2.1 running core specs"
Attempting to get a clean run of the specs in core

## Context

Would like a clean baseline for our own development

## Expected Behavior

Tests should pass?

## Actual Behavior

[code]

## Possible Fix

## Steps to Reproduce

1. Clone Repo
2. cd core
  * bundle
  * install mysql to resolve dependency
  * bundle
3. DB=postgres bundle exec rake test_app
4. bundle exec rspec spec

## Your Environmen

[2017-06-08 20:45] medyagh commented on #8038
I need a docker so I can deploy it in kubernetes or in docker-compose or any container. plus it will best way to test locally too (since it will be same as my production). I recommend adding a Dockerfile to this project.

[2017-06-08 21:47] stujo commented on #8047
Working on a related project : https://github.com/stujo/clean-spree/pull/2/files

[2017-06-09 11:33] #8027 closed

[2017-06-09 15:36] quesurifn commented on #8029
@nnande Do you guys have an eta or a patch?

[2017-06-09 17:43] atul-shimpi commented on #8021
@damianlegawiec
Do you have quick fix for this. My client work is blocked for 2 weeks because of this.
His site needs to go live, but because of this its blocked.
Thanks in advance.

[2017-06-09 17:46] quesurifn opened #8051 "When hitting the api I get a Unsupported Payment error on confirm stage; Get request on order shows payment info w/ last four"
When I use authorize.net live, with the api it
`{ error: 'The order could not be transitioned. Please fix the errors and try again.',
  errors: { base: [ 'That payment method is unsupported. Please choose another one.' ] } }`
on confirm stage.

We are using authorize.net..

When I do a get request on the order number, cc_type is missing but last 4, exp and name are all listed as a payment source.

[2017-06-12 12:10] ditmarbrynza opened #8059 "Errno::EACCES: with rabl"
Errno::EACCES: Permission denied @ rb_file_s_symlink -
(fixtures/ashared/views_rails_3/users/phone_number.json.rabl,
c:/RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/rabl-0.13.1/fixtures/ashare
d/views_rails_3/users/phone_number.xml.rabl)
An error occurred while installing rabl (0.13.1), and Bundler cannot continue.
Make sure that `gem install rabl -v '0.13.1'` succeeds before bundling.

In Ge

[2017-06-12 23:38] troias opened #8061 "spree not working with rails 5.1.1"
Bundler could not find compatible versions for gem "rails":
  In snapshot (Gemfile.lock):
    rails (= 5.1.1)

  In Gemfile:
    rails (~> 5.1.1) x86-mingw32

    spree (~> 3.2.0) x86-mingw32 was resolved to 3.2.0, which depends on
      spree_core (= 3.2.0) x86-mingw32 was resolved to 3.2.0, which depends on
        rails (~> 5.0.0) x86-mingw32

[2017-06-13 13:39] joshRpowell commented on #8061
@troias see #8002

[2017-06-14 15:03] ditmarbrynza opened #8065 "spree not working with rails 5.1.1"
ruby -v
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]

rails -v
Rails 5.1.1

Bundler could not find compatible versions for gem "rails":
  In snapshot (Gemfile.lock):
    rails (= 5.1.1)

  In Gemfile:
    rails (~> 5.1.1)

    spree was resolved to 3.3.0.beta, which depends on
      spree_core (= 3.3.0.beta) was resolved to 3.3.0.beta, which depends on
        rails (~> 5.0.0)

Runnin

[2017-06-15 09:24] nisanth074 opened #8066 "Broken link in spree guide"
The Overview section in this [Spree Guide](https://github.com/spree/spree/blob/7206f1abe513779e810f5c6749c5e4e783d109bc/guides/content/developer/deployment/ansible-ubuntu.md) mentions this repo https://github.com/radar/ansible-rails-app. The repo however is not longer available. Github displays a 404 page when I click on the link.

[2017-06-16 19:23] xdavipereira opened #8068 "Sorting products by price (descending or ascending)"
Is there any API filter to fetch list of products sorted by descend price or ascend price ?

i know that search is made by ransack like:

 with id works nicely and a get the list of products sorted.

but with price doesn't work.
there is any way sort products by price using api with ransack?

thanks.

[2017-06-16 19:29] kitwalker12 commented on #8068
@xdavipereira you'd probably have to whitelist the price association (`Spree::Product.whitelisted_ransackable_associations |= ["prices"]`) and then have a query like `prices_amount asc`

[2017-06-16 20:16] xdavipereira commented on #8068
Thanks for the help. @kitwalker12

I tried to add the prices on associations like tis:

spree.rb

`Spree::Product.whitelisted_ransackable_associations |= ["prices"]`

and i did this request

`api/v1/products?q[s]=prices_amount%20asc`

i get a error

[code]
                                                             ^
```: SELECT  DISTINCT "spree_products".* FROM "spree_products" INNER JOIN "spree

[2017-06-19 08:01] damianlegawiec commented on #8065
Duplicate of https://github.com/spree/spree/issues/7986

[2017-06-19 08:01] #8065 closed

[2017-06-19 08:02] damianlegawiec commented on #8061
Duplicate of https://github.com/spree/spree/issues/7986

[2017-06-19 08:02] #8061 closed

[2017-06-19 23:10] troias commented on #7986
I updated gems to 3.2 still not working. Can you please give a better description on how to make spree work in a new rails 5.1 app.

[2017-06-19 23:41] troias commented on #8061
Still not working @damianlegawiec  can you explain better. I've even tried to create a new rails app and add spree 3.2.1 and it sitll does not work.

[2017-06-20 03:37] troias commented on #8061
it does work when i use rails 4.26 but not rails 5.0 or 5.1

[2017-06-20 04:24] troias opened #8080 "need a guide to install spree on rails 5.1 and 5.0"
tried to install spree but to no avail. please write a short guide as the one on your website is outdated and all the responses on the issues sections are not clear. I use spree 3.21 and tried on rails 5.1 and 5 and still does not work.

[2017-06-20 04:24] troias commented on #8080
@damianlegawiec

[2017-06-20 06:59] krzysiek1507 commented on #7986
Hi @troias. Spree doesn't work with Rails 5.1. We are working on it

[2017-06-20 07:49] damianlegawiec commented on #8080
Duplicate of https://github.com/spree/spree/issues/8080

[2017-06-20 07:49] #8080 closed

[2017-06-21 04:53] tonyvince commented on #7143
@ducnguyenhuy did solve this issue? I am having the same problem and could not find a workaround

[2017-06-21 05:06] tonyvince opened #8082 "Duplicate error messages on staging/production servers"
**This issue happens only on staging and production servers**

I have added a new field `my_field` to `spree_users` table and then add validation for that field in `user_decorator.rb`.

`validates_presence_of   :my_field, message: 'Please enter MyField'`

On the update user info page, I add a new input for `my_field`.

[code]

When I leave that field empty and submit, it shows the error as followi

[2017-06-21 05:14] tonyvince commented on #8082
I think this issue is similar to #7143

[2017-06-21 07:18] damianlegawiec commented on #8082
@tonyvince this was fixed in Spree 3.x, if possible please upgrade, we do not support Spree 2.2 anymore

[2017-06-21 07:18] #8082 closed

[2017-06-21 08:00] ducnguyenhuy commented on #7143
@tonyvince To simple fix, I used the solution here https://stackoverflow.com/a/4207916 because it took time to debug on server.

Hope it helps you.

[2017-06-24 06:22] #6250 closed

[2017-06-25 19:12] damianlegawiec commented on #7986
Fixed via https://github.com/spree/spree/pull/8002

[2017-06-25 19:12] #7986 closed

[2017-06-25 19:12] damianlegawiec commented on #8065
Fixed via https://github.com/spree/spree/pull/8002

[2017-06-25 19:12] damianlegawiec commented on #8061
Fixed via https://github.com/spree/spree/pull/8002

[2017-06-30 17:08] erosinlove commented on #8059
you can fix it by running the gem as Administrator.
(right mouse click on the terminal command and choose Run as Administrator menu)

[2017-07-03 03:23] Qwertie- opened #8097 "Setting Spree::Config[:track_inventory_levels] to false does not seem to allow setting on hand values"
I have an external system which keeps track of all stock and I want to be able to simply set the stock on hand for each variant. In the docs [here](http://guides.spreecommerce.org/developer/inventory.html) it says you can add `Spree::Config[:track_inventory_levels] = false` to your config and you will able to set on hand values but after adding that and going to the products stock page I am still

[2017-07-03 10:37] NZQiu opened #8098 "undefined method `subregions' for nil:NilClass"
## Context

When run `rails db:seed` throw nil:NilClass exception

loading ruby /Users/GQiu/.rvm/gems/ruby-2.4.1/gems/spree_core-3.2.1/db/default/spree/default_reimbursement_type.rb
loading ruby /Users/GQiu/.rvm/gems/ruby-2.4.1/gems/spree_core-3.2.1/db/default/spree/roles.rb
loading ruby /Users/GQiu/.rvm/gems/ruby-2.4.1/gems/spree_core-3.2.1/db/default/spree/states.rb
undefined method `subregions'

[2017-07-03 20:42] Veske commented on #7777
Might be related?

[code]

On Spree 3.2.1. This error appears even tough I am logged in.

[2017-07-04 01:19] Qwertie- opened #8100 "No documentation for option types or option values api"
The code is all there https://github.com/spree/spree/blob/master/api/app/controllers/spree/api/v1/option_types_controller.rb

but no documentation for using it yet.

[2017-07-04 06:40] jnorkus commented on #7578
Hey I know this was a while ago but I'm having exactly the same problem and spent last night fighting this. Any chance you remember what the reason or the fix was?

[2017-07-04 06:57] jnorkus commented on #8038
I am almost finished with a Dockerfile for my own development purposes. I can share it when I'm done but currently having this issue:
https://github.com/spree/spree/issues/7578

[2017-07-04 21:44] Irru- commented on #7987
So, any news on this?

[2017-07-04 22:26] joshRpowell commented on #7988
no longer an issue in 3.3.0.rc1

[2017-07-04 22:26] #7988 closed

[2017-07-05 04:54] Qwertie- opened #8102 "Update and show products using sku in spree api"
If you have an external system which manages stock and prices having a way to access and update products using the sku would solve a whole lot of database queries. Because the sku is the same in both systems you can just send a POST request right away rather than having to download the whole product list and work out which sku maps to which slug

[2017-07-05 05:58] damianlegawiec commented on #8102
@Qwertie- you can query products by sku like this:

[code]

[2017-07-05 05:58] #8102 closed

[2017-07-05 06:27] #6076 closed

[2017-07-05 06:27] #5893 closed

[2017-07-05 11:45] Qwertie- commented on #8102
@damianlegawiec Does that return one result with the exact thing you search? When you search a sku in the admin panel It sometimes returns multiple results if the skus are similar.

[2017-07-05 14:09] damianlegawiec commented on #8102
@Qwertie- this will return only one result (or multiple if you've got multiple products with exactly the same SKU)

[2017-07-05 20:12] clarke07 commented on #7987
@Irru-  can you tell me where the validation code is please? So I can turn it off, or modify the regex. Thanks.

[2017-07-06 14:49] Irru- commented on #7987
I've narrowed it down to the regex, so that will most likely have to be changed. Like I said in the OP, the only error I get is a popup saying "Customer E-mail is invalid" after trying to add a promotion.

[2017-07-07 01:08] Qwertie- commented on #8102
When I run
`curl -g -H "X-Spree-Token:  TOKEN" http://localhost:3000/api/v1/products?q[sku_eq]=168250`
I get back 58 pages of results but if I look up the product with its slug
`curl -g -H "X-Spree-Token:  TOKEN" http://localhost:3000/api/v1/products/cc-resorts-floria-multi-s41`
I get back just that one product

`{"id":168250,"name":"CC RESORTS FLORIA MULTI S41","description":null,"price":"21.99",

[2017-07-07 10:11] symarys commented on #8021
@atul-shimpi By default advertised option for promotions refers only to product pages. If you have a Product rule added for a promotion it will be visible on this specific product page. Like here:
![image](https://user-images.githubusercontent.com/10439953/27953540-769e2f7c-630c-11e7-85cf-666e6854e19d.png)

[2017-07-07 10:15] symarys commented on #8021
As for your second issue, I cannot reproduce it - I don't see this error. Can you provide more details, e.g. full trace?

[2017-07-07 12:35] liangjingyang opened #8107 "Request parameters are lost when /api/v:api/*path redirect to /api/v1/*path"
Request parameters are lost when /api/v:api/*path redirect to /api/v1/*path

## Context
I have no API V2 in fact. When I access this API

`/api/v2/taxonomies?token=c13e155b4c1bcc5292273ff266837f14ece57114b027dc41`

It will redirect to `/api/v1/taxonomies`  without the request parameters

## Expected Behavior
Redirect to `/api/v1/taxonomies?token=c13e155b4c1bcc5292273ff266837f14ece57114b027dc41`

#

[2017-07-07 14:24] #8107 closed

[2017-07-07 21:03] quesurifn opened #8110 "Two Promos won't apply"
## Context
I am trying to set one blanket promo for all orders over $100 without the need for a code and have another promo with a code required that discounts 30%.

The blanket promo works when the 30% code is not used.

If I put in the 30 percent of promo on orders over 100, both adjustments will show in 'adjustments' under the order but the promo for orders over 100% won't actually be applied.

[2017-07-08 07:59] atul-shimpi commented on #8021
I have given all the things in issue.

Someone has already accepted it as bug in FrontEnd.

Anyway let me see if i can get the trace.

The bug is comming on production.

With warm regards,
============================================================================
Atul Shimpi
Mobile : 9890979429 | Skype : shimpiatul | www.HiAtul.com

________________________________
From: Maria Syczewska <notific

[2017-07-08 21:42] quesurifn commented on #8110
@radar Any ideas?

[2017-07-08 21:49] #8051 closed

[2017-07-08 21:49] #8029 closed

[2017-07-09 14:53] krzysiek1507 commented on #8110
Hi @quesurifn I can see that it works on Spree 3.1.5. Are you able to upgrade your application?

[2017-07-09 15:15] krzysiek1507 commented on #8110
I can also check on Spree 3.1.0 and it works too. Do you have any changes in your code for orders/promos?

[2017-07-09 19:36] #8110 closed

[2017-07-09 20:07] quesurifn commented on #8110
@damianlegawiec Why was this issue closed before I could respond? @krzysiek1507 Thank you for taking an interest in this. The promotion system has been modified to restrict free shipping.

I placed the following code in models/spree/promotions/rules folder:

[code]

Otherwise, look at the photo I posted in the original comment. It seems that its applied as an adjustment but the adjustment isn't ad

[2017-07-09 20:12] krzysiek1507 commented on #8110
@quesurifn could you please comment it out this code and then test it locally?

[2017-07-10 01:29] Qwertie- opened #8130 "No api documentation for images"
Related issue #7595

[2017-07-10 17:49] jeromedalbert commented on #7578
Had the same issue and found this issue on Google. It is because there is a coffee file somewhere in the project. I couldn't find any when using my editor global search, but when using `find . -name "*.coffee"`, it found some coffee files (for me it was in the node_modules folder, and this folder was in `Rails.application.config.assets.paths` as a configuration of `assets.rb`, so I just removed th

[2017-07-12 07:24] #8130 closed

[2017-07-12 14:38] hiryuPL opened #8135 "Editing data on Checkout>Address will reset choosen shipping method"
If user decides to edit some data within shipping section (for example typo in name), the shipping method will be reverted to 1st one.

## Context
It might be confusing in situations where one shipping method is free but slow and one is paid but fast. The user might not notice the change, thus paying less, but waiting longer for the order.

## Expected Behavior
Shipping method should be saved or t

[2017-07-12 19:53] quesurifn commented on #8110
@krzysiek1507 Commenting out or removing code and directories have no effect on this bug. @damianlegawiec Can you re-open issue? Nothing was figured out.

[2017-07-12 23:39] dannygreg opened #8136 "`balance_due` payment state after a partial refund"
If you initiate a partial refund on any order (for sake of example here, let's say an RMA is not possible but you still wish to partially refund the customer) the payment state becomes stuck in `balance_due`, despite being fully paid up.

I believe this is down to `outstanding_balance` [not taking refunds into account](https://github.com/spree/spree/blob/master/core/app/models/spree/order.rb#L327)

[2017-07-13 00:09] kitwalker12 opened #8137 "Cannot open General Settings page when using only spree_backend"
## Context
I'm using only spree_backend & spree_core while mounting it on a custom path. I've included AuthenticationHelpers & CurrentUserHelpers and everything works fine. The only problem I'm facing is that I cannot open General Settings page in the Admin view. I don't really need it but it's bugging me that this page is giving me an error.

## Expected Behavior
On clicking "General Settings" in

[2017-07-14 10:04] digitalextremist opened #8141 "Feature: Clarify why a product cannot be deleted."
The `Products` view allows deletion of rows, but if a product is present in an order ( completed or not, could just be an uncheckedout cart ) the row cannot be deleted. The flash message at that point only says: `Product could not be deleted.`

I think it would be great if the error message said why the product cannot be deleted. At the very least, how many instances of the product existing in ord

[2017-07-16 15:12] tathspts opened #8143 "Puma not Starting Due to Spree Error"
Hey Guys I am running Spree on Rails 5.1.2. I was trying to deploy a test spree app on my server using nginx, puma with the use of Capistrano. After the deployment I get this page with below error message.

We're sorry, but something went wrong.
If you are the application owner check the logs for more information.

I have checked puma logs and found this error related to spree which I am unsure ho

[2017-07-17 07:41] Austin-Qu commented on #8143
Method `before_filter' got finally removed in Rails 5.1. Waiting spree_gateway gem to be updated and released.

[2017-07-17 10:24] symarys commented on #8136
@dannygreg Hello Danny, your issue has been solved on master branch (https://github.com/spark-solutions/spree/commit/319f1fc665db821f7f94041f0188c3e206313666).

[2017-07-17 10:24] #8136 closed

[2017-07-17 13:48] chonglou opened #8146 "The asset "jquery.validate/localization/messages_zhcn.js" is not present in the asset pipeline"
### Versions
Ruby: 2.4.1
Rails: 5.1.2
Spree: 3.3.0.rc1

### Happen when locale is zh-CN

Rendered ~/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/spree_frontend-3.3.0.rc1/app/views/spree/checkout/edit.html.erb within spree/layouts/spree_application (244.0ms)
Completed 500 Internal Server Error in 342ms (ActiveRecord: 15.1ms)

ActionView::Template::Error (The asset "jquery.validate/localization/me

[2017-07-18 06:05] Qwertie- opened #8147 "Multiple price level functionality"
Would be really helpful to have a way to set multiple price levels for products

## Context
Quite often a business might be selling to consumers and resellers and it is always a requirement that the resellers get lower prices than regular users.

## Expected Behavior
Quite like how multiple currencies work where you get a new tab on product pages where you can enter in the prices for each level (U

[2017-07-18 06:27] Qwertie- commented on #8141
I think I hit this same issue a few days ago. Product wont delete from the admin page but will delete from the rails console (This likely breaks the cart for the user who had the item in their cart)

[2017-07-19 02:58] Baozi2 opened #8148 "order payment_total is double of total"
[code]

When place order from web,  when I pay use credit card, I found that the order' payment_total is double of order' total.

[2017-07-19 09:23] symarys commented on #8143
@tathspts Can you share your Gemfile and Gemfile.lock? It would help me figure out what's causing your issue.

[2017-07-19 10:32] Austin-Qu commented on #8143
@symarys I had the exact same issue as his. Relevant Gemfile code snippet like this
[code]

After I changed Rails version to 5.0.4 and 3 Spree related gems to 3.2, the issue is gone.

[2017-07-19 10:46] symarys commented on #8143
@Austin-Qu @tathspts This issue for spree_gateway was solved on the master branch two weeks ago (https://github.com/spree/spree_gateway/commit/451d14f905164f929280ffac6263265c4b5b45f8). You should either install Spree 3.3 for Rails 5.1 or Spree 3.2 for Rails 5.0 (https://github.com/spree/spree#getting-started).

[2017-07-19 11:34] symarys commented on #8146
@chonglou Your issue has been solved on the master branch (https://github.com/spree/spree/commit/e3f8750385b621514fb65667a705274c643dca5e).

[2017-07-19 11:34] #8146 closed

[2017-07-19 13:19] liangjingyang commented on #8148
https://github.com/spree/spree/blob/2-4-stable/core/app/models/spree/order/payments.rb#L56
https://github.com/spree/spree/blob/master/core/app/models/spree/payment.rb#L33

I think the two line above added the payment.amount twice.

But we tried Spree 3-2-stable, it has no this issue.

And we found under 3-2-stable rails(5.0.4) console, the order is the different object:
[code]
But under 3.3.0 rc1

[2017-07-19 23:15] andrewkmin opened #8151 "Cannot update [total_on_hand] via API"
## Context
Using Postman to make API changes at endpoint ```/api/products/1```. Spree token is all good to go; I'm able to update all fields except for "total_on_hand" for some reason. It simply does not change.

## Expected Behavior
I'm expecting that a PUT request to the endpoint ```api/products/1?product[total_on_hand]=100``` to modify that product and give it a property ```total_on_hand``` of

[2017-07-20 03:23] Qwertie- opened #8152 "Spree header takes far too much room on mobile"
![screenshot](http://i.imgur.com/ahmUwrY.png)

Most of the page is used by the header when it could just collapse with a button to expand it. I assume most people are just replacing the whole nav bar because its quite a job trying to get the current one to work properly on small screens.

[2017-07-20 10:24] damianlegawiec commented on #8143
@Austin-Qu @tathspts `spree_gateway 3.3.0.rc2` containing this fix was pushed to RubyGems, please run:

[code]

[2017-07-20 13:52] maikis commented on #8068
Hi, I'm also wondering if there is some product sorting solution for product page and taxon's pages (by price, name, frequently purchased, newest, etc.)? It is vitally important for every shop to allow it's users to have at least basic sorting by price, but as far as I googled there is nothing that works by default?

[2017-07-21 08:33] damianlegawiec commented on #8148
Fixed via https://github.com/spree/spree/pull/8153

[2017-07-24 04:15] Qwertie- commented on #7823
Should be some logging for sure. Real pain trying to work out which setting is causing the issue.

[2017-07-24 05:39] Qwertie- opened #8161 "Not setting master price for product gives obscure error 'invalid value for BigDecimal(): ""'"
When creating or updating a product if you don't set a master price you get taken to the rails error page showing `invalid value for BigDecimal(): ""`.

Because this affects the user side of things there should be a simple flash showing that the product needs to have a master price before being saved.

[2017-07-24 07:16] damianlegawiec commented on #8152
Yes, the current frontend design isn't 100% RWD. It's going to be completely overhauled in coming releases with a mobile-first approach in mind.

[2017-07-24 19:53] TADebastiani opened #8164 "Showing malformed price in Checkout (BRL)"
My demo store is set to BRL Currency, when I change the Shipping Method on Checkout.

Before change Shipping Method.
![checkout1](https://user-images.githubusercontent.com/8689599/28541695-55e845a6-7090-11e7-8c52-524142d694d0.png)

After change Shipping Method. The Shipping value is set to 'R$26,00'
![checkout2](https://user-images.githubusercontent.com/8689599/28541694-55e5a896-7090-11e7-90da-44c

[2017-07-25 06:17] jomarbarnobal opened #8165 "This request has been blocked; the content must be served over HTTPS"
Hi im trying to put a new payment_method in my production spree admin, but nothing happen and in my console it give see this "This request has been blocked; the content must be served over HTTPS"
im using HTTPs in my website

ruby 2.3.3
spree version 3.2.0
rails 5.1

=============================================
problem solved
i just need to uncomment the config.force_sll = true
and put "proxy_set

[2017-07-25 11:04] damianlegawiec commented on #8059
Please submit this issue in https://github.com/nesquena/rabl repo

[2017-07-25 11:04] #8059 closed

[2017-07-25 11:06] damianlegawiec commented on #8017
Fixed in master :)

[2017-07-25 11:06] #8017 closed

[2017-07-25 11:07] #8011 closed

[2017-07-25 11:10] damianlegawiec commented on #7990
Partially fixed via https://github.com/spree/spree/pull/8076

[2017-07-25 11:10] #7990 closed

[2017-07-25 11:21] damianlegawiec commented on #7928
Done :)

[2017-07-25 11:21] #7928 closed

[2017-07-25 11:50] #8021 closed

[2017-07-25 15:37] dylanfisher commented on #7823
I had some trouble debugging this issue recently and it turned out it was because the Spree seeds.rb code had been run multiple times, and I ended up with duplicate countries and states. In my case I was working with a new database so I could just delete_all the seeded data and re-seed the database.

[2017-07-25 15:53] freshnewegg commented on #7823
basically it comes down to you have to follow the doc EXACTLY with a perfect setup. no mistakes. no forgiveness

its easier than debugging logging is a nightmare

[2017-07-25 16:20] damianlegawiec commented on #7823
@dylanfisher this is fixed in 3.3, you won't have any duplicates in the database https://github.com/spree/spree/blob/master/guides/content/release_notes/3_3_0.md#added-missing-indexes-and-unique-indexes

[2017-07-25 16:37] Qwertie- commented on #7823
@freshnewegg This pretty much. Often I have found its much easier to just drop the database when possible rather than try and work out what went wrong from the generic error messages. Often the best way to debug them is finding out where the error was made and disabling the exception to get a better error from rails.

[2017-07-25 17:38] dylanfisher opened #8167 "Image attachment_width and attachment_height aren't set in Spree 3.3.0.rc1"
## Context
Spree::Image

`before_save :find_dimensions, if: :saved_change_to_attachment_updated_at?`

## Expected Behavior
The before_save callback in Spree::Image should set the image `attachment_width` and `attachment_height`

## Actual Behavior
`saved_change_to_attachment_updated_at?` callback never runs, and width and height aren't set.

## Possible Fix
Revert this commit https://github.com/sp

[2017-07-26 08:31] augmen opened #8168 "Gems adding failed"
`gem 'spree', '~> 3.3.0.rc1'
ERROR:  While executing gem ... (Gem::CommandLineError)
    Unknown command spree,
root@spree:~/mystore# gem 'spree_auth_devise', '~> 3.3'
ERROR:  While executing gem ... (Gem::CommandLineError)
    Unknown command spree_auth_devise,
root@spree:~/mystore# gem 'spree_gateway', '~> 3.3'
ERROR:  While executing gem ... (Gem::CommandLineError)
    Unknown command spree_gat

[2017-07-26 10:10] damianlegawiec commented on #8167
Thanks @dylanfisher for pointing this out 👍

[2017-07-26 11:09] damianlegawiec commented on #7994
@kumar-ravinder you can overwrite this method https://github.com/spree/spree/blob/master/core/app/models/spree/order.rb#L628 to skip email validation altogether

[2017-07-26 11:09] #7994 closed

[2017-07-26 11:10] damianlegawiec commented on #8168
You need to place that code in your project Gemfile not use them in command line..

[2017-07-26 11:10] #8168 closed

[2017-07-26 11:14] augmen commented on #8168
is spree is open source ? what are alternatives ?
Swapnil Bhadade
swapnilrbhadade83@gmail.com
Nagpur
India

[2017-07-26 11:18] damianlegawiec commented on #7544
Done via https://github.com/spree/spree/pull/7951

[2017-07-26 11:18] #7544 closed

[2017-07-26 11:24] #7450 closed

[2017-07-26 11:24] #7514 closed

[2017-07-26 11:47] damianlegawiec commented on #7595
Fixed via https://github.com/spree/spree/pull/8134

[2017-07-26 11:47] #7595 closed

[2017-07-26 11:49] #7669 closed

[2017-07-26 12:03] #7641 closed

[2017-07-26 14:04] kgorazd commented on #7987
This issue will be fixed in version 3.3.0.

[2017-07-26 14:13] #7987 closed

[2017-07-26 14:20] #7640 closed

[2017-07-26 14:21] #7637 closed

[2017-07-26 14:21] #7597 closed

[2017-07-26 14:22] #7490 closed

[2017-07-28 09:22] damianlegawiec commented on #8167
Fixed via https://github.com/spree/spree/pull/8178

[2017-07-28 09:22] #8167 closed

[2017-07-29 23:27] delphaber opened #8189 "Cannot run bundle exec test_app"
I want to run `spree_core` tests on my machine but I got an error during `bundle exec test_app`

I cloned the `spree` repo (HEAD at `7420c13c1`)
I went inside the `spree` folder and I run `bundle`
Then I went inside the `core` folder and I run `bundle`
Then I run `bundle exec test_app --trace` and this is the output

[code]

I'm using rbenv 1.1.1 and bundler 1.15.3 on bash 4.4 on mac os sierra

Wh

[2017-07-30 09:27] damianlegawiec commented on #8189
@delphaber it should be fixed now:

[code]

[2017-07-30 12:21] delphaber commented on #8189
Hi! Thanks for the fast reply!

I've got the same error :(

[code]

[2017-07-30 12:38] delphaber commented on #8161
I think it's already fixed in master (https://github.com/spree/spree/commit/0edb74860b)

I have the same problem but I'm using `spree` 3.2.2

[2017-07-31 06:07] damianlegawiec commented on #8189
@delphaber can you try to install rabl manually?

[code]

[2017-07-31 06:23] damianlegawiec commented on #8161
@delphaber backporting it to `3-2-stable` and we'll release `3.2.3` mid-week this week

[2017-07-31 06:38] delphaber commented on #8189
Same error :(

[2017-08-01 08:06] Baozi2 opened #8194 "ActionView::Template::Error undefined method `frontend_available?'"
when I use the spree master' newest code, I find this when I send email

[code]

I find this come from this [commit](https://github.com/spree/spree/commit/24410cb3a22b66e98c3981913ac93a90d96ba254)

[2017-08-01 10:17] damianlegawiec commented on #8194
Hey @Baozi2 , are you using a custom mailer class? Are you inheriting it from `Spree::BaseMailer`?

[2017-08-01 16:27] maikis opened #8195 "Shipping cost re-calculating bug when using comma as cents separator"
In some localisations, like German or Lithuanian, or just after setting the cent separator to comma by hand in initializer, CoffeeScript misscalculates shipping and total prices (line items + shipping).

## Context
When there is more than one shipping method allowed and buyer selects other than default (first) shipping method, the total price of order is re-calculated by CoffeeScript `(spree/front

[2017-08-02 07:28] jagdeep786 opened #8196 "rails g spree:install --user_class=Spree::User"
# It's not working. it's redirecting on rails new

   Usage:
      rails new APP_PATH [options]

[2017-08-02 08:48] damianlegawiec commented on #8195
Thanks @maikis for pointing this out

[2017-08-02 09:37] maikis commented on #8195
You're welcome @damianlegawiec! We are all on the same page here. I would be willing to contribute and fix this if you could give me some insights on this, like what would be preferred way to fix it (or should I do as it looks best to me), can I use some currency libraries or should we try to avoid that, etc.

[2017-08-02 13:58] damianlegawiec commented on #8195
@maikis probably using a library like [accounting.js](https://github.com/openexchangerates/accounting.js) would be better than writing a [custom javascript](https://github.com/spree/spree/blob/master/frontend/app/assets/javascripts/spree/frontend/checkout/shipment.js.coffee) . I'm not a fan of adding more dependencies but as we move forward with a more javascript heavy UI this would be reused acro

[2017-08-03 05:56] Baozi2 commented on #8194
Hey @damianlegawiec , so sorry, I just saw  you comment.  I  do this in my code
[code]

[2017-08-03 07:51] damianlegawiec commented on #8194
@Baozi2 oh so inside one mailer you're sending another one? That won't work ;)

[2017-08-03 08:58] delphaber commented on #8189
Found the problem! There's a problem with bundler 1.15. I installed bundler 1.13 and everything worked!

Solidus guys wrote it in the readme: 'Having bundler problems? Try downgrading to bundler 1.13.7 or earlier. Gem resolution is seriously broken in bundler versions since 1.14.'

[2017-08-03 08:58] #8189 closed

[2017-08-03 08:59] damianlegawiec commented on #8189
@delphaber can you also add a similar note to ours README file? :)

[2017-08-03 08:59] #8194 closed

[2017-08-03 09:02] delphaber commented on #8189
@damianlegawiec sure!

[2017-08-03 12:26] factor4 opened #8201 "Update dependencies for save version of nokogiri"
Hello! I´m on spree 3.1 and want to update nokogiri to version 1.7.2 because older Versions are vulnerable.

## Context
Here is the output of `bundle update nokogiri`

[code]

## Expected Behavior
bundle update successfully complete

## Actual Behavior
bundle update fail

## Possible Fix
Update spree_core 3.1.x dependencies to support deface ~> 1.2.0 witch support higher versions of nokogiri: http

[2017-08-03 12:44] damianlegawiec commented on #8201
Will be fixed with 3.1.7 release https://github.com/spree/spree/pull/8202

[2017-08-03 12:49] factor4 commented on #8201
Thanks! 👍

[2017-08-03 13:11] damianlegawiec commented on #8201
@factor4 3.1.7 is available from rubygems :)

[2017-08-03 13:11] #8201 closed

[2017-08-03 13:13] factor4 commented on #8201
Wow! What a quick fix! Thank you!!!

[2017-08-03 13:32] #8196 closed

[2017-08-03 13:58] damianlegawiec commented on #8161
@Qwertie- @delphaber 3.2.3 is available from RubyGems :)

[2017-08-03 13:58] #8161 closed

[2017-08-03 14:32] delphaber commented on #8161
@damianlegawiec thanks!

[2017-08-03 18:48] haukurhrafn opened #8204 "Shipments are split up by backorder even if stock splitter is set to not split in spree.rb"
## Context

We just upgraded from Spree 3.0 -> 3.1 and are seeing shipments split up by backordered items even if we've set the stock splitter to not split them up. This was working for us in version 3.0.

## Expected Behavior

When order contains products that are in stock and backorderable products that are not in stock the shipments should not be split up if the Stock_Splitter has been configur

[2017-08-03 20:48] brsoff commented on #7713
We had this issue after adding the gem [spree_print_invoice](https://github.com/spree-contrib/spree_print_invoice) to our project (Rails 5.0.1 / Spree 3.2.0.rc1).

The fix was to remove/overwrite references to the`Forwardable` module and any of its methods (ex. `def_delegators`) in the vendor code and replace it with `ActiveSupport`'s `delegate` method.

There is some more in-depth discussion here

[2017-08-03 22:27] bolom opened #8205 "uninitialized constant Paperclip::Storage::S3::AWS"
## Context
After i have upgraded Spree to 3.3. I have got this error

<img width="1099" alt="capture d ecran 2017-08-03 a 18 25 26" src="https://user-images.githubusercontent.com/72155/28946523-29ae96fc-7879-11e7-9061-d3f22973c21b.png">

## Your Environment

* Version used:

gem 'spree', '~> 3.3.0.rc1'

* Gemfile and Gemfile.lock as text in a Gist:

https://gist.github.com/bolom/77baab14057dc67f97

[2017-08-04 01:40] Baozi2 commented on #8194
So I must inheriting it from Spree::BaseMailer,when I custom a mailer? Can't do this?
![wx20170804-093930](https://user-images.githubusercontent.com/5621510/28950704-d58fd9f2-78f8-11e7-8bcb-bf4da1410f6d.png)

[2017-08-04 07:49] damianlegawiec commented on #8205
Hi @bolom , with 3.3 we've bumped paperclip to version 5 which required `aws-sdk` >= 2, information about it should be in release notes and upgrade guide - will prepare this today! Thank you for reporting!

[2017-08-04 11:44] bolom commented on #8205
thanks!

[2017-08-04 13:12] bolom commented on #8205
I have updated my gem file

[code]

I have got this error

[code]

spree_i18n doesn't with the latest version of Spree?

[2017-08-04 20:24] xdavipereira opened #8207 "Api query search on Spree 3.3.0.rc3"
When updating the spree version from 3.2 to 3.3.0.rc3 the following query no longer works

the query is this:
`api/v1/products?q[s]=created_at+asc`

the error on console is this:

[code]

in my gemfile i have this:
[code]
Worked perfectly with 3.2. Have there been any changes in the way queries are done in this new version?
I have to set the query params on products white list ?

[2017-08-05 11:01] damianlegawiec commented on #8207
This is probably a rails bug fixed via https://github.com/rails/rails/pull/29848 , waiting for 5.1.3 release containing this fix, until then we'll try to fix it on our end

[2017-08-06 20:07] SylarRuby commented on #8207
I see you're using PG, I suppose?

[2017-08-07 06:08] Qwertie- opened #8208 "Show which parameters are permitted and required in api docs."
The API docs should show you which parameters you can send for each request and which ones you must send. The /new request partially does this however it doesn't show which parameters match up with which request. For example you can GET a products ID but you cant POST it.

[2017-08-07 13:34] otlaitil opened #8211 "Feature: disable coupons with an app config parameter"
I was wondering if anyone else would like to see a feature to disable coupons with an app config setting.

I have implemented two Spree-based storefronts in which both I was asked to remove coupons from checkout flow. Removing the HTML elements from DOM with Deface will break the Spree checkout javascript, so hiding them with CSS is the easiest solution at the moment (but feels a bit silly).

The

[2017-08-07 13:35] damianlegawiec commented on #8211
@otlaitil sure, it would be nice to have this as a configuration option

[2017-08-08 03:18] Qwertie- commented on #7549
I think this might have changed in a newer version of spree because I can remove address and delivery individually now.

[2017-08-08 03:28] Qwertie- commented on #8066
Maybe @radar could tell us where it went.

[2017-08-08 03:43] #7549 closed

[2017-08-08 11:25] #8207 closed

[2017-08-08 11:34] damianlegawiec commented on #8205
@bolom spree uses `paperclip` `~> 5.1.0`

this upgrade guide covers it all:

https://github.com/spree/spree/blob/master/guides/content/developer/upgrades/three-dot-two-to-three-dot-three.md#update-aws-sdk-gem-to--20

[2017-08-08 11:34] #8205 closed

[2017-08-08 11:54] #8195 closed

[2017-08-09 05:58] augmen opened #8219 "Linux Installation"
how to install home-brew in linux to install imaemagick ?

[2017-08-09 08:48] delphaber commented on #8189
Done! https://github.com/spree/spree/pull/8221

[2017-08-09 10:51] damianlegawiec commented on #8219
@augmen homebrew is OSX specific, you can install imageagick on linux with any package manager

[2017-08-09 10:51] #8219 closed

[2017-08-09 19:55] carltonsmith opened #8223 "Error on Install Migration: 'relation "states" does not exist' when it tries to create spree_addresses"
## Context
When I run rails g spree:install --user_class=Spree::User it tells me I need to run rake db:migrate when it finishes. However, when I run migrate I get the following error:

-- create_table(:spree_addresses)
rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

PG::UndefinedTable: ERROR:  relation "states" does not exist

## Expected Behavior
The m

[2017-08-12 16:59] amedrz commented on #8038
@jnorkus any luck with the Dockerfile? I see the issue you linked has been closed. Will be great if you can share it.

[2017-08-12 17:59] jhovad commented on #7549
@krtschmr  thank you for your useful code ... I have spent already 5 hours trying to figure out where is the shipping_method selected ... I need adjust **select_default_shipping** somehow because I would like to set shipping based on the order attributes (based on selected payment_method ... free of charge shipping for payment by card, shipping with a small fee for _"cash on delivery"_ payment). C

[2017-08-14 01:40] Qwertie- opened #8227 "Adding a product with a name of 2 charactors fails "slug"=>["is too short (minimum is 3 characters)""
## Context
I have started importing my product list into spree using the api but one of my products causes an error (The movie "up") because the slug created is to short.

## Expected Behavior
Either the slug be accepted or a uuid is placed after the product name similar to what happens when you create two products with the same slug. Because I am not manually setting a slug the one created by spr

[2017-08-14 07:06] damianlegawiec commented on #8227
@Qwertie- this is fixed in 3.3, we'll backport it to 3.2 line in later patch releases

[2017-08-14 12:59] JasonStoltz opened #8228 "Split Shipments feature in Admin hasn't been updated to use the new `InventoryUnit.quantity`"
## Context

The 3.3.0 release notes mentions the following:

This is true when creating an order. However, when splitting a shipment via Spree Admin, the following code executes, which does NOT use this new methodology:

https://github.com/spree/spree/blob/ccf237f9bf489db716a548efca10f3d31d467638/core/app/models/spree/order_inventory.rb#L78

This code still attempts to create an `InventoryUnit` pe

[2017-08-14 13:15] JasonStoltz commented on #8228
I dabbled with this briefly, but I'm not super confident I'll be able to fix it. I was hoping there was someone else available, who's more familiar, that might be able to resolve it. If not, then I could give it a go.

[2017-08-15 16:16] aminhs opened #8230 "Split Order Payment by Authorizing each shipment separately"
Braintree does not support partial payments in a single order authorization with more than one shipment when I set auto_capture_on_dispatch = true in Spree. It works for the first capture attempt but on second attempt will raise below error.

Gateway Error
 --- !ruby/object:ActiveMerchant::Billing::Response
params:
 braintree_transaction:
 message: Cannot submit for settlement unless status is aut

[2017-08-16 15:56] aminhs commented on #8230
Any idea how to authorize order total payment by shipments instead of authorizing the entire order.total ??
I was thinking something like retrieving all order shipments
shipments.each do |shipment|
   amount = shipment.final_price_with_items
  #authorize! somehow
end

[2017-08-17 08:16] #7996 closed

[2017-08-18 03:00] Qwertie- opened #8233 "Clickable area for drop down icon on /admin/taxonomies/:id/edit is misaligned"
The area you can click on the taxonomies edit page to drop down the list is misaligned with the icon.

## Actual Behavior
Clicking anywhere under the first half of the arrow icon doesn't register as a click however clicks over the icon register fine.

## Your Environment
gem 'spree', '\~> 3.2.1'
gem 'spree_auth_devise', '\~> 3.2.0.beta'
gem 'spree_gateway', '\~> 3.2.0.beta'

[2017-08-18 16:58] lelelelemon opened #8235 "pluck.sum to sum"
core/app/models/spree/payment.rb:      offsets.pluck(:amount).sum
core/app/models/spree/tax_rate.rb:        pluck(:amount).sum

could be changed to
offsets.sum(:amount)
sum(:amount)
it's similar with pull request https://github.com/spree/spree/pull/6950

[2017-08-18 17:23] damianlegawiec commented on #8235
Good catch 👍

[2017-08-19 07:55] swapab opened #8236 "SSL link in description guides.spreecommerce.org is not working. Works without SSL"
![spree spree spree is a complete open source ecommerce solution for ruby on rails](https://user-images.githubusercontent.com/1291980/29484686-8c8d5140-84e1-11e7-8746-0156bbf07fe0.png)

Link in description is not working https://guides.spreecommerce.org/

## Possible Fix

1. https://guides.spreecommerce.org/ should work (Recommended)
2. OR update the link to use non-secured link http://guides.spre

[2017-08-21 02:15] lelelelemon commented on #8235
Also,
/core/app/models/spree/shipping_calculator.rb      18: content_items.map(&:amount).sum"
core/app/./models/spree/exchange.rb:17:      Spree::Money.new @reimbursement_objects.map(&:total).sum
core/app/./models/spree/tax_rate.rb:47:        pre_tax_amount /= (1 + included_rates.map(&:amount).sum)
core/app/./models/spree/stock/package.rb:54:        matched_contents.map(&:quantity).sum

The map(:x

[2017-08-21 03:11] lelelelemon opened #8237 "count > 0 vs exists?"
[code]
could be
[code]

[2017-08-21 03:12] lelelelemon commented on #8237
Also, if needed , I can make a pull request.

[2017-08-21 05:42] Qwertie- opened #8238 "Some API returns HTML instead of an error message if you don't set the price."
## Context
When creating a new product with the API if you send nil for the price instead of getting an error about this you get a full HTML/CSS/JS page.

## Expected Behavior
An error such as "(Must supply price for variant or master.price for product.)".

## Actual Behavior

`<!DOCTYPE html> <html lang="en"> <head> <meta charset="utf-8" /> <title>Action Controller: Exception caught</title> <styl

[2017-08-21 06:06] tanmay3011 commented on #8237
Hey @lelelelemon

Thanks! Feel free to raise a PR.

[2017-08-21 06:10] tanmay3011 commented on #8235
Hey @lelelelemon, Feel free to raise a PR.

[2017-08-21 06:14] damianlegawiec commented on #8238
@Qwertie- this is fixed in 3.2.3, just run `bundle update spree`

https://github.com/spree/spree/releases/tag/v3.2.3

[2017-08-21 06:14] #8238 closed

[2017-08-21 06:31] lelelelemon commented on #8235
will do that soon

[2017-08-23 04:43] Qwertie- opened #8242 "Show units in variant edit pages."
## Context
Would be nice to have the variant edit page clarify which units should be entered into the input boxes

## Expected Behavior
![screenshot from 2017-08-23 14-05-54](https://user-images.githubusercontent.com/6601505/29599121-316bf6a2-87bd-11e7-9e62-abc64a164545.png)

## Actual Behavior
![screenshot from 2017-08-23 14-10-44](https://user-images.githubusercontent.com/6601505/29599136-423b4a

[2017-08-25 09:25] wojtekwisniewski opened #8251 "The admin gets 500 error when tries to add stock transfer without variant"
## Context
As an Admin I tried to add a new stock transfer. There was no information that I should fill the variants field in order to proceed further.

## Expected Behavior
The admin should be informed with a flash message that he cannot add new stock location without the variant.

## Actual Behavior
The admin experience 500 error when tries to add stock location without the variant.

## Possible

[2017-08-25 13:09] pastullo commented on #7929
Same problem with v3.2.3
The folder is missing those partials

[2017-08-28 10:01] justinemar opened #8255 "Products not showing on store page"
https://jiasapparel.herokuapp.com/
I am not able to see the products on spree store page. it just displays "No products found". I have already run the following.. and restarted heroku still same result.
bundle exec rake db:migrate
bundle exec rake db:seed
bundle exec rake spree_sample:load

[2017-08-28 10:27] justinemar commented on #8255
UPDATE: I can login on the backend and copy the settings from the local project , basically re-adding things like prototypes/properties etc.. is this normal? or should i have the same interface from my local project with the samples products showing?

[2017-08-28 10:47] #8255 closed

[2017-08-30 03:57] #8098 closed

[2017-08-31 04:52] santhosh18 commented on #7359
I am getting the same error.. what should I install?

[2017-08-31 04:59] santhosh18 commented on #7359
ExecJS::ProgramError in Spree::Home#index
Showing C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/spree_frontend-3.3.0/app/views/spree/shared/_head.html.erb where line #7 raised:

TypeError: Object doesn't support this property or method
Extracted source (around line #39):
        begin
          extract_result(@runtime.exec_runtime(filepath), filepath)
        ensure
          File.unlink(tmpfile)

[2017-08-31 20:49] damianlegawiec commented on #8251
Fixed via https://github.com/spree/spree/pull/8254

[2017-08-31 20:49] #8251 closed

[2017-09-01 08:12] wojtekwisniewski opened #8260 "Deleting the user with order cause 500 error and corrupts admin panel"
## Context
Whenever the admin decides to delete the user that has already placed an order in past, he will experience 500 error and corrupted admin panel layout.
For more information please open screenshot below.

## Expected Behavior
To avoid the issue like this there should be a flash message that the admin is not able to delete the user with order and it's not recommended to try that option.

#

[2017-09-01 08:19] wojtekwisniewski opened #8261 "In My Account tab there is no information about Store Credits"
## Context
Whenever the User enters My Account tab there is no information present about Store Credits. The user is not informed in any way how much Store Credits he still owns.

## Expected Behavior
For the User value of Store Credits should be present always in My Account tab.

## Actual Behavior
The user is not informed in any way how much Store Credits he still owns.

## Steps to Reproduce
1.

[2017-09-01 08:49] damianlegawiec commented on #7788
Fixed via https://github.com/spree/spree/pull/7452

[2017-09-01 08:49] #7788 closed

[2017-09-03 22:15] 99cm opened #8262 "No products found"
my store ypill.com, which had run about three months, run into "no products found" today. Taxonomies are displaying, but "no products found" anywhere.
ruby 2.3.0;
rails 5.0.2
spree 3.2.1

## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1. http://www.ypill.com/
2.
3.
4.

## Your Environment

* Version used: 3.2.1
* Gemfile and Gemfile.lock as text in a

[2017-09-04 07:42] wojtekwisniewski opened #8263 "Switching Quantity of a product during Return Authorization process cause issues with calculator"
## Context
I wanted to check the functionality of the Quantity button inside Return Authorization. Switching it caused the problem with a calculator.

## Expected Behavior
There should be no option to bump Quantity if the user ordered a certain number of a product.

## Actual Behavior
Switching Quantity multiple times and approving changes will cause the site to present wrong value of returned pro

[2017-09-04 07:54] tanmay3011 commented on #8261
Will give a PR for this soon.

[2017-09-04 08:25] damianlegawiec opened #8264 "Extend Segment.com integration"
Spree 3.3 [introduced Segment.com integration](http://guides.spreecommerce.org/release_notes/spree_3_3_0.html#segmentcom-tracker-integration) via Analytics Trackers. Spree 3.4 [extended it's scope](http://guides.spreecommerce.org/release_notes/spree_3_4_0.html) even more.

Currently, we're not tracking all of the [e-commerce events](https://segment.com/docs/spec/ecommerce/v2/). More events will fo

[2017-09-04 12:42] tanmay3011 commented on #6882
@damianlegawiec We already have an extension https://github.com/vinsol-spree-contrib/spree_promo_users_codes. So you can have a look and check whether it can be moved in or need any changes.

[2017-09-04 14:10] damianlegawiec opened #8265 "Frontend Views Exporter"
While we're moving away from [deface](https://github.com/spree/deface) we want to ease the pain of customizing the default spree frontend for developers. That's why we're planning to add an option to spree generator to copy [views from frontend](https://github.com/spree/spree/tree/master/frontend/app/views) to your project.

- [X] copy views generator
- [ ] update Spree documentation to recommend

[2017-09-04 14:14] kevynlebouille commented on #8265
@damianlegawiec deface will still in use for contrib ?

[2017-09-04 14:17] damianlegawiec commented on #8265
@kevynlebouille deface won't be removed for a long time but for frontend customization, we recommend overwriting the views hence the exporter feature. We'll still thinking about better way to inject custom views code by extensions/developers for admin panel

[2017-09-04 14:59] damianlegawiec opened #8267 "Multi-store management in Admin Panel"
Spree 2.3 [introduced Store model](https://github.com/spree/spree/commit/dcdb1715be5d66c2b6099e448f85270cc6641782) but still we don't have any options as a Store owner to manage multiple stores in a single instance. We only have the General Settings tab. We should extend the Admin Panel UI to let store owners manage more than one store.

Related to https://github.com/spree/spree/pull/8078

[2017-09-04 15:04] damianlegawiec opened #8268 "Rubocop cleanup"
We all know that Spree codebase needs some cleaning and we've waited for the best moment to perform such cleanup. The moment is now. 3.4 release will be much smaller than releases before it so we can do a massive change like this.

- [X] update [rubocop.yml](https://github.com/spree/spree/blob/master/.rubocop.yml)
- [ ] `rubocop -a api`
- [ ] `rubocop -a backend`
- [ ] `rubocop -a cmd`
- [ ] `rubo

[2017-09-04 16:25] damianlegawiec opened #8270 "Guides 2.0"
Currently, [Spree guides](guides.spreecommerce.org) are generated by [nanoc](https://nanoc.ws/) and are using the old design without responsiveness. There's also no search at all.

Our action plan for Guides 2.0:
- [X] migrate to more modern static website generator (we've chosen [Gatsby](https://www.gatsbyjs.org))
- [X] add new RWD design
- [x] add search

👀 Preview: ➡️ https://spree-guides.now.s

[2017-09-04 16:44] damianlegawiec opened #8271 "DEPRECATION WARNING: The behavior of `changed?` in OrderInventory"
When running specs on CI:
[code]

[2017-09-04 23:02] #8263 closed

[2017-09-05 11:38] bbonislawski commented on #8271
Method `verify` from OrderInventory is called from `after_save` and `before_destroy` callbacks in Spree::LineItem.
Behavior of `changed?` is changed only in `after_save` callbacks so changing you cannot simply replace `changed?` with `saved_changes?` because it breaks `before_destroy` callback.

[2017-09-05 13:22] joshRpowell commented on #8270
@damianlegawiec a few thoughts

- [Netlify](https://www.netlify.com/pricing/).  Their Bronze plan would work in this case.
- Algolia's [Docsearch](https://community.algolia.com/docsearch/)

Also, we would be glad to help in any way.

[2017-09-05 13:44] bbonislawski opened #8278 "DEPRECATION WARNING: Locking a record with unpersisted changes is deprecated in Frontend CheckoutController"
From specs on CI:
[code]

[2017-09-06 09:01] #8235 closed

[2017-09-06 10:29] damianlegawiec opened #8284 "Make Address#require_phone? configurable"
[This setting](https://github.com/spark-solutions/spree/blame/master/core/app/models/spree/address.rb#L101) shouldn't be hardcoded, it should be handled via [Preferences](http://guides.spreecommerce.org/developer/preferences.html), so developer won't be forced to create a model decorator just to change a simple thing like this.

[2017-09-06 10:43] damianlegawiec opened #8285 "Move to Bootstrap 4.0"
Bootstrap 4.0 release date is getting closer and we should consider moving both Frontend and Admin Panel to the new version in future Spree releases.

- [X] [Frontend](https://github.com/spree/spree/issues/8286)
- [X] [Admin Panel](https://github.com/spree/spree/issues/8287)

We should use [the official gem](https://github.com/twbs/bootstrap-rubygem) instead of bootstrap-sass ([details why](https:

[2017-09-06 10:44] damianlegawiec opened #8286 "New fully responsive default frontend"
The current default frontend which was introduced in `Spree 3.0` isn't fully responsive. We should consider changing theme to something modern and move it to `Bootstrap 4.0`

[2017-09-06 10:44] damianlegawiec opened #8287 "New fully responsive Admin Panel"

[2017-09-06 10:47] damianlegawiec opened #8288 "API v2 - Storefront"
<p>
      Storefront API v2 is a modern REST API based on the
      <a href="https://jsonapi.org/" target="_blank">JSON API spec</a>
      which provides you with necessary endpoints to build amazing user
      intefaces either in JavaScript frameworks or native mobile libraries.
    </p>
<p>
Swagger (OpenAPI 3.0) docs: <a href="https://github.com/spree/spree/blob/master/api/docs/v2/storefront/ind

[2017-09-06 12:13] #8237 closed

[2017-09-06 13:13] #8284 closed

[2017-09-07 01:34] DamianPereira opened #8292 "Products api is not working on brand new spree store"
## Context

I'm trying to setup an spree store following the steps on the [Getting started](http://guides.spreecommerce.org/developer/getting_started_tutorial.html) guide. After doing all steps I can start a rails server and see the store working. I can browse products without problem , and I can also login as admin and get the api key.

Everything seems to work, but when I try to use the api for

[2017-09-07 01:59] DamianPereira commented on #8292
Updating to ruby 2.4.1 did not fix the issue. Error is exactly the same, except now everything is under  /var/lib/gems/2.4.0/gems/

[2017-09-07 04:43] Qwertie- opened #8293 "Remove duplicated title from orders/show"
When viewing an order page the title "Order: number" is shown twice which doesn't look great.

## Context
![screenshot from 2017-09-07 13-51-17](https://user-images.githubusercontent.com/6601505/30145882-1623fb56-9384-11e7-80af-4423041f43ee.png)

## Expected Behavior
The title should only be shown once.

## Possible Fix
Remove [`accurate_title`](https://github.com/spree/spree/blob/0fd8449cefb82eda

[2017-09-07 10:51] #8293 closed

[2017-09-07 11:00] damianlegawiec commented on #8292
This will be fixed with Rails 5.1.4 release ( https://github.com/rails/rails/blob/v5.1.4.rc1/activerecord/CHANGELOG.md second item in the changelog)

[2017-09-07 11:03] #8268 closed

[2017-09-07 11:23] damianlegawiec opened #8296 "Prepare 3.4 release notes"

[2017-09-07 11:39] #7881 closed

[2017-09-07 11:40] damianlegawiec commented on #7960
This https://github.com/spree/spree/pull/8289 should fix most of those issues

[2017-09-07 11:40] #7960 closed

[2017-09-07 12:27] DamianPereira commented on #8292
Thanks! I wanted to use postgres for deployment, but since sqlite was the default DB I thought it was fine for dev. Should the getting started be updated with a "You might want to change DB engine to postgres, here's how"?

[2017-09-07 23:09] stevensona opened #8298 "spree changes belongs_to_required_by_default for entire application"
## Context
In a rails 5 application, adding the spree gem disables the new default "belongs_to required" validation on models.

After adding spree to application, models with belongs_to association can be saved without an "owner".

## Expected Behavior
spree's configuration should only affect itself.

## Actual Behavior
spree's configuration requirements are leaking into my app.

## Possible Fix
I

[2017-09-08 06:32] Qwertie- opened #8299 "Save my address checkbox split off from label on mobile."
## Expected Behavior
Checkbox should sit next to label

## Actual Behavior
![screen shot 2017-09-08 at 15 55 07](https://user-images.githubusercontent.com/6601505/30198732-bfed7196-945e-11e7-8eab-7ae560a9ec7a.png)

## Possible Fix
It's pretty easy to fix with a few CSS rules. Just `display: inline-block;` on the span that holds them keeps the label and checkbox together. I could fix this and submi

[2017-09-08 13:43] damianlegawiec commented on #8270
@joshRpowell thank you for those links, we're implementing Docsearch with the help of Algolia team for the current guides as we speak :)

[2017-09-08 13:45] damianlegawiec commented on #8270
Also - there is a huge team effort at Spark currently to bring guides content up to date:

https://github.com/spree/spree/pull/8256

[2017-09-08 13:48] #8165 closed

[2017-09-08 13:49] damianlegawiec commented on #8038
We're using Docker at Spark company-wide and we're definitely incorporate Docker into Spree (for sandbox env). Thanks guys for bringing out this topic!

[2017-09-08 13:52] damianlegawiec commented on #7887
@krtschmr @joshRpowell you can find the roadmap here -> https://github.com/spree/spree/milestones?direction=asc&sort=due_date&state=open

We've finally decided to keep it on github in a fully transparent matter

[2017-09-08 13:52] #7887 closed

[2017-09-08 13:53] #8019 closed

[2017-09-08 13:55] damianlegawiec commented on #7829
AMS isn't stable enough ( https://github.com/rails-api/active_model_serializers#status-of-ams ) we're moving all of our efforts for API v2 into jbuilder.

[2017-09-08 13:55] #7829 closed

[2017-09-08 13:55] #7835 closed

[2017-09-08 13:56] #7792 closed

[2017-09-08 13:57] #7795 closed

[2017-09-08 13:57] damianlegawiec commented on #7818
It's fixed :)

[2017-09-08 13:57] #7818 closed

[2017-09-08 13:58] damianlegawiec commented on #7808
Spree 3.3 comes with Paperclip 5.x and AWS SDK > 2 support so we can assume this is fixed :)

[2017-09-08 14:03] damianlegawiec commented on #7647
Should be fixed via https://github.com/spree/spree/pull/8256

[2017-09-08 14:13] damianlegawiec commented on #7594
AMS isn't stable enough ( https://github.com/rails-api/active_model_serializers#status-of-ams ) we're moving all of our efforts for API v2 into jbuilder.

You can track progress in this (epic) issue -> https://github.com/spree/spree/issues/8288

[2017-09-08 14:13] #7594 closed

[2017-09-08 14:16] #7351 closed

[2017-09-08 14:54] BenMorganIO commented on #7594
I would strongly discourage using JBuilder and pursue AMS with a lock on 0.10.x. The reasoning for changing up the API in the first place was because of performance issues. By moving to JBuilder, yes, the syntax gets better, but the primary issue remains unresolved.

Spree will also lose the ability to output to JSON API which is what many individuals still want. I know GraphQL is still picking up

[2017-09-08 15:02] hhff commented on #7594
It would be great to do a proper RFC process here - there's plenty of folks out there who love Spree but don't love westling with the API v1!

I would guess most folks these days are looking for a "machine readable" format, rather than a classic API style - something friendlier to FE frameworks than the current format.

Using AMS & JSON:API would solve for that, but if we're not going that directi

[2017-09-08 15:32] damianlegawiec commented on #7594
@BenMorganIO @hhff we're not fully settled with the selected tech, but AMS development roadmap and their versioning is completely off. 1 year ago it looked like a perfect fit, but currently - it would be highly dangerous to base the entire platform on this library. We at Spark were huge AMS users and we share your pain but for an e-commerce framework like Spree that powers thousands of retailers w

[2017-09-08 15:46] hhff commented on #7594
Rad!  Totally understand & makes sense.

I'm more interested to know what the core innovation of the work would be?  Would it be emulate JSON:API?  Would it be to refactor the checkouts API?  etc.  I'd love to see a formal RFC for the work!

[2017-09-10 10:21] AhmedAliIbrahim commented on #8204
any updates for this issue ?

[2017-09-10 15:40] DamianPereira commented on #8292
I updated to rails 5.1.4, and recreated everything, but the bug still persists. Is there anything else I should do?

[2017-09-11 08:06] #8292 closed

[2017-09-11 11:15] piotrpanko opened #8306 "The User cannot see uploaded Icon in the Taxonomy and is not able to delete it"
## Context
I tried to add the Icon for my created Taxonomies. After uploading the image I was not able to see if it uploaded properly and I wasn't able to delete it.

## Expected Behavior
The User should be able to delete previously uploaded Icons to the Taxonomy.

## Actual Behavior
The User is not informed if the Taxonomy already has Icon and there is no possibility to delete Icons from the Taxo

[2017-09-11 15:48] bbonislawski opened #8309 "Update javascript libraries in vendor directories"
Javascript libraries in vendor directories are outdated. To avoid problems in future, we should update or replace them with something different.

- [ ] backend/vendor/assets/javascripts/jquery.jstree/jquery.jstree.js
- [ ] backend/vendor/assets/javascripts/handlebars.js
- [ ] backend/vendor/assets/javascripts/modernizr.js
- [ ] backend/vendor/assets/javascripts/underscore-min.js
- [ ] backend/vend

[2017-09-11 15:56] #8233 closed

[2017-09-11 16:17] #8278 closed

[2017-09-11 18:53] bbonislawski commented on #8298
Fixed in #8297

[2017-09-12 01:08] Qwertie- opened #8310 "Javascript breaks open in new tab on /admin/taxons"
When displaying the products in a taxon it is impossible to open the products in new tabs. Opening in a new tab opens the page "javascript:;". It is also impossible to go back to the taxons page because it gets blanked out when you use the browser back button and the page must be reloaded to get the javascript to work again.

## Expected Behavior
The edit button should function as a normal link an

[2017-09-12 07:10] bbonislawski commented on #7929
It's fixed with #8200 so no problem in 3.3+ . @damianlegawiec should we backport it to older versions?

[2017-09-12 07:53] #7929 closed

[2017-09-12 08:11] damianlegawiec commented on #7929
@bbonislawski we should backport it, I've added proper labels to #8200

[2017-09-12 12:47] damianlegawiec opened #8312 "Use API for adding items to the cart on Frontend"
Currently, we use [OrdersController#populate](https://github.com/spree/spree/blob/master/frontend/app/controllers/spree/orders_controller.rb#L42) for adding items to the Cart. This should be handled via API. This way we won't duplicate logic across the project and we can do this by ajax call enhancing user experience.

We should use new API endpoints from https://github.com/spree/spree/issues/8288

[2017-09-13 10:55] damianlegawiec opened #8313 "Reorganize Admin Panel Configurations section"
Currently, the `Configurations` section is cluttered, messy and highly confusing for store owners. Navigation among all of those options is also an issue.

We should think about reorganizing and grouping similar concepts (eg. stock management).

[2017-09-14 14:35] #8260 closed

[2017-09-14 16:37] #8299 closed

[2017-09-15 00:54] Qwertie- commented on #8312
Nice idea, Ajax would also allow adding to cart without reloading the page. With one of my stores we have a dropdown that comes down when you add an item to the cart which uses Ajax.

[2017-09-15 08:56] bbonislawski commented on #8227
done with #8321

[2017-09-15 08:56] #8227 closed

[2017-09-15 10:03] bbonislawski commented on #8164
Can you provide more details like spree version, rails version, ruby version, browser? I've tried to reproduce it and I couldn't
![screen shot 2017-09-15 at 12 00 30](https://user-images.githubusercontent.com/7106611/30477517-b58fa57a-9a0d-11e7-988c-032e6b54d56e.png)
and after change
![screen shot 2017-09-15 at 12 00 34](https://user-images.githubusercontent.com/7106611/30477516-b571f94e-9a0d-11e7

[2017-09-15 11:45] #8211 closed

[2017-09-15 13:32] damianlegawiec commented on #8236
fixed

[2017-09-15 13:32] #8236 closed

[2017-09-15 14:35] #8310 closed

[2017-09-15 17:17] thanhtungka91 opened #8331 "Stripe Gate send wrong total"
Send wrong total order to stripe gate in VND currency
## Context
With VND currency, sending the total number when check out is not correct
Example: total order 3,000,000 -> send to Stripe Gateway is 3, 000

## Expected Behavior
it should be sent total order same with the price in web

## Actual Behavior
from the server

![image](https://user-images.githubusercontent.com/3795067/30494968-1d048bc2-9

[2017-09-16 01:41] hf2186 opened #8332 "Multiple Exchanges & Returns cause invalid state transition"
When exchanging for a second time or returning after an exchange and invalid state error happens. This is because the order is already in the "returned" state.

## Expected Behavior
You should be able to do as many exchanges as you wish

## Actual Behavior
During the second exchange a 500 error is produced when trying to create a customer return in the admin panel.

## Possible Fix
Add "Returned"

[2017-09-16 01:44] hf2186 commented on #8332
https://github.com/ShopFelixGray/spree/commit/4d06975a1d11da3f5866c36fb2f4c3b58d239ebd

This fix worked for me.

[2017-09-18 02:53] Qwertie- commented on #8331
Just wanted to mention, if that scribbled on info is sensitive you might want to do a better job on it because its still basically fully readable.

[2017-09-18 08:39] bbonislawski commented on #8332
Hello @hf2186, thanks for posting the fix. Would you be interested in making PR with this fix?

[2017-09-18 13:46] damianlegawiec opened #8339 "Migrate to yarn / webpacker for Admin Panel"
[Spree 3.3 was released with Rails 5.1 support](https://guides.spreecommerce.org/release_notes/spree_3_3_0.html) so we can start migrating the Admin Panel to a newer UI with the help of modern JavaScript / frontend technologies like Yarn, React and so on. This will greatly enhance the user experience and also will allow more rapid development of the interface. The first step to that is to start us

[2017-09-18 13:47] hf2186 commented on #8332
https://github.com/spree/spree/pull/8338 added it to 3-1 branch. Should I update other branches as well?

[2017-09-18 14:42] jbentes commented on #8265
I use the command:
rails generate spree:frontend:copy_views

And got this:
Could not find generator 'spree:frontend:copy_views'. Maybe you meant 'spree:custom_user', 'devise:shared_views' or 'spree:auth:install'

[2017-09-18 14:45] damianlegawiec commented on #8265
@jbentes  what version are you using? This feature is available in `3.4.0.beta` / `master`currently which wasn't released to rubygems yet

[2017-09-18 16:11] jbentes commented on #8265
I'm using 3.3.0
When are you planning to release to rubygems?

[2017-09-18 16:16] damianlegawiec commented on #8265
@jbentes we're aiming to release `3.4.0.rc1` this week, maybe even tomorrow

[2017-09-18 16:27] jbentes commented on #8265
Great. Thank you

[2017-09-19 09:24] damianlegawiec commented on #7446
This was depercated in 3.3.0 removed in 3.4.0 via https://github.com/spree/spree/pull/8275

[2017-09-19 09:24] #7446 closed

[2017-09-21 15:57] #8296 closed

[2017-09-21 22:49] edmondchui opened #8345 "Losing Track of Order State Transition via API?"
## Context

The state of an order can be set manually via the checkout API per this comment:

https://github.com/spree/spree/issues/4927#issuecomment-48252734

As a result, when querying the state change of an order, the state change could be incompletely tracked:

created_at | from | to
-- | -- | --
t1 | cart | address
t2 | address | delivery
t3 | delivery | payment
t4 | delivery | payment

where

[2017-09-22 02:48] Qwertie- opened #8346 "Orders become inaccessible if approver deletes their account"
## Context
If the admin who approved an order deletes their account then the orders they approved can not be viewed anymore.

## Expected Behavior
Not quite sure what the best option would be but making the order fail to load isn't great.

## Actual Behavior
[code]

## Possible Fix
Can work around the error by changing the order `approver_id` to another user.

## Steps to Reproduce
Accept an order

[2017-09-22 05:50] bbonislawski commented on #8068
AFAIK there is no out-of-the-box solution for that and you'd have to implement it by yourself. It won't be hard!

Create decorator for ProductsController like that(I included original index method from Spree API so you can just edit it a little bit):

[code]
and add sorting params with ransack like this: https://github.com/activerecord-hackery/ransack/wiki/Sorting-in-the-Controller

[2017-09-22 07:54] damianlegawiec commented on #8346
1. We should implement `try` in the views
2. After deleting the approver it should nullify all of the `approver_id` columns

@bbonislawski any thoughts?

[2017-09-24 16:03] bbonislawski commented on #8346
@damianlegawiec It's reasonable to do both.

[2017-09-25 01:36] padi commented on #8298
@bbonislawski @stevensona I can verify that the fix doesn't work with Rails 5.1.4 and spree_core 3.4.0.rc1.

Steps to reproduce:
1. rails new userapp
2. $ rails c >> `ApplicationRecord.belongs_to_required_by_default` should return true
3. `bundle add spree_core; rails spree:install:migrations`
4. $ rails c >> `ApplicationRecord.belongs_to_required_by_default` should return true, but now returns fa

[2017-09-25 01:38] padi commented on #8298
@bbonislawski @stevensona I can verify that the fix #8297  doesn't work with Rails 5.1.4 and spree_core 3.4.0.rc1.

Steps to reproduce:
1. rails new userapp
2. $ rails c >> `ApplicationRecord.belongs_to_required_by_default` should return true
3. `bundle add spree_core; rails spree:install:migrations`
4. $ rails c >> `ApplicationRecord.belongs_to_required_by_default` should return true, but now ret

[2017-09-25 05:10] padi commented on #8298
I have a reproducible test app in https://github.com/padi/blog_with_spree with a README guiding you to the app. It's just a Rails 5.1.4 app with a User scaffold.

The 'clean' fix should be one of the following:

1. Make Spree models conform to Rails defaults so that we don't have to override Rails'.
2. (What I did). Customize our ApplicationRecord.belongs_to_required_by_default, which is actually

[2017-09-25 13:18] bbonislawski commented on #8332
@hf2186 I'll handle that. Thanks for your code.

[2017-09-25 14:23] #8332 closed

[2017-09-26 11:37] hf2186 opened #8356 "Shipment Handler Email should be sent after state change"
Sending the shipment email before the state change cause a 500 exception if you use variables (like shipped_at) in the email.

The following order fixes the issue:

https://github.com/ShopFelixGray/spree/commit/b8372cb16894571f2438a3a8010ea04d2792c2a9

[2017-09-27 15:28] #8356 closed

[2017-09-28 09:12] bbonislawski commented on #6942
@damianlegawiec IMHO we shouldn't add more things to core. It's nice to have this as an extension and our core is already huge.
We should keep Spree modular and this is module that you can add if you want. It'll add unnecessary complexity for people that don't want to use it and won't be big help for people that want to use it.
ATM spree_address_book works with every spree 3.1 version and adding i

[2017-09-28 17:52] joshRpowell commented on #8339
One piece of low hanging fruit for this would be select2-rails (newest 4.0.3, installed 3.5.9.1)

[2017-09-29 15:47] bbonislawski opened #8365 "Remove old icon fields from taxon"
In 3.4.0 with #8318 we moved icon to separate class. We don't need fields icon_filename etc. in taxon anymore so we should remove them with migration

[2017-09-29 15:51] #7628 closed

[2017-09-29 15:57] joshRpowell opened #8366 "DefaultPrice#default_price presenting deleted Price"
## Context
- We recently changed Price on one of our Products for the first time.  We noticed that Variants of the same Product with the same NEW Price showed up on an Order with one LineItem at the NEW Price and the other LineItem at the OLD Price.
![line_items_price](https://user-images.githubusercontent.com/6732638/31024089-f86f049a-a50b-11e7-9ef2-828a4e6561e7.png)

- Investigating the Order's

[2017-09-29 16:37] joshRpowell commented on #8366
For reference, the [Paranoia Gem](https://github.com/rubysherpas/paranoia#usage)

[2017-10-01 22:07] htorohn commented on #8292
Hi DamianPereira,

Did you find a fix for this issue? I'm having the same problem with the same configuration as you.

[2017-10-02 06:44] damianlegawiec commented on #8292
@htorohn please upgrade Spree to 3.3.2 - this will resolve the issue

[2017-10-02 08:43] bbonislawski opened #8367 "Add `constantize` param to Spree.user_class"
We always convert return Class from `Spree.user_class` and we have to call `to_s` on it every time we use user_class in any relation. It would be nice to have param `constatize` (with default value `true`  to be consistent with old versions) which would tell if we should return constant or string.

It's easy to change here:
https://github.com/spree/spree/blob/master/core/lib/spree/core.rb#L24

[2017-10-02 09:01] bbonislawski commented on #7503
It was fixed on master with #8308 .
I'll backport it to older versions. Thanks for reporting issue!

[2017-10-02 11:09] bbonislawski opened #8371 "Countries' seeds are not idempotent"
Currently, if you run seeds multiple times, you'll have each country duplicated. We should use something like `first_or_create` in https://github.com/spree/spree/blob/master/core/db/default/spree/countries.rb

[2017-10-02 11:46] bbonislawski commented on #8298
Probably fixed with #8355

[2017-10-02 13:32] bbonislawski commented on #8164
AFAIK it's fixed in #8212 so updating your spree should fix the issue

[2017-10-02 15:04] #7823 closed

[2017-10-02 15:04] #7647 closed

[2017-10-02 17:39] harsh183 commented on #8371
So we basically need to check if the given countries already exist in the database before creating them. Should checking if the `spree_countries` table have any values do for a check? I can't think of anything more flexible.

[2017-10-02 17:41] bbonislawski commented on #8371
@harsh183 you don't have to use this INSERT. You can rewrite it and use ActiveRecord `first_or_create`.

[2017-10-02 18:43] tegon commented on #8367
Hi! Can I tackle this one?

[2017-10-02 18:44] bbonislawski commented on #8367
@tegon yeah! It's yours!

[2017-10-02 20:05] bbonislawski commented on #8151
@andrewkmin thanks for reporting but it's not a bug. `total_on_hand` is not a field in product model. It's value calculated based on stock_items so it cannot be updated like that. You should update stock items in this product instead of updating total_on_hand

[2017-10-02 20:05] #8151 closed

[2017-10-02 20:12] bbonislawski commented on #8141
Hacktoberfest update! It's quite easy to do in https://github.com/spree/spree/blob/master/backend/app/controllers/spree/admin/products_controller.rb#L49

[2017-10-02 20:16] bbonislawski commented on #8038
Hacktoberfest update!
Maybe someone would try to create Dockerfile or share working one?

[2017-10-02 20:22] bbonislawski commented on #8047
Hello @stujo , I know it got a little bit old but do you have problem with current master branch?

[2017-10-02 20:24] bbonislawski commented on #7991
Hello @FX-HAO , I know that it's pretty old but did you find a way to fix your problem?

[2017-10-02 20:26] tonymadbrain commented on #8371
@bbonislawski Hi, something like this #8373 is suitable?

[2017-10-02 20:37] bbonislawski commented on #8371
@tonymadbrain Yeah, it's good. Please make pull request with it! Or tell me if you need support with it. Please put `fixes #8371` in description so it'll close this issue when we merge your PR.

[2017-10-02 20:41] bbonislawski commented on #8371
Fixed with #8373

[2017-10-02 20:41] #8371 closed

[2017-10-02 20:47] bbonislawski commented on #7777
I guess that's the same issue as in #7503. It's fixed with js-tree update. Closing for now, please write here if the problem is still present on master branch

[2017-10-02 20:47] #7777 closed

[2017-10-02 20:54] bbonislawski commented on #7644
You have to create rails application first and then install spree. Spree is just Rails Engine and needs previously created rails application.

[2017-10-02 20:54] #7644 closed

[2017-10-02 20:56] bbonislawski commented on #7639
It doesn't have details and is outdated. Closing for now. If you encounter problem like this, please write a comment here

[2017-10-02 20:56] #7639 closed

[2017-10-02 20:57] #7503 closed

[2017-10-02 21:23] bbonislawski commented on #7361
Hello, I cannot reproduce it on current master. I'm closing it since it's probably outdated. Anyway, thanks for reporting. I really appreciate your help!

[2017-10-02 21:23] #7361 closed

[2017-10-02 22:21] bbonislawski commented on #7150
It's already done on master. https://github.com/spree/spree/commit/287c97b08276132878e55a6640a63a2abcf5eda1#diff-03eba92d54cc437b282ef2e562b78b80

[2017-10-02 22:21] #7150 closed

[2017-10-02 22:25] bbonislawski commented on #6730
We don't use .erb anymore in `shipments.js` so it's outdated.

[2017-10-02 22:25] #6730 closed

[2017-10-02 22:28] bbonislawski commented on #6313
Outdated

[2017-10-02 22:28] #6313 closed

[2017-10-03 07:34] bbonislawski commented on #8367
done with #8374

[2017-10-03 07:34] #8367 closed

[2017-10-03 12:19] harsh183 commented on #8371
Great. Looks good

[2017-10-03 12:29] harsh183 commented on #6503
Quick question, but what are you trying to do?

[2017-10-04 15:20] #8265 closed

[2017-10-04 18:01] tegon commented on #8365
I can do this one. Is it just to remove the column from the database?

[2017-10-04 18:20] hxegon commented on #7647
Sorry about not closing this myself, just saw the notification email buried in my inbox. Thanks @wojtekwisniewski, @damianlegawiec 🍻

[2017-10-04 19:51] damianlegawiec commented on #8365
@tegon correct!

[2017-10-05 11:47] damianlegawiec opened #8377 "Move Analytics Trackers to an Extension"
After talking with @bbonislawski about this and [extending the Analytics model to support multiple engines](https://guides.spreecommerce.org/release_notes/spree_3_3_0.html#segmentcom-tracker-integration) in Spree 3.3 we decided to move this code from core to an extension that could be used even with Spree 3.1 apps. This will make core Spree leaner and easier to maintain.

- [X] copy code from spre

[2017-10-05 17:00] Mirv commented on #8066
I tried a tweet for giggles, not sure it went through - but also saw there were some failing upgrades mid 2016 ... maybe issues making it work in different versions?  http://cmdbac.cs.cmu.edu/repository/radar/ansible-rails-app/?page=11&types=Ruby+on+Rails

I'm not sure what ToS or license the ansible app was under (as it's gone), but there are other repo's out there that look like they were more c

[2017-10-05 20:19] radar commented on #8066
Simple answer is that I deleted it because it was a few versions behind and I wasn’t maintaining it anymore.

[2017-10-05 21:55] Mirv commented on #8066
Ty!  Any recommendations for more current off the top of your head?

[2017-10-06 10:28] ouykjh opened #8380 "S3 attachment configuration in initializer raise error"
When I add S3 configuration for my Spree application it raises exception ```method_missing': undefined method `has_attached_file' for #<Class:0x000000092fe190> (NoMethodError)```

## Solution

The solution is to move s3 configuration to `after_initialize` section in config. Thx @bbonislawski

[2017-10-08 02:36] AminArria commented on #8038
Hi, I'm interested in doing the Dockerfile, but what are you looking for exactly? Do you want it to set up a basic installation in which then you would do:
`rails new project`
`rails g spree:install`

[2017-10-08 12:20] Veske opened #8384 "Payment fails without showing any errors"
## Context
I am trying to test purchasing a product in development environment. I have 3 types of payment options set up:
* Spree::Gateway::Bogus
* Spree::PaymentMethod::Check
* Spree::PaymentMethod::StoreCredit

I can only select the bogus and check methods when buying from the store for some reason. Store credit is not shown.
Once I try to purchase with any of these options, the page will go to

[2017-10-08 17:52] Veske commented on #8384
I can say that the validation error comes from `insufficient_payment?` method `checkout_controller`.
I am not sure why the validation fails for me. My user made one purchase and now in that method there is a check on database where it sums payments and gets some number which is not equal to current orders total. Feels like it's a check if the user has a dept to the shop? In any case... this probab

[2017-10-08 18:01] Veske commented on #8384
Probably I could make a quick fix for this my self also. Or you guys have some bigger plans with this method? To move the validation to model? Probably in real life scenarios this does not really happen often but I would say it's still a possibility.

[2017-10-09 05:37] yatindrarao opened #8388 "Documentation Contribution Guide link is broken"
## Context

On https://github.com/spree/spree#contributing  **by writing or editing documentation** link is broken
## Expected Behavior

It should redirect to https://github.com/spree/spree/blob/master/.github/CONTRIBUTING.md or to documentation contribution guide link.

[2017-10-09 06:56] #8388 closed

[2017-10-09 10:05] FX-HAO commented on #7991
@bbonislawski No, i just downgraded spree.

[2017-10-10 10:14] yatindrarao commented on #8100
I am working on this.

[2017-10-10 11:24] bbonislawski commented on #8384
I think that making purchase without gateway connection setup really doesn't happen too often in production and we shouldn't focus now on this issue. What do you think @damianlegawiec ?

[2017-10-10 13:17] bbonislawski commented on #8038
Hello @AminArria . Thanks for your will to help.

We'd like to have Dockerfile and docker-compose in application created with `rake sandbox` command so in future we could create image in docker hub so any person with docker could fetch image and setup own sandbox of spree. It would be good for people starting with new spree based projects too.

[2017-10-10 16:53] bbonislawski commented on #8306
Fixed in #8318

[2017-10-10 16:53] #8306 closed

[2017-10-10 21:39] AminArria commented on #8038
Oh okey I think I get it. Do you prefer 1 PR for the Dockerfile and docker-compose or 1 for each?

[2017-10-11 06:43] zhengpd opened #8395 "Missing insufficient_quantity api template?"
I saw `respond_with(@order, default_template: 'spree/api/v1/orders/insufficient_quantity', status: 422)` from [here](https://github.com/spree/spree/blob/906205dd0c18dc909aff6d3ac28775452808973e/api/app/controllers/spree/api/v1/checkouts_controller.rb#L72), but can't find the `insufficient_quantity` api template. Am I missing something?

[2017-10-11 09:23] damianlegawiec commented on #8395
@zhengpd good catch!

[2017-10-11 09:55] #8100 closed

[2017-10-11 16:11] #8141 closed

[2017-10-11 16:43] thanhtungka91 commented on #7328
any update?

[2017-10-12 14:32] #8365 closed

[2017-10-12 15:08] damianlegawiec opened #8401 "Update Guides with Segment Analytic Trackers informations"
Current [User guides for analytic trackers](https://github.com/spree/spree/blob/master/guides/content/user/config/configuring_analytics.md) covers (briefly) only Google Analytics integration. We should expand it for Segment also.

[2017-10-13 04:26] yatindrarao commented on #8401
Hello @damianlegawiec,

It seems that the blog entry link for **Google Analytics** is redirecting to some other page.

[2017-10-13 04:43] yatindrarao commented on #8261
Hey @tanmay3011
Are you working on this?

[2017-10-13 04:44] bbonislawski commented on #8401
Hello @yatindrarao , nice catch. I've fixed in #8403 .

Thanks for your help!

[2017-10-13 04:56] tanmay3011 commented on #8261
Not right now! Was working on this earlier in spree_auth_devise extension as this is not related to Spree, but somehow couldn't complete the feature. Will pick this next week.

[2017-10-13 10:46] tanmay3011 commented on #8261
Raised a PR https://github.com/spree/spree_auth_devise/pull/397

[2017-10-13 11:57] yatindrarao opened #8405 "In admin Lifetime Stats does not update Store Credits when Store Credit is deleted"
## Context
When store credits is deleted then it does not update the value in Lifetime Stats below the page. It does on refresh.

## Expected Behavior
It should update the store credit value.

## Actual Behavior
It is updating after page refresh.

## Possible Fix

Update the store credit value in response.

## Steps to Reproduce
1. In admin open Users
2. open Store Credits of any user
3. Add Store

[2017-10-13 12:18] #8261 closed

[2017-10-13 12:38] yatindrarao opened #8407 "In Admin when delete Store Credit Category, Users Store Credit page breaks"
## Context
In admin when we add store credit of any user and then delete the that store credit category. It breaks the page.

## Expected Behavior
It should not break.

## Actual Behavior
User's store credit page breaks so it should be handled.

## Steps to Reproduce
1. In admin create store credit category
2. Add store credit for any user
3. Delete the store credit category
4. Visit user's store

[2017-10-13 12:44] yatindrarao commented on #8407
https://github.com/spree/spree/blob/90bcf2d72f9d96fb5ed3b9187c577f15b2a0fb95/core/app/models/spree/store_credit.rb#L27
allow_nil in delegate will solve this with showing blank in category field.

[2017-10-13 12:50] tanmay3011 commented on #8407
Hey @yatindrarao, Adding `allow_nil` would be hack rather than a proper solution

Solution: Store credit category cannot be deleted if any store credit is associated to it.

[2017-10-13 14:22] alexandre025 commented on #8267
All the [spree-multi-domain](https://github.com/spree-contrib/spree-multi-domain) features will be included ?

[2017-10-15 16:44] wiskirz commented on #8346
Is this issue closed?

[2017-10-15 16:47] bbonislawski commented on #8346
@wiskirz not really. we still don't have second part of solution:
`After deleting the approver it should nullify all of the approver_id columns.`

[2017-10-16 13:45] #8405 closed

[2017-10-16 16:40] damianlegawiec commented on #8264
Closing this because of https://github.com/spree/spree/issues/8377

[2017-10-16 16:40] #8264 closed

[2017-10-20 11:52] #8407 closed

[2017-10-20 11:52] #8346 closed

[2017-10-20 20:48] JonathanKolnik commented on #8068
@bbonislawski what would be the path of a decorator like that?

Thanks!

[2017-10-20 20:51] kitwalker12 commented on #8068
@JonathanKolnik `app/controllers/spree/api/v1/products_controller_decorator.rb`

[2017-10-20 21:31] JonathanKolnik commented on #8068
@kitwalker12 thanks for the quick reply! I can't seem to hit a byebug there. Maybe I am in the wrong area of the code though. I'm trying to convert the frontend search into a global search. I can't seem to figure out what I'm doing wrong so I was hoping to see what params I was passing to the backend. I rendered https://github.com/spree/spree/blob/master/frontend/app/views/spree/shared/_search.htm

[2017-10-22 13:35] ashishcompwiz opened #8418 "Sprockets::filenotfound in Spree::Home#index"
Hi i created a spree extension and installed it. Afterwards i deleted it by removing from the gemfile and running bundle install. it didnt have any migrations. (name was spree_wallet)
After when i run it i get the following error

Showing E:/InstalledPrograms/Ruby23-x64/lib/ruby/gems/2.3.0/gems/spree_frontend-3.3.1/app/views/spree/shared/_head.html.erb where line #7 raised:

Sprockets::filenotfoun

[2017-10-22 13:38] bbonislawski commented on #8418
It's not a bug. Install generator of extension adds requires in
[code]

[2017-10-22 13:38] #8418 closed

[2017-10-22 14:01] ashishcompwiz commented on #8418
thanks also found this thread to be helpful
https://groups.google.com/forum/#!topic/spree-user/YpeGqQrPNfk

[2017-10-24 05:59] hassam-zahid opened #8421 "Define routes for newly created static views in eCommerce Application"
Application routes for new Views

Hi,
I want to add the path of my newly created static View in my application routes file but it is not working. When I add path for the same view in spree directory's frontend->config->routes.rb file, it works fine and I can easily access my new page through my application. But I want to define that route in my own application directory's routes.rb file. How can I

[2017-10-24 13:08] damianlegawiec commented on #8421
@hassam-zahid you can use https://github.com/spree-contrib/spree_static_content gem or you can add your custom routes like described here -> https://guides.spreecommerce.org/release_notes/spree_1_0_0.html#routes

[2017-10-24 13:08] #8421 closed

[2017-10-26 14:27] #8377 closed

[2017-10-27 09:30] #8038 closed

[2017-10-27 18:46] MarkBennett opened #8428 "Provide standard Draper decorators"
I'm trying to integrate some Spree views with our custom branding and templates. As such there's a lot of work I need to do to modify the view. Typically, in other applications I'd use Draper decorators to do this. I've been doing lots of monkey patching to things like the `OrdersController` and `CheckoutController` to decorate the order myself, but it's ugly and requires a lot of hackery I'd rath

[2017-10-27 19:12] MarkBennett commented on #8428
I also forgot to mention that there a quite a few places where we use conditional logic and complex formatting in the standard view code that could be made simpler by using decorators. I'll share some specifics later, but almost anywhere with if-else could benefit. This would also help improve code coverage in the views.

[2017-10-30 07:29] 0xstonegm opened #8434 "Product Variants Bug: Not Even Work for simplest use cases"
## Context

In Spree a product can have variants and there are two types: master variant and normal variants.

Consider this simplest use case:  A T-Shirt with Three Colors: Black , White and Red
* In Spree admin backend, we create a new product and select three variants ( using tshirt-color prototype)
* After the product created, the web page claims that this t-shirt have 3 variants (color Black

[2017-10-30 08:14] bbonislawski commented on #8434
Hello @deeplambda , feel welcomed in Spree world.
Thanks for your suggestion, but this is not a bug. It's expected behavior. You can read about it in our documentation here https://guides.spreecommerce.org/developer/products.html#master-variants

[2017-10-30 08:38] damianlegawiec commented on #8428
Hey @MarkBennett , we don't want to add another dependency to the project (we already have so much ;) and force it on all of the spree developers out there. From a perspective of a team doing huge e-comm projects - the customer frontend is always replaced with a custom solution, either rails controllers or javascript/mobile frontend hitting the API.

We'll be moving most of the complex logic like

[2017-10-30 08:47] deeplambda commented on #8434
Yes. I read it before submit the issue.

If we need to store such information such as SKU and price we need a better clear concept.
SPU belongs to a product should be introduced to do that and its also used by many bigger commerce platforms. This can eliminate the confusing phantom invalid master variant right ?

[2017-10-30 09:17] damianlegawiec commented on #8434
@deeplambda those are all valid points that needs to be analyzed and put into perspective of a general ecommerce engine (fashion retailers, omnichannel, pos, food delivery, online groceries and so on) - it will require a lot of work and will introduce a lot of breaking changes for current store owners - so this design change is a bug deal, it won’t be `fixed` by a single PR :slightly_smiling_face:

[2017-10-30 12:10] MarkBennett commented on #8428
Thanks for the update @damianlegawiec. I wasn't aware that the front-end controllers were being phased out but it makes sense not to add to them given that's the case.

So going forward is the recommended best practice to use what's in `spree-core` and build out your own controllers on the front-end? I've noticed some of the custom extension points in the code around things like updating the order

[2017-10-31 12:14] bbonislawski opened #8441 "No proper error messages when you can't split shipment"
## Context
When you try to split shipment and you enter negative quantity or choose target shipment same as original shipment, you get alert with 'Undefined message'

## Expected Behavior
Alert should contain meaningful message

## Actual Behavior
Message is undefined

## Possible Fix
https://github.com/spree/spree/blob/master/api/app/controllers/spree/api/v1/shipments_controller.rb#L88
https://gi

[2017-10-31 12:16] #8395 closed

[2017-10-31 12:16] damianlegawiec commented on #8395
Fixed via https://github.com/spree/spree/pull/8439

[2017-10-31 13:53] tanmay3011 commented on #8366
Hey @joshRpowell, Something seems to be missing in Steps to reproduce. Did you delete the variant and created a new one?

After changing the price of the new Variant
1. Existing price gets updated
2. No new price is created

So should I delete the existing price?

[2017-11-02 00:30] krtschmr opened #8444 "helper_name conflicts after adding spree to my project"
i added spree to a recent project.
i have issues with `def icon` and `def render_breadcrumbs`. it seems that they also appear in the spree-namespace, thus giving me `wrong number of arguments (given 0, expected 1..2)` errors.

ist there a way to namespace methods or somehow avoid these duplicates?

[2017-11-02 03:50] krtschmr commented on #8286
+1

absolutely we need bootstrap4. it's not alpha anymore but currently `v4.0.0-beta.2`

it's really safe to use it now and updates won't hurt!

[2017-11-02 13:09] bbonislawski commented on #8444
Hello @krtschmr , thanks for reporting your issue. I've renamed `icon` method to `spree_icon` and `breadcrumbs` to `spree_breadcrums`. I didn't see method `render_breadcrumbs` anywhere. #8445

[2017-11-02 15:14] krtschmr commented on #8444
good work!

[2017-11-06 19:29] gus4no opened #8448 "Weight splitter not working for backorderable items"
## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Your Environment

* Version used:
* Gemfile and Gemfile.lock as text in a Gist:
* Any relevant stack traces ("Full trace" preferred):

[2017-11-06 19:53] gus4no opened #8449 "Weight splitter not working for backorderable items"
Splitter is properly breaking up packages, but they're being removed afterwards

## Context
I wanted my heavy items to go in diff shipments each.

## Expected Behavior
When buying two items of the same product with a (200) weight I expect two shipments to be created for each item.

## Actual Behavior
Only one shipment is created with one inventory unit, and the customer is charged fully.

## Possi

[2017-11-06 20:59] jericdeleon opened #8450 "Extensions Tutorial: `require': cannot load such file -- factory_bot (LoadError)"
## Context
I am new to Spree (and Rails in general). I tried following the Spree Developer Guides [here](https://guides.spreecommerce.org/developer/extensions_tutorial.html), but got stuck in the part: *Generating the Test App*.

When the instruction to run `bundle exec rake test_app` in the extension was advised, I tried running it but `rake` complained that `sqlite3` was missing. So I added it i

[2017-11-06 21:01] bbonislawski commented on #8450
Hello @jericdeleon , I'll try to reproduce your problem and fix it as soon as possible. Thanks for reporting your issue, I really appreciate your help!

[2017-11-06 22:52] #8448 closed

[2017-11-07 05:22] bbonislawski commented on #8450
Ok, I investigated this case. It's already fixed on master and we'll soon be releasing patch versions and everything will be ok.
For temporary fix, can you add `factory_bot` gem to your Gemfile?

[2017-11-07 08:35] tanmay3011 commented on #8450
@bbonislawski v3.4.1 still has factory_girl. I guess with the new version release and backporting the factory_bot to previous versions this will get fixed.

[2017-11-07 08:37] bbonislawski commented on #8450
That's the plan too ;) I'm going to take care of it now.

[2017-11-07 09:25] #8228 closed

[2017-11-07 09:26] #8444 closed

[2017-11-07 19:17] lucasruroken opened #8455 "Spree routes, defaults subdomain to false"
Spree version: 3.3
Rails version: 5.1
Ruby version: 2.4.1

I'm setting up a subdomain to handle different type of urls. I'm using something like this
[code]

The main idea is to use spree with subdomain set to false, but when i'm using store.localhost:3000 and i try to print a spree route, the app is printing:
[code]

and if i go to `localhost:3000` the app is printing
[code]

## Expected Behavior

[2017-11-07 20:00] jericdeleon commented on #8450
Ah, just got updated with news of `factory_girl` -> `factory_bot` rename

Anyway, including `factory_bot` gem and doing a global string replace of `FactoryGirl` -> FactoryBot within the extension folder worked

Thanks @bbonislawski !

[2017-11-09 08:08] vincentkedison commented on #5786
same with me

[2017-11-11 03:04] AndiAlfiansyah opened #8456 "item cannot be shipped"
Hello everyone im new in spree

i got problem after checkout in address "item cannot be shipped" and i changes currency to indonesia
and then i create new product and all related products in currency indonesia

*default country indonesia

* Version used: 3-4-stable

[2017-11-13 10:11] #8456 closed

[2017-11-14 00:31] dl103 opened #8457 "Spree::Order#apply_free_shipping_promotions should refresh order's promo totals"
Spree::Order#apply_free_shipping_promotions currently checks and applies eligible free shipping promotions and updates the shipment totals accordingly. However, the order itself needs its promotion totals updated or else the order's `#total` won't reflect reality. In the method's source below, I think adding a `updater.update_adjustment_total` before calling `persist_totals` should fix this bug.

[2017-11-14 00:34] bbonislawski commented on #8457
Hello @dl103 , thanks for reporting bug and finding possible solution.
Do you want to try making PR for that? Or should we take care of this?

I really appreciate your help!

[2017-11-14 00:41] dl103 commented on #8457
certainly, i'll open up a PR in a few minutes. i wanted to double check i wasn't missing misunderstanding the method's intended use first.

[2017-11-14 00:48] bbonislawski commented on #8457
Actually, I just realized that this can lead to more bugs if promotion with FreeShipping action has more actions.  Then it will apply those actions too and (probably) order total will be even more messed. Please use `update_totals` method there

[2017-11-15 00:20] jericdeleon opened #8460 "How to properly add custom (permitted_)*_attributes / piggyback into Spree::PermittedAttributes"
## Context
I am trying to customize a Spree-based project (git@github.com:jericdeleon/angularspree-api.git), and I am in the process of adding a custom Admin-based model (in this app, this model is: `CenterApplication`).

Everything is working fine, but my only gripe is that right now, `center_application_params` (where I set up strong parameters for this model) is sitting in the controller `Spree

[2017-11-15 02:24] Qwertie- opened #8461 "Make image ratio on taxons page fixed"
## Context
If you have product images with lots of different image ratios the taxons admin page looks pretty broken.
## Expected Behavior
A regular grid with boxes of the same size

## Actual Behavior
![screenshot from 2017-11-15 12-52-39](https://user-images.githubusercontent.com/6601505/32815398-cca29a1a-c9ab-11e7-93c4-1bceeab09817.png)

## Possible Fix
Fix the image ratio of the images on this

[2017-11-16 02:19] Qwertie- opened #8462 "Sort by company in user list"
When company name is used for users there should be a way to sort by that in the user list like you can with email.

## Your Environment
[code]

[2017-11-17 02:52] Qwertie- opened #8464 "Allow setting backorderable status from API"
After a stock item is created it is not possible to set `backorderable` from the API.

## Expected Behavior
Should be able to send backorderable to stock_items update API and have it change the value.

## Actual Behavior
Only count on hand can be set.

## Your Environment
[code]

[2017-11-18 02:25] austinklenk commented on #8285
Has there been any work on bootstrap 4.0 migration yet? @damianlegawiec

[2017-11-18 02:39] DrakkenSaer opened #8466 "Create image from local file"
I am trying to do the following:

1. Download image from remote URL
2. Read image file
3. Add said image file to a product

I am all the way up to step 3 where I get  ```ActiveRecord::AssociationTypeMismatch: Spree::Image(#82030500) expected, got File(#15271180)```.

I can't seem to find any documentation about how to add an image from a local file. Could anyone point me in the right direction or

[2017-11-18 13:31] damianlegawiec commented on #8466
try sth like this:
[code]

[2017-11-18 13:31] #8466 closed

[2017-11-18 17:01] austinklenk opened #8467 "Spree crashes when I add taxonomies to backend"
When I go to add a taxonomy to the back admin of spree, then I go to the front end to view it, the site crashes with "We're Sorry, but something went wrong message"

## Context

This is the first time it has happened, if i delete the taxonomy the error goes away, and spree works fine.

I checked the production logs and i went to the tail end of the logs and i got the error or
ActionView::Template:

[2017-11-20 00:17] Qwertie- commented on #8428
It would be great to get everything using the API. Every spree site I have made it has been required to rewrite 80% of the views and a lot of the controllers which means it's now close to impossible to update spree without rewriting most of the website. If the API was used you could just fork the frontend and make it work how you need and freely update the rest of the spree as long as the API vers

[2017-11-20 09:10] #8457 closed

[2017-11-20 09:48] bbonislawski commented on #8467
Hello @austinklenk ,
what operating system do you use? I cannot reproduce this on my machine.

[2017-11-20 10:07] WitekL commented on #8461
Hi! I will try to fix it!

[2017-11-20 11:49] WitekL commented on #8461
Will that be ok? @Qwertie-

![screen shot 2017-11-20 at 12 38 53](https://user-images.githubusercontent.com/19196595/33017043-2247a61a-cdf1-11e7-85ff-be55ec2a2b5a.png)

[2017-11-20 11:50] Qwertie- commented on #8461
Yeah that looks great 👍

[2017-11-20 12:21] austinklenk commented on #8467
This is on the server it’s self, it’s works fine locally but n my laptop. But it’s running on ubuntu 16.04 VM Machine. I’ll get you a link to the server so that you can log into and see it for your self.

[2017-11-20 13:40] austinklenk commented on #8467
@bbonislawski url: mastertechstore.com
email: test@1234.com
pw: admin1234

don't worry there is no real working data on it yet.
You'll have to create the taxonomies to see that it breaks.

[2017-11-20 16:55] #8461 closed

[2017-11-21 23:48] Qwertie- commented on #8467
Where is the code deployed on your VM? Do you think it's possible that one of the paths went over the maximum allowed path length of 4096 chars?

[2017-11-22 01:16] austinklenk commented on #8467
4096 chars? @Qwertie-

[2017-11-22 05:10] Qwertie- commented on #8467
@austinklenk Characters. https://serverfault.com/a/598267/228365

If the website is running somewhere with a long file path you may have hit the limit on linux.

[2017-11-27 12:54] WitekL commented on #8462
Hi @Qwertie-! Could you please provide some details? A screenshot would be awesome!

[2017-11-27 15:30] WitekL opened #8487 "Editing billing and shipping address of a user in the admin panel"
When we want to edit user address we have to fill in both forms, even if the data is the same

## Expected Behavior
Two forms should appear only if both addresses differ.

## Actual Behavior
Two forms have to be filled up with the same data

## Possible Fix
Adding a checkbox that would indicate different addresses

## Steps to Reproduce
1. Go to the admin panel
2. Edit a user
3. Go to addresses ta

[2017-11-27 16:33] dportalesr commented on #8434
You can use `@product.variants_including_master` for that.

[2017-11-28 14:46] damianlegawiec opened #8498 "Rails 5.2 migration"

[2017-11-28 16:30] #8464 closed

[2017-11-30 18:54] ysads commented on #7808
I think this issue isn't fixed yet...

Here, I'm using:
spree **3.3.2**
aws-sdk **3.0.1**
paperclip **5.1.0**

And Spree still stops serving S3 images. It seems that everytime the server crashes - even for the dumbest errors -, the image serving breaks and start to locally find files.

Does anyone know a possible explanation for that behaviour?

[2017-11-30 20:37] kinduff commented on #7808
I ended up decorating Spree's image model:

[code]
Above example is working for me using Amazon's EC2 + S3.

Had to move the `bucket` key outside the `s3_credentials` because it was raising a weird error about `undefined method each` or something. Same error if I put this in the Spree's initializer file.

[2017-12-01 04:13] kinduff commented on #7549
This still happens, any guidance of how to approach it?

[2017-12-01 04:14] krtschmr commented on #7549
we still used it this way.

[2017-12-01 04:21] kinduff commented on #7549
Still works good, tested with 3-4-stable

[2017-12-01 04:56] Qwertie- opened #8499 "Creating a taxon via the API with a blank parent_id causes the admin taxonomy tree to break"
If I run this command

`curl -X POST -d "taxon[name]=test&taxon[parent_id]=" -H "X-Spree-Token:   TOKEN" http://localhost:3000/api/v1/taxonomies/6/taxons`

an invalid taxon gets added spree and the admin taxon tree fails to show all the taxons and instead only shows the one just added

## Expected Behavior
Either a blank value for taxon[parent_id] causes the request to be rejected or the param get

[2017-12-01 23:15] kinduff commented on #7549
@krtschmr
Code above it's giving me troubles in `3-4-stable` if the user makes the following:
1. Add item to cart
2. Click checkout
3. Checkout as guest
4. Go back to cart
5. Empty cart
6. Add new item to cart

This will raise an exception when the method `create_proposed_shipments` is called, specifically this line: `self.shipments = Spree::Stock::Coordinator.new(self).shipments`.

I was able to

[2017-12-01 23:39] krtschmr commented on #7549
no idea. sounds like there should not be an exception, but who knows. i'm not doing any spree at the moment and the project where it runs is not in my hands (they also never upgraded  so it's 3-2 for sure).

i think spree-core should have this functionality. if there is only 1 shipping method, it doesnt actually make any sense to display it and let the user *confirm* it. it's another step and give

[2017-12-03 03:01] kimquy opened #8501 "I created promotion from admin and it not work"
## Context
I created promotion from admin and it not work. And here is what I found in `Spree::PromotionHandler::Cart`

[code]

It never found the promotion to apply because of the query above look for `code is nil` which is not make lot of sense. Maybe I'm missing something

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Your Environment

* Versi

[2017-12-03 03:14] #8501 closed

[2017-12-03 23:44] Qwertie- opened #8502 "Taxons can't be searched in api."
Taxonomies can be searched in the API but not taxons. Would be helpful if taxons could be searched in the same way taxonomies can.

For example `/api/v1/taxonomies/1/taxons?q[name_cont]=brandname`

## Your Environment
[code]

[2017-12-04 03:00] ninja247 commented on #7986
@damianlegawiec

i'm still getting these problems

`
    spree (~> 3.3) was resolved to 3.4.1, which depends on
      spree_core (= 3.4.1) was resolved to 3.4.1, which depends on
        rails (~> 5.1.4)

Running `bundle update` will rebuild your snapshot from scratch, using only
the gems in your Gemfile, which may resolve the conflict.`

i'm trying to add the bit pay gem and it's giving me this e

[2017-12-04 13:17] DethonUSAL opened #8503 "Some payment methods can't work when applying a coupon in the payments page"
## Context
If you apply a coupon in the payments page, the javascript in `payment.js.coffee` will call `submit()`, hijacking the flow from some payment methods which need to wait for some kind of nonce.
An example of this is the spree_braintree_vzero extension.

## Expected Behavior
It should wait for the payment method to finish before submitting.

## Actual Behavior
It submits just after process

[2017-12-04 15:10] damianlegawiec commented on #7986
@ninja247

[code]

`spree_bitpay` extension that you are using demands spree at `3.0.1` , you need to update/upgrade this extension to use `3.4`

[2017-12-04 17:55] ninja247 commented on #7986
thanks for replying. do you know who at @bitpay to update their extension?

[2017-12-05 03:12] Qwertie- opened #8504 "Rename methods named ensure_*"
There are a few methods named in this way like `ensure_line_items_are_in_stock` in my opinion this would look better as `line_items_in_stock?` which follows the convention of ending method names in a ? if they return a bool and makes the name a lot shorter.

Another one is `ensure_line_item_variants_are_not_discontinued` which is quite huge and becomes a little harder to think about (If its not no

[2017-12-05 03:19] Qwertie- commented on #8504
After looking a bit more I can see that these methods usually do a bit more than just returning a bool such as adding errors and restarting checkout flow which might lead to confusion when ending in ? as it may be mistaken for a method that only returns a bool and changes nothing.

[2017-12-05 03:19] #8504 closed

[2017-12-07 04:50] nvphuc1989 opened #8508 "Integrate payment gateway which not submit credit card data directly to the gateway API (bypassing the Spree Commerce server)"
## Context
We are integrate a new payment gateway for Spree Commerce. Here is the work flow (see see attachment):
![image](https://user-images.githubusercontent.com/11606840/33699225-6b780ef0-db44-11e7-9946-72a3544d81ec.png)

At the payment step, customer selects the “New Payment Method” and fill in credit card data.
1. Then click the “Save and Continue” button on the Checkout screen. A client Jav

[2017-12-07 19:52] elfedy commented on #7697
I think this is the same issue as [#5152](https://github.com/spree/spree/issues/5152)

[2017-12-07 20:46] leemour opened #8509 "Rescue nil hiding render errors in promotion views"
I have `config.action_view.raise_on_missing_translations = true`
I stumbled upon a strange behaviour not rendering a promotion_rule form and found that errors are silenced in 2 places by `rescue nil`:
https://github.com/spree/spree/blob/84cf7adee8a1e57ca05cca80c6fef1363c8f8b7b/backend/app/views/spree/admin/promotions/_promotion_rule.html.erb#L10
https://github.com/spree/spree/blob/84cf7adee8a1e57c

[2017-12-08 00:07] leemour opened #8511 "Incorrect use of _state instead of _states for I18n in state changes"
There is a mixup or singular/plural `_state`/`_states` forms in views.

I have `config.action_view.raise_on_missing_translations = true`
When accessing order state_changes ( e.g. `/admin/orders/R074278336/state_changes`) I get an error:

In locale files, `shipment_state` is a string, not a hash containing `backorder` and translates to the equivalent of 'Shipment State'.
There is `shipment_states`

[2017-12-08 04:49] vincentkedison commented on #5786
Hello

[2017-12-08 14:55] yoandrypa opened #8514 "Bug in order importer."
The id of the variant is modified in all lime_item when trying to detect the lime_item in line 97.

The current code is:

https://github.com/spree/spree/blob/84cf7adee8a1e57ca05cca80c6fef1363c8f8b7b/core/lib/spree/core/importer/order.rb#L97

This should be like that:

[code]

[2017-12-08 21:55] JDutil commented on #5786
@vincentkedison sorry I’m not working on this project anymore. I’d recommend filing a new issue for the new maintainers to look at with the relevant details on how to reproduce the problem.

[2017-12-09 15:40] damianlegawiec commented on #8508
Short answer - yes, it's possible :)

You can check Braintree v.zero Spree extension for an example - https://github.com/spree-contrib/spree_braintree_vzero

[2017-12-09 15:40] #8508 closed

[2017-12-10 21:20] damianlegawiec commented on #8514
Thanks for spotting this @yoandrypa 👍 would you care to submit a PR with a fix?

[2017-12-11 09:31] bbonislawski commented on #8441
fixed with #8443

[2017-12-11 09:31] #8441 closed

[2017-12-11 15:46] vincentkedison commented on #5786
Thanks @JDutil, Can you tell me where the new maintainers repo so I can submit this issue?

Here is my problem:
spree/product_decorator.rb
[code]
Error:
[code]

[2017-12-11 15:48] bbonislawski commented on #5786
Hello @vincentkedison ,
we're here. I'm reopening the issue if it still happens to you. Can you provide more details like ruby/rails/spree version?

[2017-12-12 17:13] batalla3692 commented on #8097
+1
I have the same problem setting default logo preference. In both `spree.rb` initializer and `rails console` I cannot change the default value.
My environment is almost the same as @Qwertie-

[2017-12-13 09:27] zhengpd commented on #8148
Seeing the same problem when using Spree 3.2.1. About the fix, I think it's a mutual exclusion between

[code]

and

[code]

since they both update the order's payment_total after a payment completed. So I'm wondering if another fix would be better like:

[code]

[2017-12-14 07:06] willwoodlief commented on #7808
I spent a couple hours tracking this bug before I realized the paperclip settings were being forgotten. The solution of decorating the image model, above, worked for me! Before I fixed it, I was able to trigger this error reliably by throwing an exception in the variant_decorator.rb inside the method available?, then refreshing the same product page again, which had several variants and one image,

[2017-12-14 13:39] ysads commented on #7808
I came to the same scenario as @willwoodlief. It seems that, when an exception is fired, the code within initializers folder gets overwritten by Spree's default configuration. I realized that because I also have a method in image class which becomes "not_found" when an exception gets fired. I'm still very confused about this behaviour... Does anyone know what can possibly cause such strange scenar

[2017-12-14 13:41] bbonislawski commented on #7808
I'll look into that. I've heard about some problems with that and will test that. Reopning issue for now

[2017-12-15 07:37] damianlegawiec commented on #8450
`Spree 3.4.4` fixes this issue

[2017-12-15 07:37] #8450 closed

[2017-12-15 07:41] damianlegawiec commented on #8097
@batalla3692 please upgrade to `3.4.4`

[2017-12-15 13:23] pavels opened #8529 "Wrong shipping method for orders created from admin with admin only shipping method"
On spree 3.4

When you create order from admin interface and use shipping method, which is available only for admin interface, the moment you confirm payment for such order, the shipping method is changed to some (estimated?) shipping method available on frontend.

The problem is that order_updater works correctly only for orders from frontend

I made a patch - https://github.com/pavels/spree/comm

[2017-12-18 15:29] #8514 closed

[2017-12-18 15:34] zjullion opened #8531 "State seeds are not idempotent"
Similarly to https://github.com/spree/spree/issues/8371 , state seeds are not idempotent: if you seed more than once, the same states will be copied.  See https://github.com/spree/spree/blob/master/core/db/default/spree/states.rb .
This will not be as easy to fix as the countries not being idempotent, since raw SQL is being used to create the states, and it's not just a switch to a first_or_create

[2017-12-19 09:12] WitekL commented on #8331
@thanhtungka91 I've verified this issue and we will try to fix it in the nearest future

[2017-12-19 09:21] H-arshit opened #8532 "Product Status In Admin Panel"
When creating a new product in admin panel there is no option to set the product status.
thus new products have status Pending Sale and can't be viewed on the home page.
Spree 3.4.2

[2017-12-19 09:39] #8532 closed

[2017-12-19 10:59] bbonislawski commented on #8271
Fixed with #8506

[2017-12-19 10:59] #8271 closed

[2017-12-20 09:45] #8499 closed

[2017-12-22 09:48] bbonislawski commented on #8529
Hello @pavels ,

In my opinion, it'd be good for us to make that fix. Please make a pull request and I'll take more time to confirm it.

Thank you! I really appreciate your help

[2017-12-24 15:56] #8531 closed

[2017-12-27 17:22] #8487 closed

[2018-01-03 22:41] shalliburton opened #8540 "Double processing payments"
Hi,

We are currently experiencing an issue with Credit Card Payments in our implementation of Spree. For some of the orders that users pay with a credit card, the payment will complete but not process for a few days. In some cases, when the payment process, it creates 2 capture events. For instance, a user made a purchase on a Monday, but the payment did not process until Wednesday at which time

[2018-01-08 21:17] mikeyduece commented on #8152
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-01-08 22:02] damianlegawiec commented on #8152
Hi @mikeyduece we're happy to get your help on this issue! All Contributements are always welcome! Thank you :)

[2018-01-08 22:40] mimilettd commented on #8503
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-01-09 16:37] vaidashi commented on #7734
Hi there! @djtrujillo and I are first-time contributors and were hoping to help out with this issue. We noticed nobody was assigned to it, but if there’s already a solution in progress we're happy to try helping out elsewhere. Thanks!

[2018-01-09 21:42] mimilettd opened #8543 "+/- quantity field in item show page and checkout page changes drastically by mouse hover"
## Context

When you visit a product show page, for example, `http://localhost:3000/products/ruby-on-rails-tote` and try to adjust the quantity by clicking the increase or decrease selector, the quantity will increase drastically if you leave your mouse hovered over the selector. For example:

### Actual Behavior
<img src="http://g.recordit.co/7uax5KexCc.gif" alt="issue">

When you visit the check

[2018-01-10 10:51] bbonislawski commented on #8543
I've tested it on Safari, Chrome and Firefox. Couldn't reproduce your problem.

The only reason I can think of is that it's your browser freezing and when you click it's like you're holding button for some time.

Can someone reproduce it too?

[2018-01-10 21:01] #5633 closed

[2018-01-18 15:03] Onumis opened #8546 "Strange assignment that looks like it should be a comparison on Frontend OrdersController"
I was reading the code when I noticed [this method:](https://github.com/spree/spree/blob/master/frontend/app/controllers/spree/orders_controller.rb#L78):

[code]

I think that it should be `if @order == current_order` (a comparison) instead of the assignment.

The only case where this evaluates to false is then `current_order.nil?` is true.

If the intention is to only call `empty!` when the order

[2018-01-18 15:09] bbonislawski commented on #8546
I'm not an author of this code but I think that it should be like this. `current_order` is method that returns order, so assigning it to `@order` before redirect totally makes sense for me.

If you think that it's mistake, please mention me in comment.

[2018-01-18 15:16] Onumis commented on #8546
@bbonislawski Yeah I can see that as a use case, although I don't like that type of writing personally.
Additionally, if it's a redirect, it's useless to define a new instance variable (takes up ram, etc) `current_order.try(:empty!)`.

[2018-01-18 15:18] bbonislawski commented on #8546
Can you make pull request for that? I'll test it then and happily merge if it works 👍

[2018-01-18 18:18] einSelbst commented on #7823
Having spent a couple of hours with this issue myself now I would like to add what was the solution in my case.
I did update spree from 3.09 -> 3.4.4, rails from 4.2.2 -> 5.1, ruby 2.2.3 -> 2.4.2
Because reasons I had to dump the database -> restore locally -> migrate -> dump again and restore into upgraded production system.

Among other things I run into the error mentioned here in this issue. T

[2018-01-20 07:46] sean-smithy1 opened #8548 "rake paperclip:refresh Error with 'NotIdentifiedByImageMagickError'"
Not sure if this is the right place for this or if it's more a paperclip issue.

I am trying to refresh my images on my new spree (3.4.4) installation.
I've tried several versions of the rake task `rake paperclip:refresh`, that I have found on the internet as well as: `Spree::Image.all.each { |i| i.attachment.reprocess!(:product) }` from the console.

All attempts error with:
Paperclip::Errors::No

[2018-01-21 17:33] Dragsbaek commented on #5786
Same thing happening to me

[2018-01-23 15:54] rczjns commented on #5786
Same here

[2018-01-23 17:01] rczjns commented on #5786
quick fix for this issue: initialize the enum if it has not initialized already

`enum statuserandom: [ :waiting_for_approvale, :shippingsdcv, :rejectedsd, :listing_processsd, :enabledsd, :disabledscd] unless self.instance_methods.grep(/statuserando_waiting_for_approvale/)`

[2018-01-24 08:42] #6396 closed

[2018-01-24 23:42] joeswann opened #8562 "order.last_ip_address doesn't always save"
The `Spree::Core::ControllerHelpers::Order` `current_order` definition assigns a last_ip_address to the order but doesn't appear to save it.

## Details
I was working on getting the geocoder gem to derive some information from a users IP address - in doing so I discovered that the current_order function assigns a last ip address to the order but doesn't appear to immediately save it.

If the curre

[2018-01-26 12:48] artplan1 opened #8566 "Spree extensions tests against ruby 2.5.0 fail"
I'm trying to test built extensions against ruby 2.5.0 but `Setting up dummy database...` fails.

## Context

I'm using `apprailsals` to test on travis-ci

link to example build: https://travis-ci.org/public-market/spree_multi_vendor/jobs/333226153

<details>
<summary>Travis CI log</summary>

[code]
</details>

One thing is unclear to me is - why it doesn't fail using ruby 2.4.3 on CI? Build: http

[2018-01-31 04:40] victortorrescosta opened #8569 "Updating order through API returns order to ADDRESS state"
When updating an order through the OrderUpdateAPI, using Spree 3.2.7.

https://guides.spreecommerce.org/api/checkouts.html#updating-an-order

It causes the order to return to the ADDRESS state. Since there is no documentation regarding this, I would like to know if it's intended or a bug.

## Context

I would like to use order update API to update order contents without necessarily changing state.

[2018-01-31 15:11] saravanak commented on #8562
I've checked this behavior and confirm that the `last_ip_address` is saved.

The `last_ip_address` of order at the referenced `current_order` method is still in memory. So, inspecting the DB for the updated `order` will not have the  expected value for `last_ip_address` column.

This `order` is actually (indirectly) saved in the file `frontend/app/controllers/spree/orders_controller.rb:53`. (It ca

[2018-01-31 16:29] saravanak commented on #8262
This is not seen in the  [referenced site](http://www.ypill.com) now; it shows the proper products. @99cm, can you confirm please?

[2018-01-31 21:23] VzqzAc opened #8571 "Order taxes/amounts are not recalculated after splitting a shipment from admin"
When a shipment is split into two, the order totals are not updated, also, the shipment cost is set to `$0` when it shouldn't and taxes are not being recalculated

## Context

Using the sandbox application provided by spree

## Expected Behavior
Order amounts and shipment information should be updated properly according to the shipping rates and tax rates for the order/shipment

## Actual Behavior

[2018-02-01 00:50] artplan1 opened #8575 "Dummy app generation fails in core gems"
I tried to run `DB=postgres bundle exec rake test_app` in core gem folders to run tests.
I received problems with dependencies

## Context

These are logs from different gems:

### Api

<details>
<summary>Log</summary>

[code]
</details>

### Backend

<details>
<summary>Log</summary>

[code]
</details>

### Core

<details>
<summary>Log</summary>

[code]
</details>

### Frontend

<details>
<summary

[2018-02-01 03:38] sean-smithy1 commented on #8548
Seems the error does not impact the actual re-rendering of the images. I believe I have traced the issue down to spree running before_save :find_dimensions, this fails as the filename passed to paperclip won't work if the original file is on S3. Also, in this case, the original file isn't being changed so the original dimensions are correct in any event.

[code]

[2018-02-01 03:38] #8548 closed

[2018-02-01 22:11] zjullion opened #8576 "The 'paperclip' gem has security vulnerabilities and should be updated"
Version 5.1.0 of paperclip has a security vulnerability: https://github.com/thoughtbot/paperclip/pull/2435

You should update to 5.2.0 as soon as possible.

[2018-02-01 22:15] bbonislawski commented on #8576
Thanks for reporting, but this issue is already fixed with https://github.com/spree/spree/commit/0131a7eb9bf94a45d88c645fa00de65fa47ebc0e . Please consider verifying issues like that before you post anything since it wastes our time to check issues like that.

[2018-02-05 11:56] nicoayala opened #8578 "Clarification on how Spree::Stock::AvailabilityValidator works needed"
## Context
I was working with the checkout (Spree v3.3.0) when a I found a problem with stocks.
I set `:count_on_hand` to `1` for a specific variant, then tried to add `2` items of the same variant.

## Expected Behavior
Return an error when trying to add the second variant.

## Actual Behavior
When the order has the `cart` state, the `AvailabilityValidator` errored as expected.
When the order has

[2018-02-06 05:26] cliffcleetus opened #8580 "Spree products not able to add taxons"
In the spree backend, I am not able to add taxons to the product , it says searching...But a similar autosuggest is there for option types, which works fine.
I tried regenerating the API key , but didn't solve the issue

![image](https://user-images.githubusercontent.com/32164133/35843074-3a83e25c-0b2c-11e8-8626-51ef84289325.png)

`Error: Failed to load resource: the server responded with a status

[2018-02-06 05:33] 2bspree opened #8581 "Spree Admin side , taxons not loading"
In the spree backend, I am not able to add taxons to the product , it says searching...But a similar autosuggest is there for option types, which works fine.
I tried regenerating the API key , but didn't solve the issue

image
![image](https://user-images.githubusercontent.com/27199223/35843291-49a0d50a-0b2d-11e8-99ef-0e3945c76d6c.png)

Error: Failed to load resource: the server responded with a s

[2018-02-06 09:35] zhengpd commented on #8562
The `order.last_ip_address` is likely designed to save "last ip which modified the order", not "last ip which read the order". This might be why it's not saved inside `current_order` method.

[2018-02-06 10:58] mvz commented on #8575
What works for me is:

[code]

The simpler solution is probably to only have a `Gemfile` in the top level directory, since I don't see any use case where you want to use the per-gem version.

[2018-02-06 11:56] artplan1 commented on #8204
I had same problem

fixed by using this code in my app's `spree.rb`:

[code]

Problem is that this code ran after `spree.rb` code

[code]

@bbonislawski @damianlegawiec
It's better to update docs or maybe it's better to change `Spree::Core::Engine` `initializer 'spree.register.stock_splitters'` to run earlier?

Also I want to add tests for this issue, but not sure where

[2018-02-06 12:01] artplan1 commented on #8449
@gus4no maybe it's related to same issue: https://github.com/spree/spree/issues/8204#issuecomment-363400810

[2018-02-06 15:47] bbonislawski commented on #8581
What's your version of Spree?

[2018-02-06 17:10] artplan1 commented on #8575
@mvz that works for me, thank you 👍

[2018-02-07 04:42] 2bspree commented on #8581
Fixed the issue.
Reference : https://github.com/spree/spree/issues/3817

By replacing the config/initializers/will_paginate.rb

if defined?(WillPaginate)
  module WillPaginate
    module ActiveRecord
      module RelationMethods
        def per_page(num)
          if (n = num.to_i) <= 0
            self
          else
            limit(n).offset(offset_value / limit_value * n)
          end

[2018-02-07 04:42] #8581 closed

[2018-02-07 06:49] #8575 closed

[2018-02-08 10:38] saravanak commented on #8569
I have added a [repo](https://github.com/saravanak/spree_8569) which replicates the case of updating the address while the order is in state `PAYMENT`

## Observations:

1. The `checkout` and `order` api can both be used for updating an order. I think one of this should be disabled (preferably `order` api).

2. For the case of updating the address while in the payment state, the `checkout` api ret

[2018-02-08 10:42] artplan1 opened #8589 "Page refresh causes from resubmission in user management in admin panel"
## Context

Not sure if it's worth fixing, because it's too small

I created/updated users and somehow saw glitch with data in forms (can't reproduce), but when I tried to refresh page - it sends form again

## Expected Behavior

Send `GET` on refresh

## Actual Behavior

![image](https://user-images.githubusercontent.com/9060346/35968068-d584c9c6-0cd3-11e8-90a8-77e218cf8d77.png)

Started PUT "/ad

[2018-02-08 14:30] vitutc commented on #8569
@saravanak thank you so much!

Do you know if I can use the `checkout` API to change the contents of an order without advancing the state? For example if I am in `payment` state and then would like to include payment information without progressing the order.

[2018-02-08 14:54] saravanak commented on #8569
@vitutc , If you use the `order` API,  this resetting of state happens in `restart_checkout_flow` from the `ensure_updated_shipments` method. So you can't bypass this.

The `checkout` api, checks this inside `update`:

`if @order.completed? || @order.next`

So we can get something like what you want by customizing the `CheckoutController`. From `content/developer/customization/logic.md` , We can c

[2018-02-08 22:12] artplan1 opened #8590 "Install chromedriver binaries automatically"
## Context

When runnings tests in `backend` gem I had issues with `chromedriver` binaries not installed. I had to install manually using brew.

## Expected Behavior

Not sure if it's expected for everybody, but I expect gem to install binaries.

## Actual Behavior

Binaries are not installed automatically

## Possible Fix

Use: https://github.com/flavorjones/chromedriver-helper
or
Add note about

[2018-02-08 22:56] joeswann commented on #8562
@zhengpd I think you are correct, however here I'd consider the creation of an order to also count as 'last ip to modify order', otherwise you end up with persisted orders without any  `last_ip_address`.

To clarify my use case, I am using this as a convenient & saved IP reference for currency detection. For my purpose it makes sense to have an IP address on order creation, I imagine it would also

[2018-02-09 02:54] zhengpd commented on #8562
@joeswann

Don't know about that.

[2018-02-09 05:55] saravanak commented on #8569
@vitutc, there are minor changes in the approach as described above. Refer this [gist](https://gist.github.com/saravanak/1c7ff7e9f5fae6bb3bc1f22945b095d7).

The above [replicator repo](https://github.com/saravanak/spree_8569) has been updated with the required specs too!

[2018-02-09 13:27] artplan1 commented on #8566
Official `spree_auth_devise` logs: https://travis-ci.org/public-market/spree_auth_devise/jobs/339428347

[2018-02-12 09:34] NemyaNation commented on #8065
No it isn't fixed, the same exact errors are still present?

Is this even a working gem?

[2018-02-12 09:35] bbonislawski commented on #8065
@NemyaNation yes, it works on every version of rails since 4.2. Just use correct version of spree for rails version

[2018-02-12 09:38] NemyaNation commented on #8065
Rails -> 5.1.4
Ruby -> 2.3.3p222

What versions should I use for this to finally work?

[2018-02-12 09:38] bbonislawski commented on #8065
https://github.com/spree/spree#rails-51

[2018-02-12 09:39] bbonislawski commented on #8065
If you encounter errors, please post them. I've set up several applications for tests during last week and everything worked smoothly

[2018-02-12 11:09] NemyaNation commented on #8065
@bbonislawski
Created new rails project
Added Gems:

My ruby version:

My rails version:

running bundle update and/or bundle install resulted in the following error

(fixtures/ashared/views_rails_3/users/phone_number.json.rabl,
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/rabl-0.13.1/fixtures/ashared/views_rails_3/users/phone_number.xml.rabl)
An error occurred while installing rabl (0.13.

[2018-02-12 11:10] NemyaNation commented on #8065
Without the spree gems, rabl installs successfully

[2018-02-12 11:10] bbonislawski commented on #8065
so you've succesfully ran `gem install rabl -v '0.13.1'` and still getting error?

[2018-02-12 11:12] bbonislawski commented on #8065
It looks that you're using different ruby version outside of your application and when installing rabl "without spree"

[2018-02-12 11:19] NemyaNation commented on #8065
No all these commands are from within my application root directory.

I have tried the newest version of rabl, I do not get the ErrNOACCESS error, it's just with the rabl version 0.13.1 do I recieve this error.

Anymore tests you want me to carry out to maybe help solve this faster? I can provide screenshots if needed.

[2018-02-12 11:19] bbonislawski commented on #8065
so, updating rabl was enough to fix the issue?

[2018-02-12 11:25] NemyaNation commented on #8065
If I change the version in my gemfile.lock to '0.13.1' , I get the first error again

    Permission denied @ rb_file_s_symlink - (fixtures/ashared/views_rails_3/users/phone_number.json.rabl, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/rabl-0.13.1/fixtures/ashared/views_rails_3/users/phone_number.xml.rabl)

when running bundle install with only the following added gems to my gem file

gem

[2018-02-12 11:27] bbonislawski commented on #8065
It's probably problem with one of your dependencies. Spree 3.4 depends on rabl `~> 0.13.1` so you probably had installed rabl before.

[2018-02-12 11:27] NemyaNation commented on #8065
This is the same issue posted here, but no help was given.

https://github.com/spree/spree/issues/8059

[2018-02-12 11:28] NemyaNation commented on #8065
@bbonislawski  Uninstall rabl completely and install just that version again?

[2018-02-12 11:28] bbonislawski commented on #8065
Yeah, try that. It seems that it's problem with rabl only on windows so I cannot even test it since I don't have windows machine

[2018-02-12 11:31] NemyaNation commented on #8065
@bbonislawski Nope same old error, I will try in the rabl github, I've been having this issue since yesterday and it has really halted process.

[2018-02-12 11:37] NemyaNation commented on #8065
For anyone in the future having the

Permission denied @ rb_file_s_symlink - (fixtures/ashared/views_rails_3/users/phone_number.json.rabl, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/rabl-0.13.1/fixtures/ashared/views_rails_3/users/phone_number.xml.rabl)

Error, this is what I did.

Search cmd, right click, (Run as administrator), gem install rabl -v '0.13.1', and you're done. This took m

[2018-02-12 12:50] #8262 closed

[2018-02-12 12:54] #8047 closed

[2018-02-12 13:01] #7588 closed

[2018-02-12 13:03] #4938 closed

[2018-02-12 13:03] #4975 closed

[2018-02-12 13:03] #5118 closed

[2018-02-12 13:04] #5169 closed

[2018-02-12 13:05] #5212 closed

[2018-02-12 13:05] #5355 closed

[2018-02-12 13:06] #6450 closed

[2018-02-12 13:06] #6443 closed

[2018-02-12 13:07] #6320 closed

[2018-02-12 13:08] #6297 closed

[2018-02-12 13:08] #6290 closed

[2018-02-12 13:10] #8502 closed

[2018-02-12 16:03] #6469 closed

[2018-02-12 16:05] #6503 closed

[2018-02-12 16:05] #6522 closed

[2018-02-12 16:07] #6563 closed

[2018-02-12 16:09] #6603 closed

[2018-02-12 16:12] #6642 closed

[2018-02-12 16:12] #6668 closed

[2018-02-12 16:15] #6605 closed

[2018-02-12 16:15] #6675 closed

[2018-02-12 16:16] #6682 closed

[2018-02-12 16:24] #6713 closed

[2018-02-12 16:31] #8164 closed

[2018-02-12 16:32] #8097 closed

[2018-02-12 16:33] #8068 closed

[2018-02-12 16:37] #7991 closed

[2018-02-12 16:38] #7839 closed

[2018-02-12 16:45] #7713 closed

[2018-02-12 16:46] #7697 closed

[2018-02-12 16:46] #7687 closed

[2018-02-12 16:48] #7671 closed

[2018-02-12 16:49] #7586 closed

[2018-02-13 09:33] bbonislawski commented on #8449
@artplan1 this is totally different issue. there is some problem with splitting shipments at the moment and I'm writing up the problems with it now

[2018-02-13 09:34] #8204 closed

[2018-02-13 09:43] bbonislawski opened #8596 "Splitting shipment with backordered items gives unexpected result"
## Context
When having backorderable item with quantity bigger than 1 (for example 10) in order and trying to split shipmet, part of items become `on hand` even when stock is `-100`.

## Expected Behavior
Items should still be presented as `backeordered`

## Actual Behavior
Part of items become `on hand`

## Steps to Reproduce
1. Create item with backorderable tick and stock set to something lower

[2018-02-13 10:13] AhmedAliIbrahim opened #8597 "Associate user with order after login using API"
How can i associate user with order through API ?! it's working fine with sessions on my website but i want to implement it on my mobile application which uses spree API.

Description:
I'm allowing guest to create orders from my application but i don't allow checkout out the order without registration.
I'm using Spree 3.1 & I'm creating the order through populate action.

[2018-02-13 10:17] bbonislawski commented on #8597
Can you provide more details on your case? How did you create order? What version do you use?

[2018-02-13 10:21] AhmedAliIbrahim commented on #8597
I'm using spree 3.1 & order created via populate action

[2018-02-13 10:25] bbonislawski commented on #8597
Please use API instead of controllers from Frontend part. They're meant only to be used in browser.

[2018-02-13 10:25] #8597 closed

[2018-02-13 10:26] AhmedAliIbrahim commented on #8597
I'm creating an order with a populate action I've implemented on my orders Api controller .

[2018-02-13 10:27] bbonislawski commented on #8597
You have `orders#create` in API. Check it there

[2018-02-13 10:29] AhmedAliIbrahim commented on #8597
my question is how to associate the created order with user when user login/ register since there's no session ?!

[2018-02-13 10:30] bbonislawski commented on #8597
use `current_api_user` like in `orders#create`. If you allow to create orders without being logged in, then you have to implement it somehow. This is not issue connected to spree

[2018-02-13 13:33] pavels commented on #8529
Hi, so the pull request is ready, can you review pleas?

https://github.com/spree/spree/pull/8599

[2018-02-13 13:37] artplan1 opened #8600 "Ruby version in .ruby-version does not match .rubocop.yml"
## Context

.ruby-version file defines ruby 2.4.2
.rubocop.yml defines ruby 2.2

Maybe there is a reason for this?

## Expected Behavior

Use one version

[2018-02-13 13:49] pavels commented on #8434
By the way, the admin behaves inconsistent concerning master variant.
If you create product with variants, you don't see master in stock listing and by default the master variant is backorderable (but hidden, so you don;t know about it)

Now ff you want to create order by hand from admin panel, in the product combo box there is master variant present. Also if your store doesn't use images for vari

[2018-02-13 17:37] mohsen-alizadeh commented on #8589
After the user is created in Controller, it tries to render user edit page instead of redirecting to edit page.

I have fixed it locally, I'm trying to prepare some tests and reproduce script and create a merge request soon.

Please assign this issue to me

[2018-02-13 18:44] mohsen-alizadeh commented on #8589
Actually it should be redirect to edit user page instead of rendering edit user page

[2018-02-13 18:49] mohsen-alizadeh commented on #8580
@cliffcleetus Please check logs and report here

[2018-02-14 08:15] ashish173 commented on #7890
@catalin88 @damianlegawiec @vishalzambre this actually looks like an issue which should be addressed any updates on this?

[2018-02-14 08:51] vishalzambre commented on #7890
@ashish173 Bit busy with other stuff, Not started implementation on in, If you could start and raise PR.

[2018-02-14 10:48] #8571 closed

[2018-02-14 14:02] bbonislawski commented on #8600
We support ruby 2.2+ so we cannot enforce style of higher version of ruby. On the other hand, we want to support newest version ruby too, so we use it circle CI to run tests with newest version(will update to 2.5 soon). Rubocop enforces us to write valid ruby for 2.2 too.

Closing this for now since we have to support oldest(2.2) and the most recent(2.5 atm)

[2018-02-14 14:02] #8600 closed

[2018-02-15 10:21] sandy1987 commented on #6707
Hi folks,
When I am trying add attribute with ransack i am getting issues. Please help me I am stuck in last two days but i am not getting any solution.
I am applying in below line in user_decorator.rb file
self.whitelisted_ransackable_attributes = %w[email firstname]

Then i am getting `method_missing': undefined method `whitelisted_ransackable_attributes=' for #<Class:0x00000007796290> (NoMethod

[2018-02-15 14:49] bbonislawski commented on #5971
Most of these N+1 were fixed over the time and we're working on v2 already. Closing this for now

[2018-02-15 14:49] #5971 closed

[2018-02-15 14:53] #4815 closed

[2018-02-15 14:55] #6270 closed

[2018-02-15 14:55] #6278 closed

[2018-02-15 14:56] #5391 closed

[2018-02-15 14:57] #5434 closed

[2018-02-15 14:57] #5451 closed

[2018-02-15 14:58] #5538 closed

[2018-02-15 14:59] #6092 closed

[2018-02-15 15:03] #6126 closed

[2018-02-15 15:04] #6158 closed

[2018-02-15 22:38] parndt commented on #6158
Closed because won't fix?

[2018-02-15 22:38] parndt commented on #6270
Closed because won't fix?

[2018-02-16 12:42] bbonislawski commented on #6158
@parndt we're going to rebuild API and frontend part during year 2018. We cannot focus on fixing legacy stuff and need some way of going further with API v2 and new frontend

[2018-02-16 12:42] bbonislawski commented on #6270
@parndt we're going to rebuild API and frontend part during year 2018. We cannot focus on fixing legacy stuff and need some way of going further with API v2 and new frontend

[2018-02-18 00:01] tibomogul opened #8614 "Reimbursing a return by StoreCredit raises an IncompleteReimbursementError"
Reimbursing a return by StoreCredit raises an IncompleteReimbursementError

## Context
A buyer returns merchandise and the store wants to issue StoreCredits as refund.

## Expected Behavior
StoreCredit should be assigned to the buyer without errors.

## Actual Behavior
The reimbursement is left in "errored" state

## Possible Fix
It seems adding `Spree::Reimbursement::Credit` to `Spree::Reimbursem

[2018-02-18 00:34] MatthewKennedy opened #8616 "Circular Argument Reference from promotion_accumulator.rb: line 35"
spree_core-3.4.4/app/models/spree/adjustable/promotion_accumulator.rb:35: warning: circular argument reference - adjustments

WARN -- : Creating scope :open. Overwriting existing method Spree::Adjustment.open.

## Context
Deploying to Heroku logs in paper trail show the above information.

## Expected Behavior
No issues be logged

## Actual Behavior
Warning: circular argument reference - adjustmen

[2018-02-18 13:01] frontandstart commented on #5786
same, just fast fix using enumerize (haven't time to research need to finish project)

[2018-02-19 11:43] artplan1 opened #8618 "Travis build is failing in newly generated on extension"
## Context
Extension template contains `travis.yml` preconfigured to use appraisals, but `gemfiles` folder does not exists and spree extension generator does not run `appraisals install`

## Expected Behavior

Build on travis pass with newly generated extension

## Actual Behavior

Build on travis will fail with not clear reason because gemfiles are not exist, but set in `travis.yml`
Bundle comman

[2018-02-20 19:38] MatthewKennedy commented on #8267
This would be good.

[2018-02-20 22:32] damianlegawiec commented on #8267
@alexandre025 not all at in the first iteration but that's the goal + much more

[2018-02-20 23:45] sringling opened #8621 "Spree::Order.register_line_item_comparison_hook not implemented for Spree::Stock::Coordinator"
There is a feature to differentiate line items beyond only variant_id, useful if you add additional attributes to a line item that you want to make the same variant_id into a distinctive line item.  However, that functionality is not extended into ```Spree::Stock::Coordinator```.

## Context
When using Spree::Order.register_line_item_comparison_hook to differentiate line items, on the delivery pag

[2018-02-25 01:13] kaevee opened #8623 "Trivial issue - Broken link in Wiki"
The following link is broken

We have [comprehensive documentation](http://guides.spreecommerce.com/) on the main site. Please use this documentation instead of the wiki.

[2018-02-27 08:55] jinyi0313 opened #8624 "Cannot Found Backend and Frontend folder in installed project"
I have succes install spree in my localhost. All things can work. but i cannot found the backend and front end controllers.
Can anyone give me tutorial to show out these all important files?

[2018-02-28 00:21] #8624 closed

[2018-02-28 07:06] jinyi0313 commented on #8624
bundle open spree
It show ->
To open a bundled gem, set $EDITOR or $BUNDLER_EDITOR

How to check what is my editor name to open bundled gem????

[2018-03-01 07:55] vernondegoede opened #8626 "Cannot use named routes for routes defined within Spree::Core::Engine.add_routes block"
I created a Spree project using Rails 5.1.5 and Ruby 2.2.7. Somehow I’m unable to add custom routes (or link to them using named routes). However, when I create a route outside the `Spree::Core::Engine.add_routes` block it works fine.

**Expected behavior**
Named route should return the url / path of the routes which are defined within `Spree::Core::Engine.add_routes do`.

**Actual behavior**
An e

[2018-03-01 09:30] artplan1 commented on #8626
This code works

[code]

![image](https://user-images.githubusercontent.com/9060346/36837072-5919ffee-1d4c-11e8-91f0-6d336af9fce7.png)

[2018-03-01 09:43] vernondegoede commented on #8626
That's weird, it doesn't work on my machine. Which Ruby version are you on?

[2018-03-01 09:45] artplan1 commented on #8626
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

[2018-03-01 09:46] artplan1 commented on #8626
there was double render issue in that controller too

[2018-03-01 10:01] vernondegoede commented on #8626
Hmm, same issue when using your Ruby version (`ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin17]`). Any idea what else could be causing this behavior?

![image](https://user-images.githubusercontent.com/2484832/36838543-c41ed34e-1d3f-11e8-8166-5d60f625ec9e.png)

[2018-03-01 10:38] artplan1 commented on #8626
it's not `spree.broken_route_path` on the screen shot 🙂

[2018-03-01 10:46] vernondegoede commented on #8626
Reading is hard 😢
Thanks for your help @artplan1

[2018-03-01 10:46] #8626 closed

[2018-03-06 20:31] artplan1 opened #8630 "[Question] Variants are loaded twice on product page"
## Context

Variants are loaded in controller once:
https://github.com/spree/spree/blob/master/frontend/app/controllers/spree/products_controller.rb#L18

But in `show` partial there is no use for `@variants`
Variants are rendered in `cart_form`, but using another query

https://github.com/spree/spree/blob/master/frontend/app/views/spree/products/_cart_form.html.erb#L7

[code]

vs

[code]

Maybe I'

[2018-03-08 14:01] bbonislawski commented on #8543
No news since 2 months. Closing for now. I'll reopen it when proper reproduction steps will be provided

[2018-03-08 14:01] #8543 closed

[2018-03-08 14:06] #8467 closed

[2018-03-08 14:08] bbonislawski commented on #8580
What is your spree version?

[2018-03-08 14:12] bbonislawski commented on #8566
It's probably cused by bundler version >=1.16.0(which is minimal version for ruby 2.5). I have to look into that since we cannot stick with older bundler version forever

[2018-03-09 15:55] joshRpowell opened #8633 "Migration from Paperclip to ActiveStorage?"
## Context
Paperclip maintainers are encouraging migration to ActiveStorage

See: https://github.com/thoughtbot/paperclip/pull/2568

[2018-03-09 15:57] bbonislawski commented on #8633
We're already working on painless migration to ActiveStorage but they're quite different solutions and we'll need some "hacks" probably to make migration easy. If you have any ideas/code for that, I'd be really grateful

[2018-03-09 19:04] mike-burns commented on #8633
We'd love to have lessons learned along the way added to our migration guide: https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md

[2018-03-09 19:08] bbonislawski commented on #8633
We'll definitely add them. We have some custom magic done in few places and we'll have to cover these things to. Thank you for your great job @mike-burns , it'll definitely help us

[2018-03-09 21:05] adrian2monk commented on #8189
Hi, guys, I have an issue with the same statement but the problem is different right now, the task is not available anymore. Ans, I could find at the docs any clue about the subject. Can you help me with any advice or orientation about where to look at?

Here let you the **trace** `bundle exec rake test_app --trace `
[code]

[2018-03-12 11:10] #8596 closed

[2018-03-12 11:10] bbonislawski commented on #7328
Fixed with #8629 .
Thanks for reporting!

[2018-03-12 11:10] #7328 closed

[2018-03-13 09:25] bbonislawski commented on #8589
Fixed with #8603

[2018-03-13 09:25] #8589 closed

[2018-03-13 17:00] Jyothsna92 opened #8637 "Payment issue"
## Context

Unable to do payment with braintree production account and order is  not completed
## Expected Behavior

Should be able to do payment successfully and order should be completed
## Actual Behavior

while doing the payment step in checkout it is going to confirmation step and after that it is again redirecting to payment step.it is halting the chain :ensure_valid_state and redirecting ba

[2018-03-13 17:10] bbonislawski commented on #8637
How did  you integrate spree with braintree?

[2018-03-15 10:30] api-walker opened #8639 "Could not edit SKU of product master"
General: I can not edit the SKU of the product master variant.

## Context
If I duplicate a product with variants in backend it prefixes all SKUs of variants with COPY OF.
I can not edit the SKU of the master to remove the COPY OF and set the correct SKU.
The later customer sees the wrong SKU of the product master..

## Expected Behavior
Can edit the master of an product to update the SKU.

## Act

[2018-03-15 13:30] damianlegawiec opened #8640 "Replace jquery.cookie.js with js-cookie"
jquery.cookie.js id no longer maintained and should be replaced with https://github.com/js-cookie/js-cookie

[2018-03-15 13:31] damianlegawiec opened #8641 "Replace jquery.payment.js"

[2018-03-16 18:49] AwakenTheJaken opened #8644 "Promotion Rule Option Values evaluates actionable line_items incorrectly."
Setting multiple actionable line item options for the Option Value Promotion Rule always evaluates to false

## Context
When setting up a promotion for our green  products I have encountered this bug.

## Expected Behavior
The line items that contain ANY of the option values set here should be returning true in the actionable? method.
## Actual Behavior
The option values are compared whether or no

[2018-03-21 20:14] MateoLa opened #8647 "Address mutiplication in DB"
save_user_address on checkout/address is always adding new inputs in spree_addresses table.

## Context
For any user when a new order is placed and the check_box "save_user_address" is selected (in checkout/address state) two new inputs are added to the addresses table no matter if the user address was saved before.

If is the first order for the user then 4 new address are saved in the spree_addr

[2018-03-22 09:56] bbonislawski commented on #8647
Hello, thanks for reporting this, but I think that I can finally write `it's a feature, not a bug`. `Save user address` means `save user address`. How would you like to handle situation for someone going back and forth in checkout form? We cannot reuse instances of addresses since they would be shared across orders(actually, there was bug that editing address in new order would overwrite addresses

[2018-03-22 16:48] MateoLa commented on #8647
Hello Bartosz.
Thank you for your explanation. I can see your point and you are right.
Sorry for open a wrong issue.
Thanks, Mateo.

[2018-03-22 16:48] #8647 closed

[2018-03-26 10:21] dimon-k commented on #8580
I've tried to reproduced the issue, but wasn't successful. More information is needed:
- Spree Version
- Steps to reproduce
@cliffcleetus

[2018-03-26 10:49] artplan1 commented on #8566
@bbonislawski any word on this? I see

[2018-03-26 11:11] artplan1 commented on #8566
@bbonislawski any word on this? I see that tests are passing now, but don't see changes related to this issue

[2018-03-28 11:50] artplan1 commented on #5786
same issue

[code]

Error:
[code]

[2018-03-30 00:10] 99cm commented on #8616
I have the same error when rails start.

puma log logged:
`W, [2018-03-27T18:09:55.370887 #23348]  WARN -- : Creating scope :open. Overwriting existing method Spree::Adjustment.open.`

[2018-03-31 01:30] tibomogul commented on #8616
For me it shows when running rails server in 'staging' environment (RAILS_ENV=staging) on my mac.

[2018-04-03 17:02] artplan1 opened #8654 "Exception in spree/shared/_payment.html.erb"
## Context

When user uses credit card with not blank `cc_type`, but icon does not exist it fails.

This continue of https://github.com/spree/spree/issues/2282

## Actual Behavior

[code]

## Possible Fix

Add helper:

[code]

Change partial:

[code]

Not sure if it will work with rails 4

## Steps to Reproduce

Use credit card with cc_type like `jcb` in checkout

Example spec to reproduce: `front

[2018-04-03 17:42] 99cm commented on #8616
These are actually two issues:
1. There is BUG on spree_core-3.4.4/app/models/spree/adjustable/promotion_accumulator.rb:35.
2. WARN -- : Creating scope :open. Overwriting existing method Spree::Adjustment.open. There is reference:
Fixes #436 (scope re-definition warnings)

[2018-04-04 09:52] restot opened #8656 "operations with deleted products"
1) How i can list all destroyed products in irb?
2) How to restore deleted products? (use irb)

Thank you for help.

[2018-04-05 07:19] vernondegoede commented on #8576
The latest version which is available on Rubygems is 3.4.4. This version still has `paperclip 4.1.0` as a dependency.

Can you publish a `3.4.4` version which uses `paperclip 5.2.0`?

[2018-04-05 07:59] damianlegawiec commented on #8576
Hey @vernondegoede `3.4.4` uses `paperclip 5.1.0` but we'll release `3.4.5` with `paperclip 5.2.0`today :)

[2018-04-05 08:41] vernondegoede commented on #8576
Great! Thanks @damianlegawiec

[2018-04-06 07:32] 2bspree opened #8657 "Cart - checkout issue"
#Steps to produce the issue

1. Login as user
2. Add product to the cart
3. Remove the product from the cart (Product is removed from the cart )
4. But , the product id still exist in the checkout button in the cart page [modal] , causing error ...

For Instance ,

I have 3 items in my cart with product id's -  '400' ,' 401' ,' 402' .
Even if i remove the item '400' from the cart.. The checkout fo

[2018-04-06 17:25] #8614 closed

[2018-04-08 06:26] kaevee opened #8664 "Adding custom route in extension"
I am trying to add a new action to orders controller.

[code]

Adding the route

[code]
Checking the route in `spec/dummy`

`api_v1_orders_our GET  /api/v1/orders/our(.:format) spree/api/v1/orders#our {:format=>"json"}`

Rspec test
[code]
Set auth headers helper
[code]
**Error**
[code]

[2018-04-09 16:07] exocode opened #8666 "Docker example not working"
## Context
Cannot start docker example from readme

## Expected Behavior
## Steps to Reproduce

docker run --rm -it -p 3000:3000 spreecommerce/spree:latest
open browser http://0.0.0.0:3000
Page should open spree demo

## Actual Behavior
ERR_CONNECTION_REFUSED

## Your Environment

Macbook Pro Docker version 18.03.0-ce, build 0520e24

[2018-04-09 22:27] #8639 closed

[2018-04-10 05:59] #8267 closed

[2018-04-10 07:27] vernondegoede commented on #8576
@bbonislawski @damianlegawiec Any update on this issue?

[2018-04-10 07:53] bbonislawski commented on #8666
Can you provide logs from your terminal? It works for me
<img width="665" alt="screen shot 2018-04-10 at 09 52 29" src="https://user-images.githubusercontent.com/7106611/38543489-f041f652-3ca4-11e8-8e29-ba76996b0b7b.png">

[2018-04-10 08:28] bbonislawski commented on #8654
Thanks for reporting the issue.

That would be very bad fix since it would stop displaying emblem if there is no file for it. It's much better to just add missing emblem and this error is good thing. Added PR #8668 to fix problem with JCB. If you find other missing emblems, just comment here with names.

[2018-04-10 08:31] bbonislawski commented on #8656
Please ask these questions on our slack. Issues are not place for asking questions like this. http://slack.spreecommerce.org

[2018-04-10 08:31] #8656 closed

[2018-04-10 08:43] bbonislawski commented on #8657
Hello @2bspree

Can you provide more details about this issue? What version of Spree do you use? And what browser? I can't reproduce it on my local machine so I need to know more

[2018-04-10 11:14] #8654 closed

[2018-04-10 23:47] mfdeveloper commented on #8339
Awesome feature @damianlegawiec !! Many thanks for your hard work!!

Please, consider integrate something like this extension: https://github.com/vinsol-spree-contrib/spree_themes to the core. It allows add custom themes to customer frontend, from **Admin Panel**.

Following this idea and combining with this feature described here, both the costumer frontend and admin panel could have custom theme

[2018-04-11 08:49] damianlegawiec commented on #8576
@vernondegoede both `3.3.5` and `3.4.5` containing the fix were pushed to RubyGems yesterday - sorry for the late update!

https://github.com/spree/spree/releases/tag/v3.3.5
https://github.com/spree/spree/releases/tag/v3.4.5

[2018-04-11 08:49] #8576 closed

[2018-04-13 17:16] 99cm opened #8675 "No route matches {:action=>"show", :controller=>"spree/taxons", :id=>nil}, possible unmatched constraints: [:id]"
spree/core/app/helpers/spree/base_helper.rb need to be fixed!
`seo_url(taxon)` does not work any more for spree 3.4.4 and up if #2759 comment ever fixed before.

puma logged errors:

In _main_nav_html.erb code:

[code]
Line 16: seo_url(taxon)
`<%= link to taxon.name, seo_url(taxon) %>">`
In  spree/core/app/helpers/spree/base_helper.rb:
[code]
Line 79:
` spree.nested_taxons_path(taxon.permalink)`
M

[2018-04-14 14:53] ohiodn8 commented on #8059
I downgraded my _gem rabl_ to _'0.13.0'_  and followed @erosinlove advice by running `bundle install` as admin. . . Fixed it. . .

[2018-04-14 21:40] williammead opened #8676 "Cannot create Heroku Sandbox"
When trying to create new app on Heroku, build fails with error below.

`Bundle Output: Fetching https://github.com/spree/spree_auth_devise.git
       The dependency tzinfo-data (>= 0) will be unused by any of the platforms Bundler is installing for. Bundler is installing for ruby but the dependency is only for x86-mingw32, x86-mswin32, x64-mingw32, java. To add those platforms to the bundle, run

[2018-04-16 09:51] bbonislawski commented on #8675
Can you provide more details? Did you use `seo_url` in your code?
 It happens when you pass `nil` to helper and it's expected result.

[2018-04-16 14:56] 99cm commented on #8675
yes, code inserted in the post above, `_main_nav_html.erb`.
Line 16: <%= link to taxon.name, seo_url(taxon) %>

In spree/core/app/helpers/spree/base_helper.rb, line 79: `spree.nested_taxons_path(taxon.permalink)`
undefined method 'permalink' for nil:Nil.Class?

[2018-04-16 16:42] 99cm commented on #8675
your conclusion is rough. I am going to comment base_helper_decorator.rb, in reference to solidus/base_helper.rb
spree has  spree/frontend/app/helpers/spree/frontend_helper.rb. How does it work together with base_helper.rb?

[2018-04-17 15:43] yann120 commented on #8676
Same for me :(

[2018-04-18 14:27] bbonislawski commented on #8676
We know about the issue. We will be able to fix it after releasing of spree 3.5.0(which will happen really soon!). For now, you can use this link https://heroku.com/deploy?template=https://github.com/spark-solutions/spree/tree/rails-5-2-test

[2018-04-20 04:31] ngphadke commented on #8666
Not working for me either.

`➜ docker run --rm -it -p 3000:3000 spreecommerce/spree:latest
Unable to find image 'spreecommerce/spree:latest' locally
latest: Pulling from spreecommerce/spree
693502eb7dfb: Pulling fs layer
081cd4bfd521: Downloading  1.554MB/18.54MB
5d2dc01312f3: Downloading  1.293MB/42.5MB
54a5f7da9a4f: Waiting
168cf3f33330: Waiting
5edf1a65e7e1: Waiting
c95fc1e51b4d: Waiting
0164b0

[2018-04-20 06:14] deepakmahakale commented on #7890
@catalin88 @damianlegawiec @vishalzambre I can take a look

[2018-04-24 22:30] fabioaraujo121 commented on #5786
I had the same issue using rails-decorator. I figured out that I was duplicating the code that configures decorators and overrides in /config/application.rb

I suggest you guys to check it out. Hope it help someone. ;)

[2018-04-25 11:26] arjun289 opened #8678 "Has many association of variants with prices"
## Context

I was looking at the spree code for the `variants` entity and found out that it has an _association_ `has_many` with `prices` entity.
Ideally seeing this relationship makes me feel, this must have been provided so that
 products/variants can have multiple prices in different currencies.

The gentlemen here feels the same
http://grokbase.com/t/gg/spree-user/135ef1d6s3/question-about-var

[2018-04-27 08:02] charleswong28 opened #8681 "*Serious* Currencies with non fractional currency, e.g. JPY, KRW, charging in stripe gateway divided by 100"
## Context
When we charge in KRW / JPY, the amount charged in stripe is divided by 100 while the amount shown in spree payment is correct.

I've checked [active_merchant (issues 1794)](https://github.com/activemerchant/active_merchant/issues/1794) but seems active merchant is doing it correctly. They take the amount in cents with money_format = :cents in stripe gateway.

The problem is on processi

[2018-04-27 08:24] damianlegawiec opened #8682 "Missing API::V1::Orders actions in documentation"
The current [API Orders documentation](https://guides.spreecommerce.org/api/orders.html) doesn't specify actions listed below that are in the code:

- cancel
- approve
- current
- mine

We should add those are they are very helpful to any developer working with the Spree API

[2018-04-27 12:44] 3minus1 commented on #7349
Has this been fixed?

[2018-04-27 22:06] ozkar99 opened #8683 "Admin doesnt load javascript on the first page load (no errors or warnings)"
Has anyone encountered this problem?

The first time i load an admin action (for instance /admin/products/:id/edit)

The filter function doesnt work, until i refresh, then it works.
This happens all admin wide, affecting also the search filter drop-down, and also making the `confirm('Are you sure?')`  dialog when deleting an item pop **twice**

Doesn't log anything to console, and have no idea wha

[2018-04-27 22:15] ozkar99 commented on #8666
You should open browser to:
http://127.0.0.1:3000 or http://localhost:3000

not
http://0.0.0.0:3000

check first answer on this:

https://superuser.com/questions/949428/whats-the-difference-between-127-0-0-1-and-0-0-0-0

[2018-04-28 12:06] mdavo6 commented on #8678
Hi @arjun289

Your initial feeling is correct. Although the query you've provided doesn't mention it the `has_many` relationship is definitely used for multiple currencies - not directly in core spree but the spree_multi_currency gem makes full use of it - See https://github.com/spree-contrib/spree_multi_currency.

[2018-04-29 05:15] nischay-webonise commented on #8683
Hello @ozkar99
I tried installing latest spree on my local machine and couldn't reproduce the issue. Can you provide following details about this issue?
-> Spree Version
-> Browser with version
-> Gems list you are using

[2018-04-29 06:03] ozkar99 commented on #8683
@nischay-webonise , disabling turbo-links seemed to do the trick, its not critical for me to have it, so i am just gonna remove it for now. Thanks for your time.

Also, here's the requested data (atleast for the record):

Spree Version: `3.4.4`
Rails Version: `5.1.4`
Browser: `Google Chrome Version 66.0.3359.139 (Official Build) (64-bit)`

Complete Gemfile For the record:
[code]

[2018-04-29 06:03] #8683 closed

[2018-04-29 06:08] nischay-webonise commented on #8683
You are welcome @ozkar99, I will take a look if I can reproduce your issue using your version without disabling turbolinks. :+1:

[2018-04-29 06:11] ozkar99 commented on #8683
@nischay-webonise , if you need anything else, feel free to comment on this, and ill help with what i can.
(unfortunatly the repo is private so i cant share all the source code, but ill try to paste anything you need).

[2018-04-29 20:39] antamdesigns opened #8684 "ActiveRecord::StatementInvalid: Could not find table 'spree_payment_methods'"
ActiveRecord::StatementInvalid: Could not find table 'spree_payment_methods'
C:/Users/user/RyansStore/db/migrate/20180415003728_update_braintree_payment_method_type.spree_gateway.rb:4:in `up'
bin/rails:4:in `require'
bin/rails:4:in `<main>'
Tasks: TOP => db:migrate
(See full trace by running task with --trace)
== 20180415003728 UpdateBraintreePaymentMethodType: migrating =================

## Cont

[2018-04-30 06:53] arjun289 commented on #8678
@mdavo6
Can you give me an example of a scenario where a store, will have a requirement for multiple currencies? As per my limited knowledge of e-commerce, most of the online stores usually operate only in one currency and they usually have a separate entity altogether for different currencies. e.g. amazon.in, amazon.co.uk, amazon.com.au etc.

[2018-04-30 08:38] MatthewKennedy commented on #8678
I’m currently setting up a spree store now with multiple currencies all running on one domain.

I chose to use Spree specifically because spree can handle multiple languages and multiple currencies all in one instance.

I was sick of the SEO and content updating nightmare of having multiple stores for multiple currencies.

I also have an existing Spree store set up using sub domains for each curre

[2018-04-30 09:32] bbonislawski commented on #8684
Can you provide steps that lead you to this error? Maybe you installed gem before installing spree?

[2018-04-30 12:09] mdavo6 commented on #8678
Hi @arjun289

Agree with @MatthewKennedy 's comments above.

You essentially have two options - 1. Multiple stores each with one currency (per your Amazon example) or 2. One store with multiple currencies.

As @MatthewKennedy has described, the major benefit from option 2 is less ongoing management - due to the fact you have only one listing to manage for each product vs multiple. Another point to

[2018-04-30 13:17] antamdesigns commented on #8684
I followed the "GETTING STARTED - DEVELOPER GUIDE | SPREE - RUBY ON RAILS E-COMMERCE PLATFORM" in the developer section exactly.  Here is the URL. https://guides.spreecommerce.org/developer/getting_started_tutorial.html
I was wondering if there was a way to add this table?  I noticed in some of the other posts that others have had issues with missing tables but I was unable to find anything about

[2018-04-30 13:27] bbonislawski commented on #8684
I'm pretty sure that some migration failed during `rails g spree:install --user_class=Spree::User`. You should look if it succeeded and don't proceed if it didn't migrate everything. Can you see if you succesfully installed spree first?

[2018-04-30 15:24] antamdesigns commented on #8684
I think it was fine the first time as well but I ran it again:
'rails g spree:install --user_class=Spree::User--trace'
 Below is the output.  Looking through the output I found this which might be the issue? The only thing is it ran thought and said it was successful after the run 'db:migrate' again?
  20180415191273 RenameSpreeRefundReturnAuthorizationIdRun `rails db:migrate`update your database

[2018-05-01 14:51] gles8705 opened #8687 "Unable to connect to Authorize.net Gateway"
Hello!  I've been on the phone with merchant providers all day, and no one can figure out what's going on.  We haven't changed our payment method gateway in 3 years, and everything was working fine yesterday, but today for some reason we're unable to connect to Authorize.net through Spree's default gateway anymore.

Is this an issue anyone else is running into?

[2018-05-01 16:27] macmm commented on #8687
I am having the same issue. Which version of Spree are you on? We're on 2.4.

[2018-05-01 16:48] joekr commented on #8687
It turns out they updated some cert on their end. I'm still digging into what is going on. The Customer Support person said we needed to update using the following:

[2018-05-02 07:15] bbonislawski commented on #8687
As @joekr said, this is not an issue with spree. Closing

[2018-05-02 07:15] #8687 closed

[2018-05-04 10:09] bbonislawski commented on #8152
Already fixed on master

[2018-05-04 10:09] #8152 closed

[2018-05-05 13:07] arpancj commented on #7823
@einSelbst just had the same issue after upgrading from Spree 3.2 to 3.4. Editing each shipping method and clicking "update" fixed the issue.

[2018-05-07 07:52] #8331 closed

[2018-05-07 07:52] #8681 closed

[2018-05-07 13:45] #8644 closed

[2018-05-07 17:50] bluebox159 opened #8718 "Splitting 3 orders into 1 results in the 1 behaving strangely"
## Context
I've been trying to see if I can use Spree as a sort of inventory management system. Orders would be considered having taken stock away from stock locations, and stock transfers would be receiving stock shipments. I had several locations backloggable, and each location has 10 of the product. I order 30 of the product and I go to the shipments page to split the 3 generated shipments so I

[2018-05-08 07:33] einSelbst opened #8719 "GDPR compliance"
Hey, I hope this is not the wrong channel for this topic,

but I was wondering why I couldn't find anything regarding GDPR compliance for spree commerce.

We are using it as a shop system and with the new laws coming into effect we wonder if we can continue using spree.

Is there anything planned to make spree commerce GDPR compliant?

[2018-05-08 14:52] mradfaber commented on #8719
hey @einSelbst, thanks for your question, very good timing :)

we'll be glad to assist you with your GDPR compliance efforts!

to help out with the GDPR audit and compliance process we're working on a SaaS tool making GDPR compliance a bit easier - it's in a beta mode, so if you're interested in using it, let me know - it will ask you some specific questions and as a result will give you complianc

[2018-05-09 12:51] einSelbst commented on #8719
Thanks for this very detailed and helpful information!
I will write you an email concerning the GDPR tool.
As there an ETA for the list regarding the changes for a vanilla Spree store? This month?
I will leave the issue open for now but please feel free to close it if you would like to.

[2018-05-10 15:44] mradfaber commented on #8719
We'll prepare those recommendations next week, I'll ping you here @einSelbst , thanks!

[2018-05-11 11:29] bbonislawski commented on #8676
Already fixed

[2018-05-11 11:29] #8676 closed

[2018-05-11 11:29] bbonislawski commented on #8498
Done on master

[2018-05-11 11:29] #8498 closed

[2018-05-14 21:31] thomasnal commented on #5786
We have the same problem.  We can't decorate any of Spree models by adding an enum.  We can't load console in production due the error, and can't re-run tests or console in development without unloading spring.

[code]
[code]

An idea and instruction would be helpful with a recommended way to decorate Spree models with enum attributes. Cheers.

[2018-05-14 21:48] thomasnal commented on #5786
`defined?` works to overcome the issue. In our situation, i.e.
[code]

[2018-05-16 08:58] bbonislawski commented on #8540
I'm sorry but I don't remember any issues similar to that.

Since we don't support spree versions older than 3.1, I'm sorry but I have to close it.

[2018-05-16 08:58] #8540 closed

[2018-05-16 09:01] bbonislawski commented on #8462
I guess this is stale and we won't know what was idea behind this issue.

[2018-05-16 09:01] #8462 closed

[2018-05-16 09:05] #8384 closed

[2018-05-16 09:09] bbonislawski commented on #8223
There was probably some other error that stopped migrations from working correctly. I cannot reproduce it and since there are not enough details, I'm closing this

[2018-05-16 09:09] #8223 closed

[2018-05-16 09:10] bbonislawski commented on #8147
It's not something that everyone would use so I'd propose to create is a separate gem. Since this is not an issue with spree, I'm closing this

[2018-05-16 09:10] #8147 closed

[2018-05-16 09:12] #8135 closed

[2018-05-16 09:15] #8066 closed

[2018-05-16 09:17] #7808 closed

[2018-05-16 09:18] #7748 closed

[2018-05-16 09:25] #7531 closed

[2018-05-16 09:26] bbonislawski commented on #7574
It's quite custom feature and I'm pretty sure that everyone will need it implemented in different way.

[2018-05-16 09:26] #7574 closed

[2018-05-16 09:51] krtschmr commented on #7517
why closed? u fixed it?

@bbonislawski

[2018-05-16 11:02] ravensorb commented on #7574
Not sure I understand?  Wouldn't it be a matter of an api that allows a prototype to be created with a specific base type and then define a set of properties with their corresponding types?  I would think this would be rather easy and straight forward (there are a lot of other systems that support this type of thing).

[2018-05-16 11:42] kushniryb commented on #8546
@bbonislawski Can we close this?

[2018-05-16 13:52] #8546 closed

[2018-05-17 03:59] lehug opened #8742 "core/app/models/spree/promotion.rb#L131"
[code here](https://github.com/spree/spree/blob/master/core/app/models/spree/promotion.rb#L131)

[code]

this line:
[code]

it is not used!

other question, every rules are applicable? to order, not to line_item, why cheche promotion.eligible?(line_item) in [promotion_handler/cart](https://github.com/spree/spree/blob/master/core/app/models/spree/promotion_handler/cart.rb#L26)

[2018-05-18 09:40] GrzegorzStochel commented on #8366
I can't reproduce that, maybe something is missing in description ?

[2018-05-18 09:41] bbonislawski commented on #8366
I couldn't reproduce it either. I'm closing it and will reopen if we get reproducible case

[2018-05-18 09:41] #8366 closed

[2018-05-18 11:11] bbonislawski commented on #8684
Can you try to create new application and provide proper reproduction steps for this issue?

[2018-05-21 08:44] bbonislawski commented on #5104
I don't think we can fix this issue and I'm not sure if it still occurs since configuration got some updates.

If anyone encounters this, just restart spring.

[2018-05-21 08:44] #5104 closed

[2018-05-21 08:48] bbonislawski commented on #4734
Fixed on master

[2018-05-21 08:48] #4734 closed

[2018-05-21 08:59] bbonislawski commented on #6112
I think this is safest option for users. If you need different way to handle it, customize it

[2018-05-21 08:59] #6112 closed

[2018-05-21 09:03] bbonislawski commented on #6212
That's true. If you need it, just add it into your application.

[2018-05-21 09:03] #6212 closed

[2018-05-21 09:10] bbonislawski commented on #8742
I've created PR for that.

For the question, please go to our slack and ask it there since `issues` are not place for asking questions.

[2018-05-21 09:12] bbonislawski commented on #8449
We cannot reproduce it on master so that was probably fixed already

[2018-05-21 09:12] #8449 closed

[2018-05-21 09:26] bbonislawski commented on #6480
Works properly on master. Closing.

[2018-05-21 09:26] #6480 closed

[2018-05-21 09:30] kushniryb commented on #8455
The default behaviour for route helpers includes subdomain which makes sense in my humble opinion.
I don't think that it would be smart to change it due to the fact that it could potentially break a lot of apps.
You can use `subdomain: false` option to exclude subdomain, e.g `root_url(subdomain: false)`

[2018-05-21 09:55] bbonislawski commented on #8455
As @kushniryb said. Closing for know. If you still think that it's a bug, please leave a comment

[2018-05-21 09:55] #8455 closed

[2018-05-21 10:05] bbonislawski commented on #6566
It depends on project. This is standard implementation and if you need, then you override it. I don't consider this as a bug so I'm closing

[2018-05-21 10:05] #6566 closed

[2018-05-21 10:10] #6226 closed

[2018-05-21 10:11] #6176 closed

[2018-05-21 10:15] bbonislawski commented on #7589
Already fixed on master.

[2018-05-21 10:15] #7589 closed

[2018-05-21 10:17] kushniryb commented on #6317
This was fixed by @damianlegawiec in edad155990e08492456db522a047a98b99e2451a and 053eaed161c55d0b4b875253bea786379184ca73
@bbonislawski Can we close it?

[2018-05-21 10:18] bbonislawski commented on #8003
I'd just replace abilities or override our ability initializer.

[2018-05-21 10:18] #8003 closed

[2018-05-21 10:29] #8742 closed