[2016-03-24 09:49] isindexer commented on #7229
@rohitnick ok that's a good point. I'll check how we will manage the product's slug identifier.
What about the text "copy of" in the SKU value of the cloned master product ?

[2016-03-24 09:53] SixDenier commented on #7229
@rohitnick ok that's a good point. I'll check how we will manage the product's slug identifier.
What about the text "copy of" in the SKU value of the cloned master product ? Nullify the value or just hide it ?

[2016-03-24 10:54] rohitnick commented on #7229
@SixDenier : Even I haven't figured out that bit yet. But I feel either nullifying or hiding it should be fine.

[2016-03-25 13:08] ayb opened #7240 "Spree::StockItem#count_on_hand not updating/being used"
Spree::StockMovement adjusts Spree::StockItem#count_on_hand

But Spree::Variant#stock_items_count doesn't seem to be doing anything.

The guide says "Count On Hand is no longer an attribute on variants. It has been moved to stock items, as those are now used for inventory management."

However Spree::Variant#stock_items_count is a field in the DB schema.

I'm happy to do a PR to resolve this if ne

[2016-03-27 16:21] blset opened #7241 "helper decorators not loaded in development"
hello

helper decorators for example app/helpers/spree/frontend_helper_decorator.rb are not loaded in dev mode, but do work in production

any idea how to make them work in development ?

[2016-03-27 23:12] pjar opened #7242 "git fsck warnings"
This repo has failed git fsck. I'm not able to push to create a fork

spree# git fsck
Checking object directories: 100% (256/256), done.
warning in tree 816b15c1be8993c832ca25cbe3fddc2595836698: contains zero-padded file modes
warning in tree e28ae52f361836df3a4bea3ed3a2d98254471f60: contains zero-padded file modes
warning in tree d7c8d1989db7d967bcb8f7c671b399539f30c7e1: contains zero-padded file

[2016-03-28 06:58] damianlegawiec commented on #6942
@fabiode @odk211 @dhonig

@romul moved Address Book to [spree-contrib/spree_address_book](https://github.com/spree-contrib/spree_address_book)  :tada: :tada: :tada:

I've spent some and have fixed it for **Spree 3.0** and **Spree 3.1**

[2016-03-28 12:10] #7237 closed

[2016-03-28 15:16] fabiode commented on #6942
@damianlegawiec great news!  :tada: nice work!

[2016-03-28 20:26] crypticsymbols opened #7247 "/admin/products/:id/clone should not be GET"
I may submit a PR for this later, but I wanted to document this before I forgot:

One of our admins had an offline browser crawling and saving pages (why is unknown), which kept triggering `GET` requests to the product clone endpoint, creating thousands of product copies that ended up showing to end users on production.

This particular case is mostly user error, but it might be good to move the c

[2016-03-28 20:33] damianlegawiec commented on #7247
:+1:

Good catch @crypticsymbols - feel free to submit a PR - thanks!

[2016-03-28 22:17] crypticsymbols commented on #7247
Opened #7248 - let me know if anything needs changing :)

[2016-03-30 04:29] PascalPencil opened #7252 "S3"
Can't get S3 working, using Heroku so writing locally disables backups, must be missing something simple?

The following code does not error and works, but the files are not on S3:
[code]

Thanks to anyone giving this consideration :100:

[2016-03-30 05:29] priyank-gupta commented on #7252
@PascalPencil You may find this, http://stackoverflow.com/questions/36063670/unable-to-connect-spree-app-with-s3/36278534#36278534, useful.

[2016-03-30 08:20] #6871 closed

[2016-03-30 08:25] priyank-gupta commented on #6609
The issue was fixed with https://github.com/spree/spree/pull/6790 merge.

[2016-03-30 08:25] #6609 closed

[2016-03-30 11:20] PascalPencil commented on #7252
@priyank-gupta thank you! I was able to upload images to S3 now, which seem to be in my S3 container, however, the app cannot seem to retrieve that image, it requests `http://s3.amazonaws.com/APP-NAME/app/public/spree/products/50/product/CehKQ5CW8AESGLs.jpg?1459335605` but that is not the correct path, any ideas?

[2016-03-30 11:47] priyank-gupta commented on #7252
@PascalPencil Can you paste your updated config and `action_controller.asset_host` config for reference ?

[2016-03-30 17:07] tommiller1 opened #7254 "lineitems can be modified even after an order state is set to completed"
Hello,

Like the title says, I am able to add/update/remove lineitems for orders that are in the completed state. Is this intentional? How do I prevent this from happening?

I am updating orders through the spree api btw.

Regards.

[2016-03-30 19:21] damianlegawiec commented on #7254
Hi @tommiller1 , this is intentional to allow store owners modify order contents later.

[2016-03-30 19:39] tommiller1 commented on #7254
Ok but atm even normal users can update orders after they have been completed. I am logging in with the users spree_api_key to update the orders. There should be a privilege check to prohibit the normal users from modifying the orders imo.

[2016-03-31 03:31] PascalPencil commented on #7252
[code]

I hadn't set assets_host, but since you mentioned it I tried setting it to `config.action_controller.asset_host = "//APP-NAME.s3.amazonaws.com"` resulting in Rails assuming all assets were up there

[2016-03-31 05:38] priyank-gupta commented on #7252
@PascalPencil Try adding
[code]

[2016-03-31 07:20] PascalPencil commented on #7252
@priyank-gupta Thank you for your continued replies!

The view generates:
`http://s3.amazonaws.com/rommydebommy/spree/spree/images/1/mini/IMG_8142.JPG?1459408348`
The link should be:
`http://rommydebommy.s3.amazonaws.com/spree/spree/images/1/mini/IMG_8142.JPG?1459408348`

[2016-03-31 07:48] PascalPencil commented on #7252
@priyank-gupta Seems to be related to this issue: https://github.com/spree/spree/issues/1840
As I am using eu-west-1

[2016-03-31 07:51] priyank-gupta commented on #7252
@PascalPencil Yeah, you got it right.
You link should be something, http://s3-eu-west-1.amazonaws.com/rommydebommy/spree/spree/images/1/mini/IMG_8142.JPG?1459408348

[2016-03-31 13:24] PascalPencil commented on #7252
Fixed, thank you @priyank-gupta for helping out!
The final code for reference:

[code]

[2016-03-31 13:24] #7252 closed

[2016-03-31 20:47] fabiode opened #7256 "Variant name or SKU is not ransack searchable through API"
Hi! I think I found a problem using the new Stock Transfer form.

While searching for the Variants using SKU or name, the API responds wrongly. It does not apply the ransack filter and, testing here, I think it's because StockItem model does not have _variant_ association in **whitelisted_ransackable_associations**.

Maybe there are others models that can't be ransacked through API because of the

[2016-04-01 10:41] shivabhusal opened #7257 "Workflow never reaches `Confirm` tab after 100% discount coupon is added"
Once I add my 100% discount coupon in `Payment` tab , it redirects me to the `Address` tab and when I process upto `Delivery` tab and press `Save and Continue` button then again I am redirected to `Address` tab.

This happens only in `Production`  not in `Development`.

**Expected**: I should be able to process the Order with 100% discount coupon.
Link to Gist of Gemfile.lock

Steps:
- Checkout fr

[2016-04-01 11:17] shivabhusal commented on #7257
For now I updated the `100.0` to `99.9`. and its working but you know its not a solution. :(

[2016-04-02 16:09] ziyan-junaideen commented on #6283
https://guides.spreecommerce.com/release_notes/spree_3_0_0.html is not reachable.

[2016-04-03 07:16] priyank-gupta commented on #6283
@ziyan-junaideen Try http://guides.spreecommerce.com/release_notes/spree_3_0_0.html (without https)

[2016-04-03 17:43] Mafi88 commented on #6283
@ziyan-junaideen It's temporary

[2016-04-04 08:20] priyank-gupta commented on #7257
@shivabhusal This is working fine for me on spree 3.0.5. Although it initially redirects to address step after applying 100% discount but after that user is able to complete order.

**Reason for redirection:** When 100% discount is applied (at payment step) the order state machine removes payment state from checkout flow and hence user will have to re-transit the flow which now will complete the o

[2016-04-04 08:29] priyank-gupta commented on #7256
@fabiode Agreed. Please do a PR for this. Thanks!!!

[2016-04-04 08:32] priyank-gupta commented on #7254
@tommiller1 I see your point here. The ability described for Order doesn't have `completed?` check while updating order. https://github.com/spree/spree/blob/master/core/app/models/spree/ability.rb#L47.

Can you do a pull request for this ? Thanks!!!

[2016-04-04 08:32] #7247 closed

[2016-04-04 08:49] priyank-gupta commented on #7241
@blset This is working for me. Please share your `environments/development.rb`, spree version and `frontend_helper_decorator.rb`.

[2016-04-04 11:47] blset commented on #7241
It’s working for me too, the problem was a duplication of the physical file containing the helper class, one located in app/helper/spree, the good one, the other in app/helper that was in the way

it seems that  the helper is loaded regardless of its location in the app/helper path, it’s loaded even if the class name does not match the file position in the hierarchy, provided it’s in app/helpers

[2016-04-04 12:21] #7241 closed

[2016-04-05 14:32] blset opened #7266 "paybox direct payment impossible"
On spree 3.08 with paybox direct configured as activemerchant extension,

the payment goes to paybox server but cannot succeed because the number of the card is never sent to the server

in fact the card number is entered at the payment step and the call to paybox only achieved after place order, so that, since the card number is not stored in spree_credit_cards, but only the last 4 digits, it see

[2016-04-05 19:15] #6598 closed

[2016-04-06 04:14] ducnguyenhuy opened #7267 "_head.html.erb error when add new css.erb file"
Hi,

I'm using Spree 3.0.7. For now, I'm getting a error when I try to add a new css file (main.css.erb). This worked for me in Spree 3.0.4. does It seems error cause by extension file ".css.erb"? Below is more detail about error.

/usr/local/rvm/gems/ruby-2.2.2/gems/spree_frontend-3.0.7/app/views/spree/shared/_head.html.erb where line #8 raised:

undefined method `start_with?' for nil:NilClass

T

[2016-04-06 06:26] damianlegawiec commented on #7240
@ayb I think `stock_items_count` column should be removed

What do you think @priyank-gupta @Mafi88 ?

[2016-04-06 06:27] #7175 closed

[2016-04-06 07:55] blset commented on #7266
if the confirmation step is disabled in spree initializer :  config.always_include_confirm_step = false
then the payment is successfully processed

but with the confirmation step on, it does not work

[2016-04-06 09:52] Mafi88 commented on #7240
I agree, it's not needed anymore.

[2016-04-06 17:24] ayb commented on #7240
To follow up - I just discovered that this was removed from Solidus by @jhawthorn last year

Here is the relevant commit:

https://github.com/solidusio/solidus/commit/3acea32c2ac0a6caf82c76eed78153a09f15152c#diff-e1e482f5445beaac0a94638b870a8543

[2016-04-06 21:42] damianlegawiec commented on #7240
@ayb nice - can you cherry-pick those? Of course, you have to change the migration date to current so it will be run in proper order

[2016-04-07 18:20] tommiller1 opened #7269 "bundler errors when using the master branch"
Hi,

I have the following in my gemfile:
gem 'spree', github: 'spree/spree', branch: 'master'
gem 'spree_auth_devise', github: 'spree/spree_auth_devise'
gem 'spree_gateway', github: 'spree/spree_gateway'

When I run 'bundle install --without production', I get these errors:

[code]

Any idea whats causing this? Documentation doesn't mention any other steps to use the master branch.

Regards.

[2016-04-08 11:07] tommiller1 commented on #7269
Issue fixed by: https://github.com/spree/spree/pull/7268

[2016-04-08 11:37] damianlegawiec commented on #7269
@tommiller1 it was actually fixed by https://github.com/spree/spree_auth_devise/pull/337 but it's fixed :)

[2016-04-08 11:37] #7269 closed

[2016-04-08 11:37] damianlegawiec commented on #7267
@ducnguyenhuy could you try update to `3.0.8` or `3.1.0rc1` ?

[2016-04-08 15:28] SamShekhovtsov opened #7275 "Change local of the site and admin part"
Hello dear spree community,

Can you please help me to figure out how I can change locale of the Spree based application to EN - English? I've changed it everywhere in the configuration files, but it's still in German. Have no ideas what to try next. Thanks in advance.

[2016-04-08 15:35] SamShekhovtsov opened #7276 "Enabling new product for sale"
Hello,

There is a problem with creating a new product. I've added new product in the administration area, but it's still not available in the Shop. The Start date is set correctly, count in stock is also set right. But the product is not available on the site home page. What else should I do to enable that product for sale?

[2016-04-08 21:38] cfecteau1 opened #7277 "hi I'm using c9.io ide and having problems with missing files. The store launches toserver and functions correctly, but I have no accessto any of code as far as views, assets, controllers or models, or core so I am unable to modify. is this due to running in a cloud ide"

[2016-04-09 00:37] tommiller1 commented on #7254
I added a pull request but it seems some of the feature specs rely on an order being editable even when its in the completed state, I am not familiar enough with spree to make any decisions regarding this. Is there any way I can just modify the update ability in my own project without modifying spree?

[2016-04-09 08:03] #7277 closed

[2016-04-11 12:13] shivabhusal commented on #7257
@priyank-gupta do you see any potential faults in my `Promotion` screenshot?

- I could replicate the issue in my `development` and other `environment`s as well.

Do you guys need any extra information to debug? Please ask if you need

:) thanks

[2016-04-11 15:20] shivabhusal commented on #7257
@priyank-gupta my another question would be

I would be very thankful if any one could answer my question.
Thanks

![image](https://cloud.githubusercontent.com/assets/8004593/14432164/a3a0ee94-0028-11e6-8dae-1d8a508e0542.png)

[2016-04-11 19:20] damianlegawiec commented on #7275
@SamShekhovtsov this isn't an issue, for support please use http://slack.spreecommerce.com

[2016-04-11 19:20] #7275 closed

[2016-04-11 19:20] #7276 closed

[2016-04-11 19:20] #7267 closed

[2016-04-11 19:24] damianlegawiec commented on #6825
https://github.com/spree/spree/pull/7278 removed Spree Installer altogether

[2016-04-11 19:24] #6825 closed

[2016-04-11 19:27] #6706 closed

[2016-04-11 19:31] #6506 closed

[2016-04-11 19:34] #6589 closed

[2016-04-11 19:35] #6591 closed

[2016-04-11 19:36] damianlegawiec commented on #6593
@devsli https://github.com/spree/spree/pull/7010 introduced new RWD emails, it's already in `Spree 3.1.0`

[2016-04-11 19:36] #6593 closed

[2016-04-11 19:37] #6610 closed

[2016-04-11 19:38] #6613 closed

[2016-04-11 19:45] damianlegawiec commented on #6417
@tomaswitek  @LaurensN  `Spree 3.2.0` will have fully responsive admin panel

[2016-04-11 19:48] damianlegawiec commented on #6411
`Spree 3.1.0` introduced product discontinuation, thanks to @jasonfb :)

https://github.com/spree/spree/blob/master/guides/content/release_notes/3_1_0.md

[2016-04-11 19:48] #6411 closed

[2016-04-11 19:49] damianlegawiec commented on #6401
@vernondegoede this PR https://github.com/spree/spree_auth_devise/pull/333 fixes this problem :)

[2016-04-11 19:49] #6401 closed

[2016-04-11 19:52] #6308 closed

[2016-04-11 19:52] #6300 closed

[2016-04-11 19:53] #6275 closed

[2016-04-11 19:58] #7143 closed

[2016-04-11 20:00] #6519 closed

[2016-04-11 20:05] damianlegawiec commented on #6343
`Spree 3.1.0` introduced product discontinuation which should "fix" this use case.

[2016-04-11 20:05] #6343 closed

[2016-04-11 20:08] #6242 closed

[2016-04-12 06:07] #6266 closed

[2016-04-12 07:15] vernondegoede commented on #6401
Great! Thank you @damianlegawiec

[2016-04-12 11:18] Ashishb1990 commented on #7254
There are many issue in spree when you will submit address form it will not go for next , you can add item and quantity both will multiply wrong

[2016-04-12 12:50] #7229 closed

[2016-04-14 16:25] devilcoders opened #7291 "Unused _typography.scss file in backend"
This file `backend/app/assets/stylesheets/spree/backend/shared/_typography.scss` is not used anywhere. I suppose I  just forgot to remove it after we migrated to bootstrap. It should be safe to remove it now.

[2016-04-14 16:50] #7291 closed

[2016-04-15 10:23] misteral opened #7294 "Build.sh issue"
v3.0.8
[code]
fail with many errors like this
[code]
[code]
in any cases

mac os x 10.10.5

please somebody help me ...

[2016-04-15 12:23] damianlegawiec commented on #7294
@misteral please use `3-0-stable` branch (locks `acts_as_list` at 0.7.2)  or run bundle update -`acts_as_list` 0.7.4 fixes this issue

[2016-04-15 12:23] #7294 closed

[2016-04-15 20:27] fabiode opened #7300 "Impossible to add backorderable variants in admin cart"
Hey guys!

The autocomplete form is missing backorderable logic using Handlebars, so products with variants that were backorderable could not be added to the cart. I did a pull request for it: #7299

See what you think about it.

[2016-04-15 20:39] fabiode commented on #7256
@priyank-gupta Did it! #7301

[2016-04-15 20:50] fabiode opened #7302 "Master variant appears in store back-end cart autocomplete when Product has other variants"
I think this behavior is kind of strange, since in store front-end, after you create variants for a certain product, you cannot add the master variant to the cart, and if I think in old versions of Spree, you actually could not add master variant if the Product had other variants.

This is caused by the ••Spree::Api::V1::VariantsController•• which uses as base scope _@product.variants_including_ma

[2016-04-17 12:05] ducnguyenhuy opened #7307 "Can't update ransack"
I'm using version 3.0.7, and when I check 'ransack' by command line `bundle show ransack`, it shows me ransack version 1.4.1. For now, I want to update ransack version, I have try to `bundle update ransack` but ransack is not updated. Could you tell me how to update ransack to newer version that it still works on spree version 3.0.7. Thanks.

[2016-04-17 13:18] krzysiek1507 commented on #7307
@ducnguyenhuy ransack is locked on version `~> 1.4.1`
https://github.com/spree/spree/blob/3-0-stable/core/spree_core.gemspec#L39

[2016-04-17 13:20] ducnguyenhuy commented on #7307
@krzysiek1507 So can't I update it?

[2016-04-17 13:34] krzysiek1507 commented on #7307
@ducnguyenhuy Nope, but you can send pull requests to master and 3-0-stable with updated ransack.

[2016-04-17 13:54] ducnguyenhuy commented on #7307
@krzysiek1507: If I create pull request and they merged them, then how to update ransack on my server?

[2016-04-17 14:21] krzysiek1507 commented on #7307
@ducnguyenhuy Then you can update spree and ransack  to newest 3.0.x version if released.

[2016-04-17 14:47] ducnguyenhuy commented on #7307
@krzysiek1507: Yes, I c. But your site is live, so I only want to update ransack, not others. So updated new released maybe maybe bug on my live site. Right?

[2016-04-17 16:03] krzysiek1507 commented on #7307
@ducnguyenhuy It is possible if changes in new versions conflict with your custom code.

[2016-04-17 17:20] piya23300 opened #7308 "user_class not work! on production"
I set `Spree.user_class` to use my user model with main app.

On development, It works well.
when admin logged in success on main app and then admin goes to shop's admin, it also logged in while it call my user model.

On production server, It doesn't work.
when admin logged in success on main app and then admin goes to shop's admin, admin have to log in again but login always fail because login r

[2016-04-17 18:42] damianlegawiec commented on #7308
@piya23300 try removing `spree_auth_devise` from your Gemfile

[2016-04-18 11:23] devilcoders opened #7309 "Remove unused stylesheets from backend"
`backend/app/assets/stylesheets/spree/backend/components/_variables.scss` and `backend/app/assets/stylesheets/spree/backend/plugins/_js_tree.scss` (empty) are not used in backend and can be safely removed.

[2016-04-18 11:54] #7309 closed

[2016-04-18 17:38] piya23300 commented on #7308
@damianlegawiec Thank you so much. It works well.

[2016-04-18 17:38] #7308 closed

[2016-04-19 14:08] ttibau opened #7313 "Error when i upload/delete image"
Hello, before this issue  issue i apologize for my English.
In production, my application its works, but when i upload or delete a new image, i receive this message:  "We're sorry, but something went wrong."
I check the logs and i received this: (https://gist.github.com/ttibau/6cc13847fdcca537de7446b3ef7d81ac)
I do not find the solution.
Sorry for my english. Thanks.

[2016-04-19 14:22] damianlegawiec commented on #7313
@ttibau this is actually `acts_as_list` issue, please update this gem to `0.7.4` or downgrade to `0.7.2`

[2016-04-19 15:44] #7313 closed

[2016-04-20 18:54] ttibau commented on #7313
Please tell me how i can change this gem. Thanks!
I tried, but no got success.

[2016-04-20 21:34] fabiode commented on #7256
@priyank-gupta The PR has been merged! https://github.com/spree/spree/pull/7301
Closing the issue.

[2016-04-20 21:34] #7256 closed

[2016-04-21 20:40] ttibau commented on #7313
@damianlegawiec Please reopen this issue.

[2016-04-25 03:26] Baozi2 opened #7322 "deploy by need"
is there a good idea that I deploy spree by need? For example  I deploy frontend in Internet but the backend is deplyed,that I want to deploy backend only in Intranet?
thank you

[2016-04-27 15:52] ttibau opened #7323 "update act_as_list"
How i can update the gem 'act_as_list' to ` 0.7.4 ` or ` 0.7.3 `. In RubyGems the act_as_list are in 0.6 version in spree_core gem, i have errors because this gem. Sorry for my English

[2016-04-28 22:01] markfinlaybonkers commented on #7323
From what I can see spree/core use is already using acts_as_list '0.7.4' which is the the same as the version in current master for acts_as_list.

[2016-04-29 01:14] #7323 closed

[2016-04-29 15:31] dimebar opened #7328 "Back Order bug in 3.0.4"
Slight problem with backorders in 3.0.4, say I create 3 separate orders.

Order1 = 1 backorderable item
Order2 = 2 backorderable items
Order3 = 1 backorderable item

Giving me a total of -4 in stock.

If I manually update Oder2 to 1 backorderable item click update and set it back to 2 backorderable items.

Order1 is no longer backorderbale and is marked as on hand and ready to ship even though I s

[2016-04-29 16:52] glapworth commented on #7328
I can reproduce this issue:

Product x is backorderable and has 0 stock.

Order 1 contains shipment of 1 * Product X (on backorder)
Order 2 contains shipment of 2 * Product X (on backorder)
Order 3 contains shipment of 1 * Product X (on backorder)

Edit order 2, and change shipment to contain 1x Product X puts one item back in stock. This item gets allocated to Order 1 and order 1, product X is no

[2016-05-02 07:24] radha290884 opened #7331 "installing spree extensions"
Hello!
Im trying to install different exxtensions but always have problems.
For example, when Im installing spree_email_to_friend this is the error.

C:\Bitnami\spree-3.0.4-1\shop>bundle install
Fetching git://github.com/spree/spree_i18n.git
Fetching https://github.com/spree-contrib/spree_email_to_friend.git
Fetching gem metadata from https://rubygems.org/
Fetching version metadata from https://ru

[2016-05-04 03:25] PascalPencil opened #7333 "UX"
I recently installed Spree for a client, and while it seems you are the largest and most popular gem by far, I wanted to write down the frustrations I had while installing and getting it set up, in the hope that these pain points can be re-evaluated by people who make Spree from the perspective of a user, I hope this is valuable, if not, feel free to trash the issue.

UX issues I think could be fi

[2016-05-06 05:51] fiftin commented on #7331
spree_email_to_friend.gemspec:
[code]
You can update your Spree to version 3.1

[2016-05-06 10:51] antoineayoub opened #7337 "Cannot transition state via :next from :cart (Reason(s): State is not included in the list)"
Hello guys,

I am new to rails and I have an issue i could not solved due to an upgrade from spree 3-0-stable to 3-1-stable.

[code]

**Issue Explanation**
I create a new checkout process quick_checkout to allow customers already logged to finalize there order in 2 clicks : cart => quick_checkout => complete.

To do it I override the order model to insert and remove steps :
[code]
I also add the n

[2016-05-08 12:52] PascalPencil opened #7338 "Wrong currency displayed"
On the product page:
<img width="238" alt="screenshot 2016-05-08 21 51 10" src="https://cloud.githubusercontent.com/assets/3094044/15097902/2c31c4f6-1567-11e6-8ed8-bfccbf99b599.png">

On the cart page and payment pages:
<img width="475" alt="screenshot 2016-05-08 21 51 20" src="https://cloud.githubusercontent.com/assets/3094044/15097904/32387dcc-1567-11e6-8ed0-44d71abdfc60.png">

This is on 3-0-st

[2016-05-09 09:09] SylarRuby opened #7339 "Question: Spree on Rails 5"
Is there a branch I could play around with for Rails 5? I know I could use Rails 4 but I'll be doing some deep modification.

[2016-05-09 09:15] damianlegawiec commented on #7339
Hey @SylarRuby , the master branch which will become `3.2.0` is going to be ported to Rails 5 in coming weeks. The latest stable release - `3.1.0` is still Rails 4.2.

[2016-05-09 09:16] #7339 closed

[2016-05-09 09:30] damianlegawiec commented on #7333
Hey @PascalPencil

Thanks for your feedback. I'll try to answer most of your concerns.

The Spree customer frontend was intended to be a simple starting point only. In most cases you would overwrite it all with your custom views.

That's someting that we can change - good catch.

Those docs are outdated :( we're going to update them in coming weeks for 3.1 release.

The upgrade guide specifies tha

[2016-05-09 13:54] damianlegawiec commented on #7338
@PascalPencil please test it against `3.1` - it should be fixed in this version :)

[2016-05-09 14:05] joryhatton commented on #7337
👍

I'm seeing the same issue in 3-1-stable.  I can no longer transition to a custom state added with `insert_checkout_step`.  I get the 'State is not included in the list' error, although `Spree::Order.state_machine.states` now includes my custom state.

[2016-05-10 03:16] damianlegawiec commented on #7337
@antoineayoub @joryhatton thanks for reporting this - we're looking into it

[2016-05-10 10:19] vishalzambre opened #7343 "Can we add Tagging module in spree for products"
Can we add tagging module for products.

If yes I'll ready to send PR for same.

[2016-05-10 10:35] damianlegawiec commented on #7343
Hey @vishalzambre  - how would this differ from `Taxons`? :)

[2016-05-10 11:56] vishalzambre commented on #7343
@damianlegawiec Taxons are different that tags a tag is a non-hierarchical keyword or term assigned to a piece of information (such as an Internet bookmark, digital image, or computer file).

You can call it as structure of non-hierarchical taxonomies

Taxons are nothing but the categories of products correct me if I'm wrong. But tags can be used to group data not only products it could be anythin

[2016-05-10 12:47] damianlegawiec commented on #7343
@vishalzambre please submit a PR than :)

[2016-05-10 12:52] vishalzambre commented on #7343
yes :+1:

[2016-05-10 17:34] Mafi88 commented on #7331
@radha290884 If your store is running on spree 3-0-stable, you should install extensions for this version, for example: https://github.com/spree-contrib/spree_email_to_friend/tree/3-0-stable

[2016-05-10 20:32] radha290884 commented on #7331
Thanks both of u! Ill try it and tell u what finally happend!!

-------- Mensaje original --------
De: Mafi88 <notifications@github.com>
Fecha: 10/05/2016  19:34  (GMT+01:00)
Para: spree/spree <spree@noreply.github.com>
Cc: radha290884 <radha290884@hotmail.com>, Mention <mention@noreply.github.com>
Asunto: Re: [spree/spree] installing spree extensions (#7331)

@radha290884 If your store is running

[2016-05-11 10:41] damianlegawiec commented on #7337
@antoineayoub @joryhatton thanks to @mauazua and @krzysiek1507 this issue is fixed on `3-1-stable` and `master` branches, `3.1.0.rc3` containing this fix will be released later today :)

[2016-05-11 10:41] #7337 closed

[2016-05-11 13:41] gitrepo4koresol opened #7346 "Performance Problem - Home - Index - Retrieving records from database having 5000+ products"
Hi -
We are using spree 3-0-stable for one of our clients eCommerce portal.

We observed that performance was good till 1000 products in database.
When we uploaded 5000+ products, it took more than 32500 ms to render the home/index page.
After further debugging we found that below query took significant long time to execute, please could anyone provide pointers to refine the below query or suggest

[2016-05-11 20:31] antoineayoub commented on #7337
thanks for your reactivity @damianlegawiec it is working now.

[2016-05-15 21:59] tommiller1 opened #7349 "Exception when adding an item to empty order through the admin panel"
Hi,

Removing all items from an order through the admincp and then adding a new item to it causes this error:
(undefined method `set_up_inventory' for nil:NilClass) inside /order_inventory.rb:69:in`block in add_to_shipment'

Regards.

[2016-05-16 10:18] #7338 closed

[2016-05-16 10:18] #7331 closed

[2016-05-16 10:18] #7307 closed

[2016-05-16 10:19] #7322 closed

[2016-05-16 10:51] damianlegawiec commented on #7349
@tommiller1 thanks for reporting this

[2016-05-16 12:55] gauravmahajan31 opened #7351 "Redundant scopes for products"
In the [scopes.rb](https://github.com/spree/spree/blob/master/core/app/models/spree/product/scopes.rb), the scope `active` is redundant as it is using `not_discontinued` chained by `available`. The `available` scope itself includes the `not_discontinued` scope. Also, we are passing currency in the arguments for both `active` and `available` scopes. But, currency is not being used anywhere in the s

[2016-05-16 21:44] tommiller1 opened #7352 "shipment states are frozen"
Hi,

We need to add a new state to shipments: processing

However SHIPMENT_STATES is frozen and we cant add our new state to it even in a class_eval, is there any way to bypass this issue? We cant unfreeze the array and the order validates the shipment_state in a lambda so we cant override the validation either.

Regards.

[2016-05-17 06:49] damianlegawiec commented on #7352
Thanks again for reporting @tommiller1 ! :)

[2016-05-17 08:36] #7352 closed

[2016-05-17 13:44] tommiller1 opened #7356 "Cannot transition state via :return from :resumed (Reason(s): State cannot transition via "return")"
Hi,

Steps to reproduce:
1. create an order with just 1 item.
2. cancel the order through admincp.
3. resume the order (should be in the resumed state)
4. add a payment through admincp (state is still resumed, shouldnt it be completed?)
5. ship the order (state is still resumed, shouldnt it be completed?)
6. create return authorization
7. create new customer return -> this will cause this error: C

[2016-05-17 14:06] tommiller1 commented on #7356
Other issues with resumed state:

Its not possible to cancel a resumed order.
Shipments state is cancelled even after order is resumed.

In my opinion it would be much simpler to just provide a 'clone order' button after an order has been cancelled and remove the resumed state entirely.

[2016-05-17 19:31] AlexMcConnell opened #7358 "Tutorial doesn't work"
https://guides.spreecommerce.com/developer/getting_started_tutorial.html

rails _4.2.0_ new mystore
cd mystore
spree install --auto-accept

Could not find gem 'spree (~> 3.0.9)' in any of the gem sources listed in your Gemfile or available on this machine.

[2016-05-17 20:27] AlexMcConnell commented on #7358
So, I get past that error when I use Rails version 4.2.2 instead, but then it hangs on
'bundle install from "."'

[2016-05-17 22:00] antoineayoub commented on #6713
Hello @cshapeshifter,

Did you get any answer for your second question ?
I have the same issue and It's seems that the slugs must be uniq and the slug translations must be different. Is that your conclusion ?

Thx
Antoine

[2016-05-18 12:13] alexkirill opened #7359 "Home page error after installation of 3.1.0.rc3"
After installation of 3.1.0.rc3
ExecJS::ProgramError in Spree::Home#index
Showing C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/spree_frontend-3.1.0.rc3/app/views/spree/shared/_products.html.erb where line #28 raised:

    25:           <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
    26:             <div class="panel-bo

[2016-05-18 16:11] tommiller1 opened #7361 "Routing error: No route matches [GET] "/admin/orders/R689775778/customer_returns/3""
Hi,

Steps to reproduce:
1. Ship order
2. Create return authorization
3. Create new customer return
4. Click on "create reimbursement", it should take you to orders/R689775778/reimbursements/4/edit
5. Now click cancel, it will redirect you to orders/R689775778/customer_returns/3 which causes the routing error.

Another bug(?) on this page: orders/R689775778/return_authorizations/new
The amount und

[2016-05-18 17:05] tommiller1 opened #7362 "Closing adjustments when order is completed causes issues if quantity is modified through admincp"
Hi,

It seems all adjustments (except tax related ones) get closed when an order is checked out (moves to completed state) which prevents changes to line items through the admincp from effecting them. If a line item has a promotion adjustment attached to it and the admin changes the quantity then the expected behavior is that the promotion discounts are also adjusted (at least if the quantity is r

[2016-05-19 00:38] jsespin1 commented on #6041
son unos genios !

[2016-05-19 06:34] SylarRuby opened #7363 "undefined method `spree_api_key="
**Spree 3.1.0.rc3**

On development, I have switched to postgreSQL db. Then ran:

`rake db:reset db:seed db:migrate` then got the error just after it asked for the spree admin details:

Did you mean?  spree_role_ids=

Before this, [following this guide](https://guides.spreecommerce.com/developer/authentication.html#the-user-model) to add a custom user model. The guide needs updating because I do n

[2016-05-19 10:36] mauazua commented on #7356
hi @tommiller1, thanks for reporting this issue. I think that adding a transition from `resumed` to `return` will be a better approach to resolving the issue with transitions. About the payment and shipment states in order, the order needs to be updated (`update_with_updater` would be the best) after the `resume` transition is complete.

[2016-05-19 10:40] damianlegawiec commented on #7300
Fixed :)

[2016-05-19 10:40] #7300 closed

[2016-05-19 10:45] tommiller1 commented on #7356
Hi, we submitted a PR for this which fixes the issues. I was under the impression the return state is for when all items have been returned? An order cant be cancelled after it has been shipped anyway.

[2016-05-20 13:32] antoineayoub opened #7365 "Spree product status "Discontinued" after a Spree upgrade"
Hello everyone,

after an upgrade from Spree 3-0-stable to 3-1-stable it seems that all my "Deleted" product take the status "Discontinued".

The problem is that I'm still seing  these products in my admin product page even if the checkbox in the filter navbar is unselected.
<img width="325" alt="capture d ecran 2016-05-20 a 15 28 30" src="https://cloud.githubusercontent.com/assets/12274713/154291

[2016-05-22 11:29] damianlegawiec commented on #7356
@tommiller1 in your solution to this issue the `resumed` state is kinda useless and non-existent which would break many businesses customer service workflows - they wouldn't know which orders are resumed and which are new. Like @mauazua suggested, better approach would be to just add additional transitions

[2016-05-22 13:15] tommiller1 commented on #7356
Alright, thanks for the feedback.

[2016-05-22 15:10] chris-barklem opened #7368 "rails g spree:install --user_class=Spree::User Hangs in terminal"
I attempted the usual fix, removing spring ...

Basically I removed the version control on the spree gems in the gem file and ran a bundle update. Bundle downgraded the versions on spree to the stable:

[code]

It now installs.

[2016-05-23 15:41] reelman commented on #7363
Seems like I had similar issue. In my case I didn't install api migrations
`bundle exec rake spree_api:install:migrations`

[2016-05-23 17:30] sylvinho81 commented on #6837
Hi guys,

I am trying to apply the brand filter and  using Spree_i18n  3-0-stable, I am getting "**nil**" always.  If I use @bricesanchez  solution, "using the property id instead the property name",  I can get the results.

Did you fix the problem with the translations? I am using 3-0-stable, globalize (5.0.1).

Thanks

[2016-05-24 17:28] travishaynes opened #7372 "Locales are being loaded after decorators, which can cause missing translation exceptions."
To reproduce this issue, follow the [getting started guide](https://github.com/spree/spree#getting-started) so you have a completely new Spree installation, then add a new decorator for a model that accesses the locales. `LineItem` is one of them:

[code]

Turn on the missing translation exception rule in `config/environments/development.rb`:

[code]

Then start Rails. You should get a `translatio

[2016-05-25 15:20] mauazua commented on #7372
hi @travishaynes, thank you for reporting this issue.

[2016-05-26 04:48] odk211 opened #7375 "OrderContents#remove_line_item do not restock item."
`OrderContents#remove_line_item` is used by `Spree::Api::V1::LineItemsController#destroy`

This method do not re-stock item, because `Spree::LineItem#update_inventory` method is not called actually.
Because `if (changed? || target_shipment.present?) && order.has_checkout_step?("delivery")` is false
when simply destroy line_item in OrderContents#remove_line_item.

https://github.com/spree/spree/blo

[2016-05-26 04:52] zambrevishal commented on #7372
@mauazua  @travishaynes  Can I raise PR for same?

[2016-05-26 05:46] damianlegawiec commented on #7372
@zambrevishal sure - go ahead! :)

[2016-05-26 10:14] #7372 closed

[2016-05-26 14:35] Baozi2 opened #7379 "spree load routes by sort"
when I use  spree_auth_devise and  spree, when I ran  rake routes ,I found that the spree_auth_devise' routes  is loaded before frontend , frontend by backend.Do have rule  for  load routes?

[2016-05-26 23:47] BraydonG opened #7380 "Spree Install Fatal Error."
I'm having a problem

My current problem is running `$ spree install`
This issue is related to:

  - [X] Other

Here are my current details:

[code]

[2016-05-26 23:48] BraydonG commented on #7380
I'm running an ubuntu/UNIX VM.

[2016-05-27 00:31] odk211 opened #7381 "HTTP DELETE method with payload is not good."
Some backend code use HTTP DELETE method with payload. But It is better not to use DELETE with payload if we can. You can see discussion [here](http://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request).

I found Spree token is send in payload, but we can use 'X-Spree-Token' header.
https://github.com/spree/spree/blob/master/backend/app/assets/javascripts/spree

[2016-05-27 06:27] damianlegawiec commented on #7381
@odk211 - good catch - can you submit a PR with a fix?

[2016-05-27 08:09] odk211 commented on #7381
@damianlegawiec I checked backend code, and maybe this is the only code to use DELETE method with payload.

[2016-05-27 09:42] #7381 closed

[2016-05-28 22:51] damianlegawiec commented on #7380
@BraydonG this is a RubyGems issue https://github.com/rubygems/rubygems/issues/1420 - please update it to at least `2.6.3`

[2016-05-28 22:51] #7380 closed

[2016-06-01 00:12] fbmiranda7 commented on #6713
@cshapeshifter I can confirm that the first issue still happens, just installed from scratch and had the same issue.

[2016-06-01 17:33] azranel opened #7389 "Address zipcode wrong validation"
Right now on master branch there is validation for Address model for zipcode. It's always check it even though this may be problem because for example Hong Kong doesn't have zipcodes.

[2016-06-01 17:39] krzysiek1507 commented on #7389
@azranel you can disable zipcode validation https://github.com/spree/spree/blob/master/core/app/models/spree/address.rb#L97-L99

[2016-06-01 18:27] azranel commented on #7389
@krzysiek1507 I know that but still I think that by default zipcode validation should be turned off for countries that doesn't have zipcodes 😄

[2016-06-01 21:08] damianlegawiec commented on #7389
Yep, it should be turned off in this kind of scenarios. @azranel  could you submit a PR with a fix for this problem?

[2016-06-03 02:12] danyline opened #7393 "could not find compatible versions for gem "spree_core":"
Hello,
running bundle install on my spree_simple_sales extension app produces,

https://cl.ly/121927120q2B
https://cl.ly/1P2f1n001T01

Bundler could not find compatible versions for gem "spree_core":
  In snapshot (Gemfile.lock):
    spree_core (= 3.2.0.alpha)

  In Gemfile:
    spree_auth_devise was resolved to 3.2.0.alpha, which depends on
      spree_core (~> 3.2.0.alpha)

    spree was resolve

[2016-06-03 09:36] priyank-gupta commented on #7393
@danyline What error are you seeing while running bundle on main app ?

[2016-06-06 06:58] parhs commented on #7343
This could be nice, since other platforms have this feature too

[2016-06-06 15:05] krtschmr commented on #7333
Spree isnt a ready-shop but more like a framework to create awesome shops. I do agree that spree isnt easy to install. Especially for beginners. I had to redo the whole thing many many times till i figured out how to do.

    Spree::Zone.find(x).countries << Spree::Country.all

and then just remove the one you dont like to have there. The console makes a lot of things easier.

[2016-06-07 02:30] odk211 opened #7399 "Variant#clear_in_stock_cache do not run when stock_item is destroyed"
I check in spree 3-1-stable but it should occur at master.

Because StockItem `after_touch` callback do not run when destroyed.
https://github.com/spree/spree/blob/master/core/app/models/spree/stock_item.rb#L23

Also, `counter_cache` do not touch Variant in spree 3-1-stable.
https://github.com/spree/spree/blob/3-1-stable/core/app/models/spree/stock_item.rb#L7

`clear_in_stock_cache` is called by `

[2016-06-07 02:53] odk211 commented on #7399
maybe `touch: true` option is enough.
[code]

[2016-06-07 06:34] priyank-gupta commented on #7399
@odk211 👍 `touch: true` works fine. Can you submit a PR against this ?

[2016-06-07 07:16] odk211 commented on #7399
@priyank-gupta Thanks, check please :) #7400

[2016-06-07 11:26] blset opened #7402 "product options / taxons not updated if more than 1"
Hello

In the backoffice, with lastest spree-0b99e882892b 3.1

a product is not updated correctly from the back office if more than one entry in the taxons or options field

after some research, it looks like **Spree::Admin::ProductsController#update is never visited**,
because of some before update callback named update_before which on return goes back to
Spree::Admin::ResourceController#update i

[2016-06-07 11:39] blset commented on #7402
same behaviour with Ruby  2.2.3

[2016-06-07 12:51] blset commented on #7402
the problem is due to spree_multidomain product decorator calling super not on purpose
[code]

[2016-06-07 13:10] #7399 closed

[2016-06-07 13:12] priyank-gupta commented on #7389
@azranel Are you working on the PR for this bug ?

[2016-06-07 13:14] blset commented on #7402
here is a fix
[code]

[2016-06-07 13:14] azranel commented on #7389
@priyank-gupta didn't have time yet so far. If you want, please take care of it 😄

[2016-06-07 14:39] #7402 closed

[2016-06-10 09:59] damianlegawiec commented on #7389
Fixed in master branch :)

[2016-06-10 09:59] #7389 closed

[2016-06-10 11:00] dinshawr opened #7412 "how to remove bootstrap css from spree frontend"
Recently, I tried to remove all instances of Bootstrap from the front end of Spree by overriding frontend_boostrap.css.scss

I have just included this file in app/assets/stylesheets/spree/frontend/frontend_boostrap.css.scss and kept it blank but still application loads bootstrap css. Please guide me how to remove  this from frontend.

[2016-06-10 15:10] ammit commented on #7393
Try `bundle update`.
And are you sure `3.2.0.alpha` version is available ?

[2016-06-10 20:39] tzurcan opened #7413 "Deployed Spree to Heroku - No products found on the main page"
Hi, i am new to Rails
Have built a Spree-Rails app, deployed it onto Heroku, no issues
Can add new products from the admin panel, and see them from same admin panel,
but no products will show if i just open the main page - just plain text - no products found
Any ideas? Would highly appreciate any help, it is a college project that i am trying to build, Thanks in advance

[2016-06-11 08:40] theinbetweens commented on #7413
Hi, have you set the "available on" date in admin?

[2016-06-11 08:47] tzurcan commented on #7413
:+1:
Silly me :) Thanks a lot, all sorted !
Am new to ROR/Github/Heroku, but love working with it.
Thanks a mill for the help :)

[2016-06-11 08:48] tzurcan commented on #7413
Have managed to add the paperclip + S3 today, bunch of goods tutorials and documentation on the web, Thanks a lot, community, thanks theinbetweens !

[2016-06-11 08:50] #7413 closed

[2016-06-12 13:18] rohanpujaris opened #7414 "Unable to get cvv_response_code and avs_response while using Stripe"
When using stripe cvv_response_code and avs_response is nil. Its due to activemerchant gem 1.47.0 used by spree.
This issue is fixed in following PR in activemerchant https://github.com/activemerchant/active_merchant/pull/1659. This PR is part of activemerchant 1.49.0.

Line that fixes this issue https://github.com/activemerchant/active_merchant/pull/1659/files#diff-8299be227de5ba32c34c30c42a828c9

[2016-06-13 12:53] damianlegawiec commented on #7414
@rohanpujaris thanks for reporting this issue!

@mauazua updated `activemerchant` for `master` and `3-1-stable` :)

[2016-06-13 12:53] #7414 closed

[2016-06-13 15:27] #7343 closed

[2016-06-13 15:28] damianlegawiec commented on #7346
@gitrepo4koresol what are your database server specs? (CPU/RAM)

[2016-06-14 03:57] gitrepo4koresol commented on #7346
Hi Damian
Please find below the server specs:

Ubuntu 12.x OS
2GB Memory
2 CoreProcessor
40 GBSSD Disk
3 TBTransfer
Tested this with SQLite 3 and Mysql

Thank you in advance for your help ..

[2016-06-14 04:27] sai43 opened #7420 "uninitialized constant ActiveSupport::EventedFileUpdateChecker (NameError)"
I tried to create new rails application and added spree gems to my application.
When I ran this command  'rails g spree:install --user_class=Spree::User', I got below error.

/home/saich/Workspace/Spree/practice/bazar/config/environments/development.rb:51:in `block in <top (required)>': uninitialized constant ActiveSupport::EventedFileUpdateChecker (NameError)
	from /home/saich/.rbenv/versions/2.3

[2016-06-14 10:14] mauazua commented on #7420
Hi, @sai43. Could you post your whole Gemfile and Gemfile.lock here?

[2016-06-14 18:13] rohanpujaris commented on #7414
np @damianlegawiec

Thanks @mauazua

[2016-06-15 07:34] arvindvyas commented on #7412
Hi @dinshawr , As per your question it is looking like you don't want bootstrap with your frontend, so if you will remove <%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %> from head file   https://github.com/spree/spree/blob/master/frontend/app/views/spree/shared/_head.html.erb  , I hope that will also work.

[2016-06-15 07:44] pkumarmis opened #7422 "How to add a new action in spree/api/orders_controller"
Hi I am using spree api to develop a mobile app but when I add a new action in orders_controller and try accessing it from postman it raise an error.
**"error": "The resource you were looking for could not be found."**
I have override orders controller in my app.

[2016-06-15 08:05] damianlegawiec commented on #7422
@pkumarmis you have to add it to routes also, eg.

[code]

[2016-06-15 08:11] pkumarmis commented on #7422
@damianlegawiec Thanks man for your support, it's working,
But I found one another way also.
I override order_routes concern in config/routes.rb.

[2016-06-15 08:16] #7422 closed

[2016-06-15 17:50] Lyonsclay opened #7426 "When adding a line item promotion to an order taxes are not re-adjusted with TaxCloud."
When using the Spree::Calculator::DefaultTax an additional tax total is recalculated after applying a line item promotion to an order, however when using the Spree::Calculator::TaxCloudCalculator the taxes are not adjusted after applying the promotion.

Gemfile.lock -- https://gist.github.com/Lyonsclay/2480bf8229afc1a07a0a123343875c28

I have created a repo with a default Spree 3.0.8 app and added

[2016-06-15 18:35] Lyonsclay commented on #7426
After looking at the source code for the TaxCloudCalculator, I believe the issue is with spree_tax_cloud.

The following comment explains the problem;

  # TODO take discounted_amount into account. This is a problem because TaxCloud API does not take discounts nor does it return percentage rates.

I'm hoping to find an elegant work around if anybody can suggest one I would be grateful.

[2016-06-15 18:40] partiallypro opened #7427 "How to get product IDs for Facebook tracking pixel"
How do I pull in product IDs into the Facebook tracking pixel string?

Example:

`    content_type: 'product',
    content_ids: ['1234', '2345'],`

Where 1234, 2345 are the product IDs so we can see which products converted?

I am not familiar with this platform, and can't find anything from searching.

[2016-06-20 08:19] pymevirtual commented on #7393
HELP Please I´m stuck on this error , on windows 10 and c9.io the same

Could not find gem 'spree (~> 3.1.0) x86-mingw32' in any of the gem sources listed in your Gemfile or available on this machine.

[2016-06-20 12:39] #7412 closed

[2016-06-20 12:40] damianlegawiec commented on #7427
@partiallypro for questions please use http://slack.spreecommerce.com

[2016-06-20 12:40] #7427 closed

[2016-06-20 12:40] #7420 closed

[2016-06-20 12:40] damianlegawiec commented on #7426
As this is `spree_tax_cloud` issue, closing it here

[2016-06-20 12:40] #7426 closed

[2016-06-20 12:41] damianlegawiec commented on #7368
@chris-barklem `3.1.0` stable is out so this shouldn't be an issue anymore

[2016-06-20 12:41] #7368 closed

[2016-06-20 12:43] damianlegawiec commented on #7346
@gitrepo4koresol if you're running also your web app on the same machine it won't be sufficient against this kind of number of SKUs.

[2016-06-21 02:31] kasnino opened #7434 "install gem i18t error translate Spanish Es"
Error install extension i18t Es:
please help or recommendation.
tutorials or guides to read
Thank you.

![screenshot from 2016-06-20 22 24 00](https://cloud.githubusercontent.com/assets/16484156/16216140/2245b15e-3732-11e6-86b2-48f95d0c650f.png)
![screenshot from 2016-06-20 22 24 21](https://cloud.githubusercontent.com/assets/16484156/16216141/2282ebfa-3732-11e6-906a-54257be6fe0a.png)

![screensho

[2016-06-21 14:43] fabiode commented on #6719
I've encountered a similar problem, using unicorn with 4 workers. But in my case, order number does not have a unique constraint on database. Is this default for Spree?

[2016-06-22 13:56] fabiode commented on #6880
That can also happen when a adjustable was a Promotion that does not exist anymore, during merge or just viewing the incomplete order. In this specific case, I think the adjustment should be removed from order when adjustable returns nil and order is incomplete.

[2016-06-23 17:04] tommiller1 opened #7437 "cancan load_and_authorize_resource"
Hi,

Is there any reason why spree is creating its own authorization methods inside Spree::Admin::ResourceController instead of using load_and_authorize_resource from cancan?

Spree's resourcecontroller is pretty similar to:
https://github.com/CanCanCommunity/cancancan/blob/develop/lib/cancan/controller_resource.rb

Regards.

[2016-06-23 22:52] #7437 closed

[2016-06-24 15:30] Magnusvb opened #7443 "Error "Could not find generator""
I have a fresh and clean Rails app. Have added to the gemfile:

[code]

Did a  'bundle install'.
But when I run the rails generator:
`rails g spree:install --user_class=Spree::User`

I get the error:
[WARNING] Could not load generator "generators/spree/install/install_generator". Error: uninitialized constant Bundler::Thor::Base

and also:

Could not find generator 'spree:install'. Maybe you meant

[2016-06-25 14:46] Magnusvb commented on #7443
An update: I tried several solutions, but in the end I had to remove RVM (rvm implode) and reinstall it. Then the rails generator worked. Yay!

[2016-06-25 14:46] #7443 closed

[2016-06-25 14:55] damianlegawiec commented on #7443
Great to hear @Magnusvb 👍  RVM sometimes causes some strange issues...

[2016-06-27 10:13] andela-oakinniranye opened #7446 "Issues with DelegatesBelongsTo module"
Recently, I decided to try out some Spree models and use some modules in my application, including the `delegate_belongs_to`, everything seemed to be working fine until...

On the `Spree::Variant` table, I added a slug column, so that each variant could have a unique slug, e.g product-slug-variant-slug. When this was done, I began to see some inconsistent behaviours when I tried to read/write the

[2016-06-27 13:50] antoineayoub commented on #6673
Hey @justindrees, @kurapatijayaram , I'm facing this issue too ! have you solved it ?

Thx

[2016-06-27 20:25] mark-d-holmberg opened #7447 "undefined method `per' for #<ActiveRecord::Relation []>"
vendor/bundle/ruby/2.2.0/gems/activerecord-4.2.6/lib/active_record/relation/delegation.rb:136:in `method_missing'
vendor/bundle/ruby/2.2.0/gems/activerecord-4.2.6/lib/active_record/relation/delegation.rb:99:in `method_missing'
vendor/bundle/ruby/2.2.0/gems/spree_core-3.1.0/lib/spree/core/search/base.rb:23:in `retrieve_products'
vendor/bundle/ruby/2.2.0/gems/spree_frontend-3.1.0/app/controllers/spr

[2016-06-29 06:52] debopamsengupta opened #7449 "API sorting orders by updated_at"
I'm trying to use the Spree API as documented in http://guides.spreecommerce.org/api/orders.html
I'm trying to use the endpoint ```/api/orders``` like ```GET /api/orders?q[s]=updated_at%20desc```
but the results are not sorted by ```updated_at```.

I can sort by other fields including ```created_at```, ```completed_at``` etc.
Any help is appreciated, thanks !

[2016-06-29 15:11] vishalzambre commented on #7449
@debopamsengupta  Hey If you want to add new parameter to sort or search in ransanck you need to add that attributes to ``` whitelisted_ransackable_attributes ```

like as follows
[code]

[2016-06-29 17:08] damianlegawiec commented on #7449
@vishalzambre I think it would be great to add also `updated_at` globally, this should be a common use case for the API

[2016-06-29 17:18] antoineayoub opened #7450 "Order state from payment to address when applying a coupon leading total <= 0.00"
Hey everyone,

I have an issue during the checkout flow. With a new user If he applies a coupon with a value >= to the **total** the state go back to the state **address** (so to the address asking page). This is because of the payment_required? function.

In the Order model the checkout flow works as follow :

[code]

It normally should update the status to **complete** state in that case. What d

[2016-06-29 21:05] justindrees commented on #6673
@antoineayoub nope, didn't pursue this further after discovering the bug.

[2016-06-29 21:22] antoineayoub commented on #6673
@justindrees I have found why but I don't now how to solve it.

It comes from the checkout flow in the order model. When the state is "payment" it check if the total is greater than 0.00 if not it goes back to address, the previous one.
[code]

[2016-06-30 05:02] vishalzambre commented on #7449
@damianlegawiec  let me send PR for same

[2016-06-30 14:39] #7449 closed

[2016-06-30 14:47] joneslee85 commented on #7434
please lodge issue on https://github.com/spree-contrib/spree_i18n/issues instead.

besides, can you please describe the context on what does not work? (not here, please create issue in i18n repo)

[2016-06-30 14:47] #7434 closed

[2016-06-30 14:53] joneslee85 commented on #7379
If this is not about a particular issue, please use chat or mailing list.

There is a good way to see the loading order, please see the suggestion using `TracePoint` in http://stackoverflow.com/questions/8672803/in-what-order-are-the-config-files-loaded-for-rails

[2016-06-30 14:53] #7379 closed

[2016-06-30 14:56] joneslee85 commented on #7447
@mark-d-holmberg please avoid flooding issue by move all those logs to a gist in gist.github.com. And please wrap the code with triple tick ``` Markdown tag

Can you please be more specific on what instruction step you were having this issue and what your current application is like.

[2016-06-30 15:03] joneslee85 commented on #7393
There is no release 3.2.0.alpha, the spree_auth_devise gem is wrong.

@priyank-gupta you bumped it to this version as of https://github.com/spree/spree_auth_devise/commits/master/spree_auth_devise.gemspec, I think you should revert this change.

What we normally do is to use `Gemfile` instead of `gemspec` in the unrelease case. `Gemfile` allows you to specify git branch of a specific gem.

[2016-06-30 15:04] #7363 closed

[2016-07-01 08:55] priyank-gupta commented on #7393
@joneslee85 Spree 3.2.0.alpha version is on master branch. There is no release for that as of yet. Thats why I have pointed spree to master branch in Gemfile and specified spree version 3.2.0.alpha in gemspec.

[2016-07-01 12:44] joneslee85 commented on #7393
I do not believe this issue is relevant to this spree repo as it is more related to spree_auth. And that simple_sale repo. @danyline please create issue on the other repo.

[2016-07-01 12:44] #7393 closed

[2016-07-04 16:54] #6693 closed

[2016-07-05 10:47] hammadxcm commented on #7420
any solution?

[2016-07-06 22:32] joshRpowell opened #7465 "uninitialized constant CreateDataMigrations::SeedMigration - migration canceled"
We get the following when migrating on a production environment on an existing rails app:
[code]

This is the referenced migration file:
[code]

We got around the error locally by dropping and rebuilding the DB.

We couldn't find any reference in the repo.

Any suggestion on how to troubleshoot / solve this issue?

[2016-07-08 15:52] joshRpowell commented on #7465
unrelated to spree

[2016-07-08 15:52] #7465 closed

[2016-07-13 15:22] the-widget commented on #7358
This issue has been resolved via PR #7230, which has updated the getting_started_tutorial.html on the Master branch. This tutorial works perfectly as of today.

But the changes have not been applied to the public URL: https://guides.spreecommerce.com/developer/getting_started_tutorial.html
I have been trying to see how I can make the change the public documentation but haven't found a solution yet

[2016-07-13 15:57] akestner commented on #7372
I've inherited a Spree 3.0 codebase and have run up against this issue as well.  @travishaynes's manual fix isn't working for me, any ideas?

[2016-07-13 16:06] damianlegawiec commented on #7372
@akestner go ahead and do a PR with this change against `3-0-stable` - we'll merge it :)

[2016-07-13 16:12] vishalzambre commented on #7372
@damianlegawiec @akestner  I have same branch in my spree repository, Let me send PR against ```3-0-stable```

[2016-07-13 16:14] akestner commented on #7372
Thanks guys!

[2016-07-15 20:08] SylarRuby opened #7475 "undefined method `+' for nil:NilClass"
`gem 'spree', '~> 3.1.0.rc1'`
`ruby 2.3.1`

Changed Currency Settings to British Pound Sterling (GBP).

Added a test product. Master cost at £1.00. Add product to cart and got:

[code]

[2016-07-16 07:51] SylarRuby commented on #7475
A reinstalled solved the issue.

[2016-07-16 07:51] #7475 closed

[2016-07-18 07:58] #7346 closed

[2016-07-18 08:02] #7447 closed

[2016-07-18 08:12] #6883 closed

[2016-07-18 11:02] #4729 closed

[2016-07-20 14:35] faisalrabbani opened #7490 "Spree 2.4-stable NoMethodError: undefined method `environment=' Unable to load sample data"
Hi,
Getting this error while trying to load sample data

Please suggest solution.

[2016-07-21 05:58] jaredchu commented on #7420
I have the same problem when using this command: rails generate shopify_app

[2016-07-25 19:07] aguayma opened #7503 "Uncaught TypeError: obj.find(...).andSelf is not a function : /taxonomies/:id/edit"
Currently running into issue where getting the follow response on console.

[code]

Receive this error when page initially loads, even with a defined Taxonomy.

gemfile: https://gist.github.com/joshRpowell/3fab3f4a248b33754fe094af96dba1f0
backend/all.js: https://gist.github.com/joshRpowell/6c00bf2ae6c17ddd3a48d4b7543989e7

Included a video for reference.
https://monosnap.com/file/oUezblYaFQDgkVJll

[2016-07-26 08:59] damianlegawiec commented on #7503
Hi @aguayma - my recent work on taxonomy tree is only in `master` branch, not in `3.1` release but we'll look into it - thank you for supplying so many resources with your issue 👍

[2016-07-26 18:40] dansperfect opened #7504 "Spree No View Formatting What so ever"
All right so my problem is that I just installed Spree and there is no Formatting of the view. It only shows text missing image holders and form elements, any help here is much appreciated

[2016-07-26 19:04] #7504 closed

[2016-07-28 08:27] mayank111255 opened #7506 "Issue in Promotion Action - CreateLineItems"
Admin can create as many such promotion actions as he wants. Here are some scenarios:

1) If an admin wants to provide 5 entities of a product as a gift and he does so by creating more than 1 such action adding some quantities of same product which sum up to 5 anyway then the promotion which is supposed to add 5 gifts would add less than 5 gifts.

2) If a promotion provides 5 entities of a product

[2016-07-28 20:00] bvalentino opened #7507 "Unable to view variants of deleted product"
## Steps to reproduce
1. Create a product
2. Add a variant
3. Go back to products page and delete the product
4. Look for product by name and toggle "Show deleted"
5. Edit product
6. Visit variants of products

Note how an exception is shown instead of showing the variants page: `undefined method 'variants' for nil:NilClass`.

IMPORTANT: Bug may be causing same situation when visiting images or pr

[2016-07-29 10:00] vishalzambre commented on #7507
@damianlegawiec  @mauazua  sending PR for same

[2016-07-29 10:59] vishalzambre commented on #7351
@gauravmahajan31 Result may same of both scope but arguments are different. And the purpose of both is different I think. What is your thought here @damianlegawiec

[2016-07-29 11:14] mauazua commented on #7446
hi @andela-oakinniranye, thank you for reporting this, would you like to submit a PR for this issue? :)

[2016-07-29 13:56] andela-oakinniranye commented on #7446
Yeah sure! I'd be happy to work on this!

[2016-08-01 22:49] SylarRuby commented on #7359
Install 3.1 stable and close this issue.

[2016-08-02 08:24] #7359 closed

[2016-08-03 12:44] damianlegawiec commented on #7375
Fixed

[2016-08-03 12:44] #7375 closed

[2016-08-04 13:43] Faisal-nfl opened #7513 "Spree with rails 5.0.0 is not compatible?"
I 'm using ruby 2.3.1 and rails 5.0.0.
when I add gems of spree and run `bundle`, it says
[code]

But when I use rails 4.2.6 than it works ok.
Whats wrong with that?

[2016-08-04 15:46] krzysiek1507 commented on #7513
Hi @Faisal-nfl we're working on compatibility with Rails 5.0.0.

[2016-08-04 21:08] krtschmr opened #7514 "Storecredit breaks checkout after re-adjusting the totals"
80$ Storecredit
User adds item for 79$
User goes to checkout (Shipping rate 0$ or 19$ express)
User select express
User goes to payment and applies 80$ credit.user realizes he needs to pay more due express shipping
User goes back to shipping and selects 0$ shipping
User goes to payment (which shouldbe payed (79$ item with 80$ credit))
User needs to pay **-1$**

Shown behaviour:
We need to pay a ne

[2016-08-05 08:18] krtschmr commented on #7514
I have a workaround for this, which pretty much deletes the credits, everytime we are coming from the delivery-step. this guarantees us, that the user everytime needs to click "uses the credits" which then will always uses a correct amount.

i have no idea how we fix this problem in general.
[code]

[2016-08-05 09:18] krtschmr opened #7515 "PaymentMethods aren't ordered"
We can order the PaymentMethods in our Backoffice, but the Frontend will ignore the Order

the scope won't ordert. sha'll i make a pull request is is this expected behavior? if so, i don't get the point of ordering.
`scope :available_on_front_end, -> { active.where(display_on: [:front_end, :both])}
`

[2016-08-05 09:20] damianlegawiec commented on #7515
Hey @krtschmr - nice catch, please submit a PR with the fix, thanks!

[2016-08-05 10:54] krtschmr commented on #7515
https://github.com/spree/spree/pull/7516

[2016-08-05 20:59] krtschmr opened #7517 "Multiassigning Taxons to product not working"
4.2.6
3.1-stable
Ruby 2.3

https://github.com/spree/spree/blob/master/backend/app/controllers/spree/admin/products_controller.rb#L23

needs to be

`      params[:product][:taxon_ids] = params[:product][:taxon_ids].split(',').map(&:to_i)
`
in my code to work as expected.

anybody else got that problem? (had similar sideeffect on another project, nonspree aswell). Is that just me or isn't that code

[2016-08-06 15:23] corny commented on #7515
The order is also broken at the back end.

[2016-08-08 10:47] Faisal-nfl commented on #7513
ok!

[2016-08-08 10:47] #7513 closed

[2016-08-11 02:21] Chaniel opened #7521 "bundle install errors"
Resolving dependencies....
Bundler could not find compatible versions for gem "spree_core":
  In snapshot (Gemfile.lock):
    spree_core (= 3.1.0)

  In Gemfile:
    spree_core (~> 3.1.0)

    spree (~> 3.1.0) was resolved to 3.1.0, which depends on
      spree_api (= 3.1.0) was resolved to 3.1.0, which depends on
        spree_core (= 3.1.0)

    spree (~> 3.1.0) was resolved to 3.1.0, which depe

[2016-08-11 05:57] damianlegawiec commented on #7521
@Chaniel you need to also change `spree_gateway` to `~> 3.1.0`, check https://github.com/spree/spree#getting-started

[2016-08-11 05:57] #7521 closed

[2016-08-11 13:40] vishalzambre opened #7523 "Options to remove applied promotion or credit amount at payments page."
Can we provide option for user at payment page to remove applied promotion or applied credit store.

Let me know if it looks good I can raise PR?

[2016-08-12 15:11] NathanNg commented on #7523
In addition, option to remove applied promotion/coupon at shopping cart page.  Right now, I can't remove a promotion at the shopping cart.

[2016-08-12 15:51] #7507 closed

[2016-08-12 20:43] StrangeWill opened #7531 "Large Orders (> 1000 items) Cause Spree To Hang On Checkout Process"
- Add 1000 items to cart (quantity, not individual line items)
- Go to checkout
- Try to get past shipping

My benchmarks are showing calls like this:

<pre>
MethodProfiler results for: Spree::Stock::Coordinator
+----------------------+--------------+--------------+--------------+--------------+-------------+
| Method               | Min Time     | Max Time     | Average Time | Total Time   | Tota

[2016-08-14 10:45] krtschmr opened #7533 "Set a Limit for a PaymentMethod maximum Amount"
We recently had a problem that we don't want big orders beeing payable with credit card (if somebody purchased 20 gaming keys and pays with creditcard, there's a high high risk of fraud).
So we limited it down this way

[code]

I thought, it might be very useful to set a maximum amount in the backend for each paymentmethod.

Is this somehow interested for the spree core? then i might make a pull r

[2016-08-14 10:49] krtschmr commented on #7533
Same could also be applied for a Minimum Amount.
You don't want to mess around with 5$ payments via Banktransfer, so then just enable it for 1.000$
or then have 2 PayPal PaymentMethods, one for small payments, one for big ones.

[2016-08-15 03:24] orbit-dna opened #7534 "i18n problem of 'state'"
In these files:
1. [backend/app/views/spree/admin/adjustments/_adjustments_table.html.erb #11](https://github.com/spree/spree/blob/7ca3b70ed5ac5f712435649b49f59f6b23829971/backend/app/views/spree/admin/adjustments/_adjustments_table.html.erb#L11)
  `<th class="text-center"><%= Spree.t(:state) %></th>`
2. [backend/app/views/spree/admin/shared/_address_form.html.erb #56](https://github.com/spree/spr

[2016-08-15 09:10] damianlegawiec commented on #7533
Hey @krtschmr that's an interesting idea, especially the minimum amount. Please submit a PR and if it's OK (code quality + test coverage) we'll be happy to merge it into core :)

[2016-08-15 09:14] damianlegawiec commented on #7534
@orbit-dna good catch. For `state_id` I think we can use `Spree::State.model_name.human`

[2016-08-15 09:55] #4837 closed

[2016-08-15 15:47] krtschmr commented on #7533
@damianlegawiec i have a hard time figuring out how to write tests and how exactly spree expects them. Please review them and let me know.

[2016-08-15 15:56] krtschmr commented on #7534
That's the reason why we kept Admin in english langauge rather then german. So many things got a `Bundesland`, it was so confusing

[2016-08-15 21:23] krtschmr commented on #7523
Remove applied Credit Store is an important thing. IF you accidently misclicked, or whatever, the credit is "gone". If you realize, you wanna keep it for later, it's too late.

To monkeypatch this you can create a button and call `@order.delete_used_credits`

[code]

[2016-08-15 21:34] krtschmr commented on #7514
@damianlegawiec , how do we fix this now?
idea could be, that everytime we update the order, we remove the store-credit and re-apply it.
this will keep the store-credit update. alternative we need to update the store-credit. i somehow favor idea 1.

[2016-08-15 21:49] krtschmr commented on #7515
@corny this will fix both https://github.com/spree/spree/pull/7538

[2016-08-15 22:25] squaresurf commented on #4837
Closed without a comment nor a link to a PR fixing anything 😞

[2016-08-16 01:08] jasonfb commented on #4837
@squaresurf -- search your app and the Spree code for ```update_all``` calls. Spree 2.1 and 2.2 are really bad, it gets a little better when you get above Spree 2.3.

[2016-08-16 03:16] orbit-dna commented on #7534
@damianlegawiec nice, that works for me.
@krtschmr nice idea. but our people not used to english, have to localize.

[2016-08-16 04:55] damianlegawiec commented on #7534
@orbit-dna please submit a PR with this change if you can, thanks! 👍

[2016-08-16 15:18] squaresurf commented on #4837
I do understand that. Moreover, I think it is unclear why @damianlegawiec closed this. The owner of the Issue has not confirmed nor denied if this issue was fixed for them while the issue still has the verified label. Kinda messy in my opinion. A simple comment, that they're not gonna look further into this or that it is fixed in some version would have been nice.

[2016-08-16 15:28] damianlegawiec commented on #4837
@squaresurf some of the fixes for this issue landed around spree 2.4 (https://github.com/spree/spree/commit/5bf6ad2ff5a657423792828d964243abe02f13a6). We're going to work more on this issue and overall performance of spree but not for the 2.x branch. Just cleaning up the old issues.

[2016-08-16 15:29] squaresurf commented on #4837
Ok, thank you @damianlegawiec :smile:

[2016-08-16 16:12] damianlegawiec commented on #4837
No prop @squaresurf - sorry I didn't leave this note earlier - too much work recently 😉

[2016-08-17 08:05] GarPit opened #7540 "Master Variant not created"
I create Products (importing from XLS) like this:

[code]

Product saved, but it has master variant as new record (id: nil) after this line

[2016-08-17 08:31] mauazua commented on #7540
hi @GarPit, thanks for reporting this issue.

[2016-08-17 08:50] GarPit commented on #7540
My current workaround:

        master_variant = product.master || product.build_master
        master_variant.product_id = product.id
        master_variant.price = price
        master_variant.save

But I guess this is not how things should happen

[2016-08-17 09:03] mauazua commented on #7540
@GarPit you wrote before, that you have a master variant, but it is not persisted - maybe you could just save the existing master variant for now? could you post here your variant and the version of Spree you are currently using?

[2016-08-17 09:07] GarPit commented on #7540
`gem 'spree', '~> 3.1.0'`

[2016-08-17 15:02] cbilgili commented on #6842
Thank you @edipox, it saved the day. I just needed to add

`Spree::Stock::Differentiator.class_eval do
    def missing
      []
    end

    def missing?
      false
    end
  end`

to work.

[2016-08-19 14:33] krtschmr opened #7544 "Options ain't displayed in Stock Transfer"
Always guessing...

![image](https://cloud.githubusercontent.com/assets/13366714/17813204/940c012a-6654-11e6-8eac-b2df77064315.png)

[2016-08-19 14:35] krtschmr commented on #7544
I see in the Demo store, that the SKU is displayed. Should that be changed if no SKU is set so it returns then option values? (example doesn't use SKU)

[2016-08-22 10:00] mayank111255 opened #7547 "Promotion validity not checked on item removal"
I created a promotion 'TREBOGO' with following action and rule:

  promotion action:  Create Line Items  (adds 'Gift Bag' to cart)
  promotion rule:  Type -> Product(s) (at least one 'Polo Shirt' should be present in the cart)

Now I add 1 'Polo Shirt' to the cart and apply promo. I get a gift, that's fine as I already have at least 1 'Polo Shirt' in my cart.

But when I remove 'Polo Shirt' from t

[2016-08-23 05:30] milep opened #7548 "Taxonomies jsTree not updating in production"
After I have added new taxon (node) to the tree and hit the update button, I have to clear browser cache(chrome/safari on os x) to see the change in the tree.

Branch: 3-1-stable, RAILS_ENV=production

Doesn't happen on development environment.

[2016-08-23 06:32] milep commented on #7548
Looks like it was nginx setting. I had expires set to max, changing it to 0 fixed this.

[2016-08-23 06:32] #7548 closed

[2016-08-23 08:39] mauazua commented on #7547
hi, @mayank111255. thank you for reporting this issue. could you make a PR with a fix? :)

[2016-08-23 10:43] mayank111255 commented on #7547
hi @mauazua, I am working on this and will make a PR soon.

[2016-08-24 06:51] dinshawr opened #7549 "Removing delivery step from checkout skips shipping address also in spree + rails"
When I write  `remove_checkout_step :delivery` in order_decorator.rb it removes **Shipping Address** info from my `checkout/address` page in spree3-1 stable branch. My requirement is just to skip checkout step 3 page i.e given in image

[![enter image description here](http://i.stack.imgur.com/WJsHS.png)](http://i.stack.imgur.com/WJsHS.png)

 Please guide me how to overcome with this issue.

[2016-08-26 10:15] krtschmr commented on #7549
Sowhat you actually want is `select_default_shipping_method
i messed up with that a lot of times :-)

`#order_decorator.rb
  def select_default_shipping
    create_proposed_shipments
    shipments.find_each &:update_amounts
    update_totals
  end
`

`#order_updater_decorator.rb

Spree::OrderUpdater.class_eval do
  def update
    order.select_default_shipping
    update_totals
    if order.complet

[2016-08-29 21:03] fabiode commented on #7531
@StrangeWill it's a massive structure problem in Spree, Inventory Units are a nightmare for big orders.

Some solutions has already been proposed, but not merged: https://github.com/spree/spree/pull/5776

There is a solution approached by Solidus team (which is a fork from Spree), but I never got the chance to test it: https://github.com/solidusio/solidus/pull/574

Some PR has been merged that mad

[2016-08-30 11:14] #7534 closed

[2016-09-01 00:10] onpaws commented on #7513
@krzysiek1507 @damianlegawiec
Thanks guys for your efforts on Rails 5 compatibility.
I'm interested in helping out. Is there a branch I could check out?

[2016-09-01 00:11] onpaws commented on #7339
Any news on this?
Would love to contribute to getting us running smoothly on Rails 5.

[2016-09-01 03:41] damianlegawiec commented on #7339
Hey @onpaws there is few last specs failing for Rails 5 , take a look at the PR https://github.com/spree/spree/pull/7555

Any help getting it fixed really appreciated!

[2016-09-01 08:38] krzysiek1507 commented on #7513
Hi @onpaws. You can check the progress here: #7555

[2016-09-01 14:02] damianlegawiec commented on #6348
Fixed via https://github.com/spree/spree/pull/7522

[2016-09-01 14:02] #6348 closed

[2016-09-03 04:05] 0902074 opened #7560 "Thiết lập an giới hạn for an PAYMENTMETHOD tối đa Amount # 7533"
Chúng tôi gần đây đã có một vấn đề mà chúng tôi không muốn các đơn đặt hàng lớn beeing trả bằng thẻ tín dụng (nếu ai đó mua 20 phím chơi game và trả tiền với creditcard, có một nguy cơ cao cao của gian lận).
Vì vậy, chúng tôi hạn chế nó xuống theo cách này

 def useable_payment_methods
    Spree::PaymentMethod.available_on_front_end.reject{|x|
      x.type == "Spree::Gateway::StripeGateway" && tot

[2016-09-03 04:09] 0902074 commented on #7356
[http://www.chuyensuadogotainha.com/2016/06/noi-that-anh-nghia0902240304-son-pu-gia.html](url)

[2016-09-03 09:32] parhs commented on #7560
Use english please.

[2016-09-03 09:50] krzysiek1507 commented on #7356
Fixed with #7554

[2016-09-03 09:50] #7356 closed

[2016-09-05 09:29] bonekost opened #7561 "Change checkout_flow - empty shipments in delivery state"
Hello,
I got problem with shipments. I changed checkout_flow (switched delivery and address states)

[code]
result is that delivery options are empty.
If address state is first everything is OK and it return every shipment.

What is address state doing for populate shipments? Is it only about shipping_address? How can I pass zone to delivery state without address create? Thanks for any advice.
[Sp

[2016-09-05 11:54] bonekost commented on #7561
I commented line with order.ship_address
` #ship_method.include?(order.ship_address) &&`
and this little hack helped me...
[code]

[2016-09-05 11:57] #7561 closed

[2016-09-05 21:24] pravipati commented on #7560
Translation attempt (via google translate) 👇

We recently had a problem where we do not want large orders being paid by credit card ( if someone buys 20 gaming keys and pay with credit card , there is a high risk of fraud high ) .

So we limited it this way:

[code]

Is this somehow the core concern Spree ? then I can make a last request , if not I just leave it at day.http : //www.chuyensuadogota

[2016-09-06 11:03] mauazua commented on #7560
Currently not, but this PR #7536 will add the possibility to set minimum and maximum transaction limit for each payment method.

[2016-09-06 17:44] 2mferreira opened #7565 "Spree Truck Factor"
Dear **Spree** contributors,

I am Master's student investigating the importance of the idea of truck factors in Software Engineering.

As you know, [truck factor](https://en.wikipedia.org/wiki/Bus_factor) (aka bus factor) is defined as “the number of people on your team who have to be hit by a truck before the project is in serious trouble”.  By "serious trouble", we mean that it will very diffic

[2016-09-07 02:18] fabiode opened #7567 "Large orders (>600 inventory_units) long finalizing also caused by touch chain between Stock Item, Variant, Product and Taxons"
Hi! I know large orders are a common problem in spree. But I noticed analyzing logs that `order.finalize!` is resulting in absolutely unnecessary touch chaining in each product taxon, making a LOT of n+1 queries during the process. When you got a few items, ok, but large orders, is one more thing to result in a 5 minutes process.

Basically it occurs this way:

`order.finalize!` inserts some Stock

[2016-09-08 08:31] #7560 closed

[2016-09-08 08:34] mauazua commented on #7549
hi @dinshawr, did @krtschmr advice help to solve your problem?

[2016-09-08 09:06] mauazua commented on #7544
maybe we could display the option values in addition to SKU. @damianlegawiec any thoughts?

[2016-09-08 09:17] michakit90 opened #7570 "undefined method `spree_api_key'"
Hi,

I can't enter the admin interface. I created an user. but the most methods are not working. (like admin.hasrole)

this is the error message i get, when i try to enter store/admin

NoMethodError (undefined method `spree_api_key' for #<Spree::User:0x6e87160>):
  activemodel (4.2.6) lib/active_model/attribute_methods.rb:433:in `method_missing'
  spree_backend (3.1.0) app/controllers/spree/admin/

[2016-09-08 09:29] damianlegawiec commented on #7544
@mauazua 👍

@krtschmr can you submit a PR with fix for this problem? Thanks!

[2016-09-08 09:44] mauazua commented on #7570
hi, @michakit90. Could you please post here the user that you have created? If you prefer not to, please post the `schema.rb` from your app.

[2016-09-08 10:13] michakit90 commented on #7570
i deleted the user. in models.  and i deleted the devise gem.
here is the schema .rb:

# encoding: UTF-8
# This file is auto-generated from the current state of the database. Instead
# of editing this file, please use the migrations feature of Active Record to
# incrementally modify your database, and then regenerate this schema definition.
#
# Note that this schema.rb definition is the authoritat

[2016-09-08 13:20] krtschmr commented on #7544
@Legawiec

@mauazua

yes, i can do that - but i have no idea how to write a test. so if it's
just extending the display, yeah, then i'm the men

On 08.09.2016 16:29, Damian Legawiec wrote:

[2016-09-08 13:52] mauazua commented on #7570
As I can see, your `spree_user` table lacks the `spree_api_key` column (which somehow got into `user` table), that causes this error. Some migrations were not properly installed or run. Did you use those install generators, and run migration when prompted? And by the way, do you really need this user table? you should probably stick with the `spree_user` table.
[code]

[2016-09-08 14:23] michakit90 commented on #7570
Thank you so much. That worked.

[2016-09-08 14:23] #7570 closed

[2016-09-08 20:26] michakit90 opened #7572 "Images"
Hi,

I need your help once more. In admin i cant open and upload images to the product. i installed imagemackig and gen run identify -version. but no pictures are uploaded and shown. I use windows btw. I dont get an error message.

[2016-09-08 20:45] reidcooper opened #7573 "With Spree, I cannot see CDN asset link for a taxon image but Variant and other images show up with CDN link"
I am having issues where some of my assets are not being picked up by cloudfront. The images are being served from amazon's s3 however all my other image assets are being properly served from cloudfront.

I am currently using Spree and my Taxon's have an attachment configuration:
(The model that is having issues).
[code]

However I have a custom image for variants:

[code]

My paperclip configurat

[2016-09-09 16:17] reidcooper commented on #6892
I think I may be having the same issue instead its only my Taxon's that are not being picked up from my CDN. They are being displayed from s3 however, its only the taxons that are not being shown from the CDN.
 https://github.com/spree/spree/issues/7573

[2016-09-09 17:01] #7573 closed

[2016-09-10 08:51] michakit90 commented on #7572
It was an issue with paperclip and windows. You have to install file.exe on your comp. Watch the paperclip documentary ;)

[2016-09-10 08:51] #7572 closed

[2016-09-11 15:33] ravensorb opened #7574 "Support for prototypes in API?"
Is there currently support for creating prototypes programmatically?  Ideally through the API or via some sort of bulk import?

My scenario is: I have around 200 categories of products, each category has a specific set of properties/attributes.  I would like to create 1 prototype per category to make it easier to create/manage my inventory (over 20,000 items across the different categories).  I am

[2016-09-13 22:12] cjcruz commented on #7349
i have the same problem, how can i fix it??? help please...

[2016-09-14 16:04] hhff opened #7578 "Rails 5 w/ Edge: cannot load such file -- coffee_script"
Steps to reproduce:

1. `rails new my_app -d postgresql`

2. Add to Gemfile:

[code]

3. `rails g spree:install --user_class=Spree::User --sample=false --seed=false`

Error:

[code]

Any thoughts?  Thanks all!

[2016-09-14 19:55] hhff commented on #7578
Ah, this was a weird thing due to me moving some files around.  Everything's fine here!

[2016-09-14 19:55] #7578 closed

[2016-09-14 21:01] cjcruz commented on #7302
+1

[2016-09-16 16:11] whitmanc opened #7584 "Admin layout unusable in small windows (it isn't responsive)"
My guess is that this isn't exactly a top priority task, but here you go...

Also, is this something that might be good if I opened a PR for if I have some time to?
- Left sidebar menu doesn't show (the main menu for admins))
- The hamburger menu moves the content on the screen left and right (probably because the left column is hidden from view, but still being manipulated)
- The title of the pag

[2016-09-16 17:03] mradfaber opened #7585 "On checkout Delivery step let's 1) display Shipping Total amount and 2) auto-recalculate Order Total + refresh Shipping Total on Shipping Method change by user"
This is obviously confusing - on Delivery checkout step no Shipping Total amount and no auto-refresh of the Shipping Total after shipping method change:

<img width="1182" alt="screen shot 2016-09-16 at 12 44 45 pm" src="https://cloud.githubusercontent.com/assets/12614496/18594143/c7edc956-7c3e-11e6-84cb-25a419591c45.png">

I agree it’s not the best UX right now (see attached screen by eroy4u, tha

[2016-09-16 20:31] renatocn commented on #7584
Hi @whitmanc, that is correct. The admin is not responsive yet.

It seems to be planned for 3.2 version, according to the roadmap:
https://github.com/spree/spree/wiki/Spree-Commerce-development-roadmap-2016

In the meantime, I suggested a change to make admin panel usable in small devices here: #7388

[2016-09-16 20:48] whitmanc commented on #7584
@renatocn thank you for the heads up! Will close this issue since it's addressed in their roadmap

[2016-09-16 21:10] renatocn commented on #7584
Hi @whitmanc, I suggest you keep it open and address it to the version you currently use, because it is an issue.

If the good responsive comes in the 3.2 version, the past versions probably won't have it.

[2016-09-17 04:15] VishalRam opened #7586 "Deadlocks in Spree::Adjustments"
Getting deadlocks while updating spree_adjustments internally.
Spree version - 3.0.10

[code]

[2016-09-18 03:20] fapowell opened #7587 "Fresh local Spree installation: cannot login as admin"
Hello,
I followed the Getting Started guide and successfully launched a seeded Spree app locally.  However, when I try to login either in the checkout or /admin, it gives me the error:

Invalid %{authentication_keys} or password.  (Looks like I have to set up i18n)

I have the default admin and then I added two more admins with `rake spree_auth:admin:create` and made different passwords for each,

[2016-09-18 10:20] bonekost opened #7588 "checkout_flow - Error after checkout"
Hey,
after adding decorator for checkout_flow

[code]

and adding `Spree::Auth::Config[:registration_step] = true` in initializer,
I try to go to cart and then go to checkout. Registration form appears.
That's OK, BUT when I try go back to cart I have added shipping method in cart even I didn't choose and I cant continue with checkout because I got error:
`StateMachines::InvalidTransition in Spree

[2016-09-18 13:45] magic-stick-420 commented on #7588
try to change
this:
[code]
to:
[code]

[2016-09-18 18:39] bonekost commented on #7588
But after that I can't see delivery at first state. I think I need registration as state not as a method in controller.
[code]
Is it possible?

[2016-09-19 18:04] fabiode opened #7589 "Line Item with quantity equal 0"
Ok, so I've been asking my self lately if there's any reason for Spree::LineItem validating quantity as integer, but no validation for greater than 0.

In `update_cart` method, we even have a select step for line_items that quantity are greater than 0, but why not avoid this validating in the line item creation?
(https://github.com/spree/spree/blob/master/core/app/models/spree/order_contents.rb#L2

[2016-09-19 19:54] magic-stick-420 commented on #7588
uuu that's bad man... :D

try this hack:
remove `@order.next if @order.cart?`
in
[code]
and for populate delivery add:
`@order.next if @order.cart?`
into:
[code]
...maybe developers from gem spree_auth_devise would interesting @krzysiek1507

[2016-09-20 07:41] magic-stick-420 commented on #7587
hey,
need more infos...
can you paste here log from server during login action?

[2016-09-20 20:57] jdarnok commented on #6150
@vmatekole Did you find solution? I have similar problem. On production precompilation I have
[code]

I did not make any changes here

[2016-09-20 21:46] catalin88 opened #7592 "Adding default shipping adjustments to cart"
I have only one shipping option and I'd like to add it to cart and I'm figuring this should be easy to achieve because

in spree/frontend/app/views/spree/orders/_adjustments.html.erb there's code doing exactly this

[code]

But the problem is it only gets displayed if an address is saved by reaching checkout/delivery and then returning to cart.

[2016-09-21 01:57] theasteve commented on #7513
Hi just run into this problem, just wondering when would this be released?

[2016-09-21 02:37] codered commented on #7567
@fabiode - Can you share what mode you are running in? (Dev / Prod?) Also, what are the specs of the system?

[2016-09-21 16:12] josyan commented on #7503
Replacing `andSelf` by `addBack` resolve the problem for me, but I think it depends on the version of `jQuery` you are using. `andSelf` was deprecated in `jQuery` 1.8, and removed in `jQuery` 3.0.

[2016-09-23 07:33] vmatekole commented on #6150
@jdarnok such a long time ago, I unfortunately can't remember. Still having trouble? Looking at your error looks like some invalid CSS.

[2016-09-23 08:06] jdarnok commented on #6150
@vmatekole Hey Victor!
Yes, it was css error in one of my libraries - version change helped

[2016-09-27 17:31] hhff opened #7594 "Question: State of API V2?"
Hi All!

I'm about to resurrect my lib Spree AMS (https://github.com/hhff/spree_ams) for a project I'm working on (against the Rails 5, Spree 3.2.0.beta.1 release), but wanted to first ask the state of the Spree v2 API.

If there's anyway I can help with that effort, or repurpose the work I've done in Spree AMS, I'd love to lend a hand!

cc @BenMorganIO

[2016-09-27 21:03] bbrangeo opened #7595 "How to upload images for products using Spree Commerce REST API"
Can you give me an example?

ex:
curl -i -X POST -H 'X-Spree-Token: 7b9f789b3b90f66f26a62de477159fbd4950459c30b42ba1' -d 'product[name]=toto&product[price]=100&product[shipping_category_id]=1&product[description]="Description"&_**product[image]=...... ?????**_

Thanks

[2016-09-27 22:10] mradfaber opened #7596 "IMPORTANT: MasterCard numbers prefix update before Oct 14th needed"
As nycspree has pointed on Spree slack (:thumbsup: kudos!), on Oct 14th MasterCard introduces new prefixes that need to be accepted:

So right here:
https://github.com/spree/spree/blob/3-1-stable/core/vendor/assets/javascripts/jquery.payment.js
instead of this:
[code]

We should have this:
[code]
as in here: https://github.com/stripe/jquery.payment/blob/master/lib/jquery.payment.js

[2016-09-28 18:37] elsilentforce opened #7597 "Duplicated Products on Taxon display"
Greetings everyone,
I got this trouble using Spree 3-0, when I open any product category I see multiple pages with duplicated products. Example, some product shows on first and sixth page.

Anyone know why whis happen?

Thank you very much!

[2016-09-29 08:57] HarriesChen opened #7599 "payment_source is null"
when I add a payment

[code]

[code]

[code]

[code]

the payment_cource and credit_card is null

[2016-09-29 12:19] bonekost opened #7600 "selected_shipping_rate_id"
Hello,
please, can somebody explain me how `selected_shipping_rate_id` parameters works?
Every order got different shipping rate ids.

How can I get selected shipping method for order?

Thanks

[2016-09-30 11:59] #7596 closed

[2016-10-05 07:01] priyank-gupta commented on #7600
@bonekost When you transit from `address` to `delivery` step in Spree checkout, shipments are created with multiple shipping rates applicable based on the shipping methods available for that user's zone (zone is identified from shipping address given in `address` state). A user can then select a shipping rate for a particular shipment which then is marked as selected. So a shipment can have multip

[2016-10-05 07:08] priyank-gupta commented on #7597
@elsilentforce Working fine for me on 3-0-stable. I would recommend to check your app's taxons_controller#show action for any customisation made which may cause this.

[2016-10-05 07:21] bonekost commented on #7600
@priyank-gupta many thanks.
Right now I try to solve this problem: http://stackoverflow.com/questions/39817668/spree-3-1-adding-select-tag-to-shipment-form-in-delivery-step with shipment

[2016-10-05 07:47] priyank-gupta commented on #7592
@catalin88 This is intentional as Spree interprets shipping methods through order's ship address which user provides at checkout `address` step.

[2016-10-05 08:59] priyank-gupta commented on #7600
@bonekost Sure.
Please close this issue if you have your query answered.

[2016-10-05 09:24] catalin88 commented on #7592
@priyank-gupta I understood that it is intentional. My question is: how can I build around it, to achieve my goal of having delivery costs, which don't depend on the address in my case, display on the cart page and all sequential pages ?

[2016-10-05 09:39] #7600 closed

[2016-10-05 11:01] priyank-gupta commented on #7589
@fabiode Agreed. But not sure why this is happening.
We can keep a check on this by adding `order.line_items = order.line_items.select { |li| li.quantity > 0 }` in `after_add_or_remove` here, https://github.com/spree/spree/blob/master/core/app/models/spree/order_contents.rb#L45.
@damianlegawiec thoughts ?

[2016-10-05 15:32] joryhatton commented on #6906
👍

Any progress here by chance?

[2016-10-14 10:03] priyank-gupta commented on #7531
@StrangeWill What spree version are you using ? This was fixed here, https://github.com/spree/spree/pull/7222

[2016-10-14 21:28] whitmanc opened #7628 "Spree::Taxon doesn't use Spree::Image for icon"
Hi folks,

I noticed that Spree:Taxon has an icon, and the way that icon is handled varies from how images are handled in Spree::Product, using Spree::Image. Should Spree::Taxon use Spree::Image for its attachment? The main reason I bring this to your attention is that when setting up to use S3 for uploads, it will not apply to taxons unless some adjustments are made. If Spree::Taxon used Spree:Im

[2016-10-16 15:26] krtschmr commented on #7585
shipping *can't* be shown there because it's not selected. this is a weakness of spree from the beginning imo. could only be done via javascript or we need to "pre-select" a shipping rate before we go to the shipping state.
any other thoughts?

[2016-10-16 15:46] tanmay3011 commented on #7585
@mradfaber @krtschmr  I'm working on this. Will raise a PR soon.

[2016-10-18 23:39] ignaciosm opened #7633 "Errors when Creating Extension"
Hi,
I'm new to rails ....I am getting an error everytime I try to follow the tutorial on creating a new extension (sorry if this is a stupid question):

After creating successfully a fresh copy of Spree from the tutotial using RVM I get this:

[code]

[code]

[code]

[code]

My Gemfile:

[code]

Please help! Thanks

[2016-10-19 10:17] kimadactyl opened #7634 "Problem with stock control when upgrading possibly due to scope of "Package""
Heya,

Apols in advance for this bug request - I've made a few alterations to Spree (which I'm 95% sure won't affect it), and upgraded from 3.0 - 3.1 in the process to try and fix it. I'm really stumped with this one though as I'm not getting any useful feedback that I could use to fix myself. So this request is a bit of a mess and I'm not sure how to replicate it short of some very painful databa

[2016-10-19 10:59] mimani opened #7635 "spree install error: "rails g spree:install --user_class=Spree::User" not doing anything"
Hi,

I have create a new rails app using this command:

`rails new store`

rails version is: 4.2.

Ruby Version:
`rvm rubies

   ruby-2.1.2 [ x86_64 ]
   ruby-2.2.0 [ x86_64 ]
=* ruby-2.2.2 [ x86_64 ]`

Following is the Gemfile:

     source 'https://rubygems.org'
     # Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
     gem 'rails', '~> 4.2.6'
     # Use sqlite3 as the database fo

[2016-10-19 11:43] kimadactyl commented on #7634
OK, I think this is indeed a clash with my main app's package model. Not sure if this is a problem with my code or yours. But if I monkey patch Spree::Stock::Packer line 22 to ```package = Spree::Stock::Package.new(stock_location)``` it works. Thoughts?

https://github.com/spree/spree/blob/7fb31d3c48ab6f414a3af8c5e929b67c46f5527a/core/app/models/spree/stock/packer.rb

[2016-10-19 15:44] kimadactyl opened #7636 "Can't view state changes in admin UI when using custom authentication"
I'm using my own authentication, and this is giving me a generic log in issue error.

[code]

[2016-10-20 00:49] cptncrnch commented on #7368
I'm seeing this issue with `3.1.0`

[code]
And then running `rails g spree:install --user_class=Spree::User` just hangs at the terminal.

I made a rails `4.2.6` project using `rails _4.2.6_ new appname`

[2016-10-20 06:03] kaushal-xx opened #7637 "Create custom 'before_transition' issue"
I have create custom before_transition and want to call on before complete, but it is not call on before complete.
I have skip 'confirm' step of checkout flow.

Spree::Order.class_eval do
  state_machine.before_transition to: :complete, do: :process_paypal_express_payments
  remove_checkout_step :confirm

[2016-10-20 06:05] tanmay3011 commented on #7633
@ignaciosm Working on a fix for this issue. Will raise a PR soon

[2016-10-20 06:18] mimani commented on #7635
I figured out what the problem was:

I had to create a rails app with 4.2.6 version of rails, using following command:

    rails _4.2.6_ new store

When I was just running `rails new store`, it used to create dependency using rails 5 version, which was breaking with spree.

[2016-10-20 06:18] #7635 closed

[2016-10-20 13:56] u007 opened #7639 "[spree-2.4] empty order with no user"
im not sure how to reproduce this,
but for random chances, there will be 1 Spree::Order with no user .
as i recalled, almost all the field is blank

it causes unauthorized accessed when current_order is called when adding item to cart.

[2016-10-20 13:57] u007 opened #7640 "[spree-2.4] high memory with puma after several days up"
can eat up to 800+mb before i restart the instance,
my puma configurations:
threads, [2, 12]
worker: 1

[2016-10-20 14:49] ignaciosm commented on #7633
Great, thanks!

[2016-10-20 16:24] StrangeWill commented on #7531
@priyank-gupta 3.0, and sadly due to heavy modifications we can't simply upgrade to 3.2. I'll have to check that change out and see if I can't backport it or take a serious swing at upgrading to 3.2.

[2016-10-20 18:03] ignaciosm commented on #7633
@tanmay3011 still get this:
Bundler could not find compatible versions for gem "rails":
  In Gemfile:
    rails (= 4.2.6)

    spree was resolved to 3.1.1, which depends on
      spree_frontend (= 3.1.1) was resolved to 3.1.1, which depends on
        canonical-rails (~> 0.0.4) was resolved to 0.0.11, which depends on
          rails (< 5.0, >= 3.1)

    spree was resolved to 3.1.1, which depends

[2016-10-20 19:04] blset opened #7641 "problem with migration renaming /20150314013438_add_missing_indexes.rb"
commit a3d4e792ee61703f55fb657d2cb6780792b39b29

this rename clashes in the following way :

spree_promotion_rules_users have been renamed to spree_promotion_rule_users (no s) in a later migration

when updating spree from 3.1. beta to 3.1 stable, the message missing migration shows up
[Spree WARNING] Missing migrations.
[Spree WARNING] add_missing_indexes_on_spree_tables from spree is missing.
[S

[2016-10-20 20:33] jkelleyj opened #7643 "AdjustmentsUpdater persist_totals issue"
I'm working on some custom adjustments and came across this bit in the AdjustmentsUpdater
Maybe this is just old code that got left behind, but it seems that this code will fail to set the updated at timestamp or the adjustment_total because attributes is never used.

https://github.com/spree/spree/blob/master/core/app/models/spree/adjustable/adjustments_updater.rb#L29

[code]

The adjustment tota

[2016-10-20 20:48] elnurvl opened #7644 "Cannot execute rails g spree:install --user_class=Spree::User command"
On the github installation, there is not created bin/rails file in the root directory. So, it is impossible to run rails g spree:install --user_class=Spree::User command as it is said in the Github Guide.

[2016-10-21 05:17] tanmay3011 commented on #7633
@ignaciosm `s.add_dependency 'rails', '~> 4.2.7.1'`, In spree_core rails has been locked down to 4.2.7.1
Please update your rails version to 4.2.7.1 that might resolve this issue.

[2016-10-21 10:55] tanmay3011 commented on #7643
@jkelleyj It will update the timestamp as `attributes` will carry the reference of `totals` hash and any key-value pair added to `attributes` hash will also be reflected on the `totals` hash.

[2016-10-21 13:29] rsiddle opened #7646 "Canonical Link Incorrect (SEO)"
The cananonicalisation URL is incorrect for the development environment:

    <link href="http://demo.spreecommerce.com/products/" rel="canonical" />

The local development environment should have a localised host as the name, for example:

    <link href="http://localhost:3000" rel="canonical" />

Another item worth noting; the /products page needs to have the trailing slash removed[1]. The non-t

[2016-10-21 14:12] jkelleyj commented on #7643
@tanmay3011 ah, I see, totally missed that.  you're right.  Why not call update_columns with attributes to be less confusing to the reader?

[2016-10-21 19:26] krzysiek1507 commented on #7531
@priyank-gupta can we backport that fix to 3.0 and 3.1?

[2016-10-21 19:30] krzysiek1507 commented on #7646
`Update: Slack member mentioned the URL attribute needs to be changed in the Spree::Store for the correct canonicalisation domain. Perhaps this is worth setting when installing Spree?`

Hi @rsiddle you can change it here: `Admin` -> `Configurations` -> `General Settings` field `Site url`

[2016-10-21 19:41] krzysiek1507 commented on #7646
@rsiddle spree uses `canonical-rails` gem to provide canonical link and its [specs](https://github.com/jumph4x/canonical-rails/blob/c218a4cc86db5aebd3167ceea239b8b2019ae0a2/spec/helpers/canonical_rails/tag_helper_spec.rb#L37-L48) show that trailing slash is intentional.

[2016-10-21 20:50] ignaciosm commented on #7633
Now I can't create the "spree_simple_sales" extension
[code]
`ism:spree1 ignacio$ rails -v
Rails 4.2.7.1`
`ism:spree1 ignacio$ ruby -v
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]
ism:spree1 ignacio$ `

My gem list:
[code]

My Gemfile:
[code]
My gem env
[code]

[2016-10-23 00:08] hxegon opened #7647 "Unclear/Outdated documentation on setting promotion events."
I've been trying to get a free shipping promotion to automatically apply for a while now, and after much research I figured out that you have to keep the 'code' and 'path' fields empty. I found this out by reading the promotion user guide, figuring out that it's section on 'event names' (and screenshots) are outdated, and then googling through change logs (A spree 2.2something changelog explains t

[2016-10-24 11:09] tanmay3011 commented on #7643
@jkelleyj That won't fix anything. But for the readability purpose, we would consider changing it in future.

[2016-10-24 13:41] rsiddle commented on #7646
@krzysiek1507 The canonical tag is an indicator to show which page your want Google to rank. At the moment, the internal links are all pointing to the non-trailing slash, which is a very strong indicator that it's the correct URL. The product index page then has a canonical tag which states that another URL is the desired URL (with trailing slash). By removing the trailing slash from the canonical

[2016-10-24 23:20] Pjero opened #7648 "ExecJS::RuntimeError: SyntaxError on assets:precompile"
My assets:precompile keeps failing with this error:

[code]

I've narrowed down the issue to vendor/assets/javascript/spree/backend/all.js, which contains:

[code]

If I remove //= require spree/backend //= require spree/backend/spree_i18n //= require spree/backend/spree_globalize it works, if I leave ether one, it gives the same error.

List of the installed spree gems:

[code]

[2016-10-25 11:31] mdavo6 commented on #6176
@joshhepworth Did you get anywhere with this? I'm coming up against this same issue at the moment....

[2016-10-25 12:39] aaronrussell opened #7649 "Rails 5 Rabl hack needs updating/removing"
Trying the 3.2.beta in a Rails 5 app, the app won't initialise due to this hack:

https://github.com/spree/spree/blob/master/api/config/initializers/rails5_rabl_hacks.rb

Rabl is now it version 0.13.1.

I don't know the story behind that hack, but it either needs to be removed or the version conditional updated.

Temporary _solution_ is to explicitly set `gem 'rabl', '0.13.0'` in gemfile.

[2016-10-25 14:31] tanmay3011 commented on #7649
@aaronrussell Working on it. Rabl was recently bumped to 0.13.1, Will provide a fix soon.

[2016-10-25 14:39] Pjero commented on #7648
After further investigation it seems, that part of the code is dependent upon on having all translations in place, probably the navigation. Switching Spree's language to English fixed the problem.

[2016-10-25 20:55] garrettqmartin8 opened #7652 "undefined method `encoding' for nil:NilClass"
This exception is raised when attempting to refund a payment from the admin panel.

Stack trace isn't telling me much:

[code]

I am using custom logic to create the spree payment, which may be causing the issue somehow:

[code]

Gemfile:

[code]

Gemfile.lock:

[code]

[2016-10-26 05:12] tanmay3011 commented on #7648
@Pjero Please close this issue if it's fixed.

[2016-10-26 15:53] joshhepworth commented on #6176
@mdavo6 we ended up working around it by just having some dummy info that we saved while displaying something along the lines of "no payment information required" to the user. _Far_ from the most ideal solution, but it allowed us to move forward.

[2016-10-27 18:01] acrolink commented on #7368
Same here..

[2016-10-28 17:47] tranhv opened #7658 "Could not sort by SKU"
Hi,

I use spree 3.1.0.
I trying to sort by sku. I use `GET /api/products?q[s]=sku%20asc` but it didn't work.
Then i use GET /api/products?q[s]=master_sku%20asc and i get error
`
PG::InvalidColumnReference: ERROR: for SELECT DISTINCT, ORDER BY expressions must appear in select list LINE 1: ...ble_on <= '2016-10-28 16:48:28.685733') ORDER BY "spree_var... ^ : SELECT DISTINCT "spree_products".* FROM

[2016-10-28 22:15] #7652 closed

[2016-10-29 06:54] #7643 closed

[2016-11-01 00:10] henriquesacramento opened #7669 "Problem with loading category in product create process"
When i try search for any categories using autocomplete functions i receive the following error

[code]

Trace error

[code]

[2016-11-01 00:24] henriquesacramento opened #7670 "Problem when run migrations"
During migration i receive the follwing error

[code]

[2016-11-01 20:19] bpuklich opened #7671 "undefined method valid_card_verification_value? for Spree::CreditCard"
Hopefully I filed enough information to describe this! Let me know what else is needed.

Using the Spree 3-1-stable I'm getting an undefined method valid_card_verification_value? for Spree::CreditCard when checking out using Authorize.net as a gateway. It appears that ActiveMerchant 1.49.0 has changed the method add_credit_card in ActiveMerchant::Billing::AuthorizeNetGateway to call this.

Attache

[2016-11-01 21:01] bpuklich commented on #7671
It appears that monkey patching Spree::CreditCard works around this. What I've done is the following in a decorator for now:

[code]

[2016-11-02 02:50] Ruxton commented on #7549
@mauazua  I can confirm this will skip the shipping step but still drop stock counts (unlike `remove_checkout_step :delivery`)

[2016-11-02 10:07] mauazua commented on #7670
hi @henriquesacramento can you describe how did you install spree in your application step by step, and specify which version of spree and rails are you using?

[2016-11-02 14:11] bonekost commented on #7175
Hey, can you tell me please what about v 3-1?
There is nothing like method generate_number.
Thanks

[2016-11-02 14:48] bonekost opened #7673 "Incremental Order number"
Hey I would like to ask if its possible to make order number incremental.
Many thanks for any advice.

[2016-11-02 15:54] tranhv opened #7674 "Add sale price for product"
Hi,

I just add sale_price into product variant.
I would like to show text box in edit product (admin page) to modify sale_price.
Please help me!

Thanks,

[2016-11-02 20:26] mauazua commented on #7673
hi, @bonekost. Generating incremented numbers is not available by default. If you wish, you could override the default behavior in your application to generate numbers in that way.

However, this is highly unrecommended because of security reasons. If you increment order numbers you let everyone know, how many orders you have in your database and it's easier to guess what id they have. If someone

[2016-11-02 20:34] jspizziri opened #7675 "StripeGateway Doesn't Allow Partial Capture's"
Stripe doesn't seem to support [partial captures on a single charge](https://support.stripe.com/questions/does-stripe-support-authorize-and-capture). However, the default spree behavior when using the `Spree::Config[:auto_capture_on_dispatch] = true` config is that for multiple shipments, a partial capture is executed for the amount of that shipment. This fails when the second shipment is attempte

[2016-11-02 21:02] bonekost commented on #7673
hi @mauazua many thanks for fast response. I would like to increment lets say just 4 last digits and first 5 or 6 would be random, so I don't think it could be security problem. I need it because of tax and law in my country.

[2016-11-03 09:10] mauazua commented on #7673
but will you not expose your order's id in that way?
If you are sure you want to manipulate those numbers, you will want to take a look at this class [here](https://github.com/spark-solutions/spree/blob/master/core/lib/spree/core/number_generator.rb). It takes care of generating all the numbers used in spree (orders, shipments, returns, etc.). If you want to change numbers only for orders, you sho

[2016-11-03 13:50] bonekost commented on #7673
No I don't expose order's ID. So how should I exactly override class NumberGenerator? Or how should I override /lib/spree/core/number_generator.rb?
thanks

[2016-11-04 09:29] mauazua commented on #7673
try to put this under this path: `app/models/spree/core/number_generator_decorator.rb` note the `_decorator.rb` and you should put whole class name in your file, like this:
[code]

[2016-11-04 10:08] mauazua commented on #7673
But you shouldn't override the `Spree::Core::NumberGenerator` directly - you will affect generating numbers in every model that uses this class. You should make changes in `Spree::Order` class.

[2016-11-04 10:14] bonekost commented on #7673
many thanks
it works... and it is OK for me to change number_generator for all models

[2016-11-04 10:14] #7673 closed

[2016-11-04 23:33] pavels commented on #7055
Hi,

i have also implemented one method and have some experience with this from other project. I encountered basically 3 types of off site methods

1. Redirect - after user choose such payment method, api call needs to be made to payment gateway, result of which is URL to which the user is sent. - most of payment gateways in our contry works that way, also PaysafeCard for example is the same
2. Bu

[2016-11-11 00:04] joeswann commented on #7365
In regard to the first issue, I think part of the issue is that `discontinue_on` needs to be added to `whitelisted_ransackable_attributes` on `Spree::Product`

Another issue is that by default loading admin product index shows discontinued products on first load. I'm fixing this by adding a default `discontinue_on_null` value to `Spree::Admin::Productscontriller.collection`

[2016-11-11 10:35] damianlegawiec commented on #7365
Hi @joeswann can you submit a PR with those fixes? Thanks!

[2016-11-14 21:21] bonekost opened #7677 "Change default store"
Could someone please help me with changing default store in Spree 3.1 migration?
After a few tries I can't figured out what this code in migration do:
[code]
I tried to change name in migration and even in core gem but nothing... after `db:migrate` there is still store with name "Spree Demo Site". From where??
Many thanks

[2016-11-15 01:06] neverlosty commented on #6707
For anyone still on Spree 3, this worked for me in application.rb
`
class Application < Rails::Application
  config.after_initialize do
      Spree.user_class.class_eval do
        def self.ransackable_attributes(auth_object=nil)
          %w[id email updated_at]
        end
      end
    end
end
`

[2016-11-15 01:09] neverlosty commented on #6707
For anyone still on Spree 3, this worked for me in application.rb

[code]

[2016-11-15 05:55] tanmay3011 commented on #7677
@bonekost You can change your store name from admin end -> Configurations -> General Settings

[2016-11-15 08:26] bonekost commented on #7677
@tanmay3011 no no you don't understand me... I need to change it by first migration. I know I can change it in admin

[2016-11-15 12:23] deepakm-webonise opened #7679 "Error while reverting migration AddDiscontinuedToProductsAndVariants"
I am getting error while reverting this migration

rake db:migrate:down VERSION=20161109154178

    == 20161109154178 AddDiscontinuedToProductsAndVariants: reverting =============
    -- execute("UPDATE `spree_products` SET `deleted_at` = `discontinue_on` WHERE `deleted_at` IS NULL")
    rake aborted!
    StandardError: An error has occurred, this migration was canceled:

    PG::SyntaxError: ERRO

[2016-11-15 14:04] #7679 closed

[2016-11-15 14:04] deepakm-webonise commented on #7679
:+1:

[2016-11-15 18:30] bpuklich opened #7682 "undefined method `manual_entry' for Spree::CreditCard"
Using the Spree 3-1-stable I'm getting an undefined method manual_entry for Spree::CreditCard when checking out using Authorize.net as a gateway. ActiveMerchant 1.61.0 now uses an accessor called manual_entry in ActiveMerchant::Billing::CreditCard. I believe commit 282fdb7f1ac92492533329dc57c5bdeaa1090cac for ActiveMerchant added this use to the Authorize.net gateway.

Attached is the head of the

[2016-11-16 01:08] joeswann commented on #7365
Haven't done a PR before, think I have it right now. Last three of the above are the relevant ones.

Let me know if I messed up. Thanks!

[2016-11-17 14:50] deepakm-webonise opened #7687 "ERROR: column spree_adjustments.order_id does not exist in UpgradeAdjustments migration"
I am getting the following error while migrating `db/20130807024301_upgrade_adjustments.rb`

    PG::UndefinedColumn: ERROR:  column spree_adjustments.order_id does not exist

I am currently upgrading **Spree 2.0** to **Spree 3.1**

Full trace

    == 20161109154056 UpgradeAdjustments: migrating ===============================
    rake aborted!
    StandardError: An error has occurred, this migrat

[2016-11-17 16:52] rsiddle commented on #7677
@bonekost Try exporting your database and searching for that string within the database dump.

[2016-11-17 16:56] rsiddle commented on #7658
@tranhv you should be sorting the results from the API on your client rather than on the API endpoint. JSON structures do not maintain ordering for Arrays.

[2016-11-18 03:08] nut707 opened #7689 "Sorting product by master price not working"
Hi

Sorting product by master price not working in my project(

Modified part of **taxons_controller.rb** _show_ method:
[code]

When in pry console i write `@products.reorder('').send(:descend_by_master_price)`, i get the following: ` #<#<Module:0x007f1e0048daa8>:0x3f8f041276b8>`.
But if i write `Product.all.reorder('').send(:descend_by_master_price)` everything work fine.

And in case of `@produ

[2016-11-18 08:51] deepakm-webonise opened #7690 "string contains null byte in CreateStoreFromPreferences"
I am getting:

in CreateStoreFromPreferences migration

    == 20161109154093 CreateStoreFromPreferences: migrating =======================
    rake aborted!
    StandardError: An error has occurred, this and all later migrations canceled:

    string contains null byte
    /home/deepak/.rvm/gems/ruby-2.3.1/gems/activerecord-4.2.7.1/lib/active_record/connection_adapters/postgresql_adapter.rb:602:i

[2016-11-18 12:12] vishalzambre commented on #7690
@deepakm-webonise  Did this error thrown with fresh setup of spree?

[2016-11-19 04:47] gcauchon opened #7693 "#9c2307ae was omitted in 3.1-stable!"
We've been working on a ecomm website for some weeks now. It came too our attention the shipping related values have been creeping slowly each time changes were made to a Product when the Admin was used in locale other than `:en`. Another clue was those same fields were displayed in a `.` decimal format instead of the `locale`'s `,`!

![spree_product_form](https://cloud.githubusercontent.com/asset

[2016-11-20 11:09] vishalzambre commented on #7682
@bpuklich @damianlegawiec  I verified above issue, Sending PR regarding same.

[2016-11-20 11:32] damianlegawiec commented on #7693
@gcauchon we'll backport this fix in `3.1.3` next week :)

[2016-11-21 04:59] nut707 commented on #7689
Thx guy from stackoverflow, the solution is:
`@products.select('spree_products.*, spree_prices.amount').reorder('').send(:descend_by_master_price)`

http://stackoverflow.com/questions/40689750/sorting-in-spree/40691867#40691867

[2016-11-21 04:59] #7689 closed

[2016-11-21 11:35] alter-sachin commented on #7597
@elsilentforce facing the same issue. Were you able to solve this ?

[2016-11-22 13:59] deepakmahakale opened #7697 "column spree_promotion_actions.deleted_at does not exist in UpgradeAdjustments"
I am currently upgrading **Spree 2.1** to **Spree 2.2**. I got the following error in [**`db/migrate/20130807024301_upgrade_adjustments.rb`**](https://github.com/spree/spree/blob/2-2-stable/core/db/migrate/20130807024301_upgrade_adjustments.rb)

    PG::UndefinedColumn: ERROR:  column spree_promotion_actions.deleted_at does not exist
    LINE 1: ..._actions".* FROM "spree_promotion_actions"  WHERE

[2016-11-22 14:06] deepakm-webonise commented on #7690
@vishalzambre No, I am getting this error only while upgrading my existing application.

I think it's because I already have values in configuration while in fresh setup it sets the value from the block

    s.name = preference_store.get 'spree/app_configuration/site_name' do
      'Spree Demo Site'
    end

[2016-11-22 22:19] bonekost commented on #7677
I just delete `preference_store.get 'spree/app_configuration/some_config'`  because I didn't find out from where Spree get values  and changed whole migrations with needed values.

[2016-11-22 22:19] #7677 closed

[2016-11-24 03:10] nut707 commented on #7658
http://stackoverflow.com/questions/40689750/sorting-in-spree/40691867#40691867 may be this can help you

[2016-11-24 08:15] priyank-gupta commented on #7690
@deepakm-webonise Above code will only pick value from block if there is not preference defined for `spree/app_configuration/site_name`. So, as you said that you already have values for these configurations it seems like you have them in some format other than UTF-8.
Try cleaning/correcting that config and rerun the migration.

[2016-11-24 11:53] deepakm-webonise commented on #7096
@isantoshsingh you found any solution for this?

[2016-11-25 12:22] isantoshsingh commented on #7096
Nope.

[2016-11-25 20:32] Inkybro opened #7700 "spreecommerce.org down?"
Probably not at all the right place to report this, but I don't know where would be the correct place.

I'm trying to access the links http://guides.spreecommerce.org/creating_extensions.html & http://guides.spreecommerce.org/testing.html

I cannot access these links. I'm getting 403 Forbidden on both.

I may be jumping the gun by posting here (hope I'm not.) Is this a simple, temporary issue with

[2016-11-25 23:12] mauazua commented on #7700
hi @Inkybro, I believe you have outdated links. Is this what you are looking for?
[testing](http://guides.spreecommerce.org/developer/testing.html)
[extensions](http://guides.spreecommerce.org/developer/extensions_tutorial.html)

[2016-11-26 09:49] #7700 closed

[2016-11-27 15:26] catalin88 opened #7701 "Spree::Money.default_formatting_rules doesn't affect admin > reporting"
Making the following Money configuration works throughout the website, but not in backend/app/views/spree/admin/reports/sales_total.html.erb where the format function doesn't seem to take into consideration this config

[code]

Any ideas ?

[2016-11-28 13:13] #7701 closed

[2016-11-29 01:12] wildtangent commented on #7547
@mauazua did you get anywhere with this? I have an idea for it - will put in a PR and see if it is similar to your thinking

[2016-11-30 10:23] bonekost opened #7709 "i18n - plurals translation"
I try to make more plurals for order form. (other language than `:en` got more plurals).

I got this:

    #config/initializers/pluralization.rb

    require "i18n/backend/pluralization"
    I18n::Backend::Simple.send(:include, I18n::Backend::Pluralization)
 and

    #config/locales/plurals.rb
    {:cs =>
      { :i18n =>
        { :plural =>
          { :keys => [:one, :few, :other],

[2016-12-01 00:58] catalin88 opened #7713 "wrong number of arguments (given 3, expected 1)"
I randomly keep getting this error, on more than one page:

[code]

If I restart the server and then refresh the page, everything goes fine. But in production this is not acceptable
Any ideas ?

[2016-12-01 08:34] priyank-gupta commented on #7713
@catalin88 More info please. Backtrace will help.

[2016-12-01 08:51] priyank-gupta commented on #7709
@bonekost You are missing few things here.
[code]
And
[code]

[2016-12-01 09:25] bonekost commented on #7709
nope it does't help...
and about part `locale: :cs` what if someone change language?

[2016-12-01 10:00] damianlegawiec commented on #7693
@gcauchon backported to `3-1-stable`

[2016-12-01 10:00] #7693 closed

[2016-12-01 10:06] damianlegawiec commented on #7674
Hi @tranhv you have to add this field via overrides or a complete template overwrite, more information can be found in guides -> http://guides.spreecommerce.org/developer/view.html

[2016-12-01 10:06] #7674 closed

[2016-12-01 10:11] #7658 closed

[2016-12-01 10:11] #7648 closed

[2016-12-01 10:12] #7670 closed

[2016-12-01 10:12] #7633 closed

[2016-12-01 10:20] damianlegawiec commented on #7547
Fixed via https://github.com/spree/spree/pull/7705

[2016-12-01 10:20] #7547 closed

[2016-12-01 10:22] #7634 closed

[2016-12-01 11:04] priyank-gupta commented on #7709
@bonekost If you are using `Spree.t` then do not add `spree` scope in key, `spree.cart_subtotal`
Instead, use `cart_subtotal`. Not sure if you have already tried that.

Well above code is working at my end. May be you are missing something.

And regarding language change, you will have to set `I18n.locale = changed_language` (example, `I18n.locale = :cs`) via `prepend_before_action`  in your `spre

[2016-12-01 17:02] joshRpowell opened #7720 "consider adding Github Issue Template??"
Has the core team considered an [issue template](https://help.github.com/articles/creating-an-issue-template-for-your-repository/)?

The [guidelines for contributing](https://github.com/spree/spree/blob/master/CONTRIBUTING.md) fit nicely into a template.

I'd be glad to submit a PR.

[2016-12-01 17:04] damianlegawiec commented on #7720
@joshRpowell sure! Please submit a PR :)

[2016-12-01 17:24] joshRpowell commented on #7720
@damianlegawiec will do!

[2016-12-01 23:20] joshRpowell opened #7722 "removing Admin::RootController breaks redirect when mounted in a subdirectory"
## Context

We have spree mounted:
[code]
Removing Admin::RootController [here](https://github.com/spree/spree/commit/2f28b6dc20cdbb6bac02d08d7cb2ee5711d57ede#diff-7c6d89956aa66bc9ee5dc2edd38e026dR185) in PR #7445 results in a broken redirect when upgrading from 3.1.2 to Master

## Expected Behavior

On **3.1.2** redirects from `Spree.admin_path` go to `/store/admin/orders`

## Actual Behavior

On

[2016-12-02 03:58] LcpMarvel opened #7723 "How to remove the `paperclip` dependency if i don't want to upload and clip images using local server."
I don't have to install `ImageMagic` and `paperclip` if I upload images to CDN service in front end and store the image url in database.

So how to remove them?

[2016-12-02 12:13] #7720 closed

[2016-12-02 12:35] damianlegawiec commented on #7723
@LcpMarvel unfortunately, Spree is too much tied to paperclip currently to completely remove paperclip.

[2016-12-02 12:35] #7723 closed

[2016-12-02 12:36] damianlegawiec commented on #7722
Thanks @joshRpowell for reporting 👍

[2016-12-02 16:25] #7722 closed

[2016-12-02 16:49] #7585 closed

[2016-12-02 18:08] #7649 closed

[2016-12-04 08:04] #7587 closed

[2016-12-04 15:34] catalin88 commented on #7713
@priyank-gupta Can you give me a more specific hint on how to do this ? On this particular error, I don't even get a console at the bottom... Might be silly what I'm saying, but literally have no idea where to start, so anything would help

[2016-12-05 09:31] bonekost commented on #7713
@catalin88 I had same problem and I found out it was because I used buybug...

[2016-12-05 10:42] ubudzisz opened #7729 "As an admin I cannot edit guest user addresses in admin/orders"
## Context
As an Admin, I should be able to update guest user data.

## Expected Behavior
Data should be updated.

## Actual Behavior
I go message `User not found` (tested on spree 3.1 i 3.2.)
![update](https://cloud.githubusercontent.com/assets/9639111/20882148/d6d5e388-badf-11e6-9cf4-c8cd0148578a.png)

## Steps to Reproduce
1.Create guest checkout.
2.Log as an Admin and update guest user data.

[2016-12-05 11:10] kimadactyl commented on #7634
Hey, is this closed because it's fixed, or because it's seen as not important? I don't have access to an environment right now but I think it's completely replicable!

[2016-12-05 11:31] calebyk commented on #7682
I have the same problem..
could you mention more detail about creating decorator.. example.. where it should be located. what is the file name.. etc..
thank you in advance..

[2016-12-05 12:41] catalin88 commented on #7713
@bonekost Can you tell me how you found out it was `byebug`, the process behind it, so I can make sure this is my problem as well ? And actually, how did you solve it ? Because other gems (`oauth`) depend on `byebug`, so did you simply uninstalled `byebug` and all gems that had it as a dependency, or found another solution ? All input is appreciated!

[2016-12-05 13:59] catalin88 commented on #7713
@priyank-gupta So I have found some additional info:

[code]

This is where it's called: https://github.com/spree/spree/blob/master/core/app/models/spree/stock/content_item.rb

[code]

[2016-12-05 18:31] calebyk commented on #7671
I need more detailed instruction..
where l should locate the decoration, what is the path..

thank you..

[2016-12-05 21:35] jkelleyj opened #7732 "Store Credit creates a duplicate zero dollar payment against Existing Credit Card preventing checkout"
## Context
When checking out and using store credit to completely pay for an order, a second payment is created for zero dollars and that payment method (I think this will be whatever is actually selected in the normal payment form) will be processed against the gateway.  This causes no issues for the bogus gateway because a zero dollar payment is acceptable, but for some gateways (like Authorize.

[2016-12-05 21:49] jkelleyj commented on #7732
I just tested this with a checkout decorator and it does indeed fix the issue.  I'll submit a quick PR if that's helpful.  I haven't contributed to this repo before, so please advise if I should dev the PR against a branch other than master

[2016-12-06 06:25] priyank-gupta commented on #7729
@ubudzisz Submitted a fix for this.

[2016-12-06 06:42] priyank-gupta commented on #7732
@jkelleyj Not able to replicate this. This is handled via https://github.com/spree/spree/commit/ec15e93f.
Same commit is available on version 3.1.1.

Let me know if I am missing something here.

[2016-12-06 06:45] priyank-gupta commented on #7589
@damianlegawiec @fabiode I am available to submit a PR regarding my suggestion above.

[2016-12-06 09:03] karolfraczkowski opened #7734 "Two promotion codes can be applied and lead to minus order sum."
Issue affects spree 3.2 and 3.1
![spree demo site](https://cloud.githubusercontent.com/assets/23167379/20919255/29663196-bb9b-11e6-9837-3b87c6ad0986.png)

[2016-12-06 10:24] #7729 closed

[2016-12-06 10:39] damianlegawiec commented on #7732
@jkelleyj please submit PR against master and we'll backport it to `3-1-stable`, thanks!

[2016-12-06 13:15] hiryuPL opened #7735 "Validation error do not mark all invalid fields in admin panel"
## Context
There is a visual notification for invalid fields but for some reason "State" field is omitted.

## Expected Behavior
All invalid fields should be treated in same manner.

## Actual Behavior
See image

![screen 637](https://cloud.githubusercontent.com/assets/15831755/20926719/1b7924f8-bbbe-11e6-8744-edd3a4bef146.jpg)

## Steps to Reproduce
1. Login with admin account and enter admin pan

[2016-12-06 15:42] jkelleyj commented on #7732
Hey @priyank-gupta I just submitted a PR - this only applies when using an existing card as the payment source.  You'll only see the issue if you have a payment method that balks at a zero total payment (like auth.net CIM).  The other place you'll see it with a payment method that allows a zero total payment is a second payment of $0 amount.

[2016-12-06 18:48] madmath opened #7741 "Adding PaymentRequest API support"
Would it be possible to support the PaymentRequest API in Spree?

Most browsers have committed to implement it, with support being landed in Edge, Chrome, Opera, Firefox. It doesn't require new payment processors; it's a different UI meant to replace forms.

Let me know what you think.

Web Payments API W3C spec: https://w3c.github.io/browser-payment-api/

Browser support:
Edge
https://twitter.com

[2016-12-07 16:16] damianlegawiec opened #7744 "Reimbursment mailer is text only, lacking HTML view"
## Context

## Expected Behavior
Should render nice HTML email

## Actual Behavior
![screen shot 2016-12-07 at 17 07 34](https://cloud.githubusercontent.com/assets/55154/20975764/baa1a018-bca0-11e6-927f-77e5d4080ac5.png)

## Possible Fix

## Your Environment

* Version used: Spree 3.1

[2016-12-08 16:36] #7732 closed

[2016-12-09 17:30] 99cm opened #7748 "ArgumentError in Spree::OrdersController#update"
comparison of NilClass with BigDecimal failed

Extracted source (around line #16):
14
15
16
17
18
19

        def compute_amount(order)
          [(order.item_total + order.ship_total), compute(order)].min * -1
        end
      end
    end

## Context

spree_core (3.1.3) app/models/spree/promotion/actions/create_adjustment.rb:16:in `each'
spree_core (3.1.3) app/models/spree/promotion/actions/crea

[2016-12-09 19:06] nicedawg commented on #6566
I, too, was surprised by this behavior.

Do you guys think it's a valid use case to say "this promo can only be used to create X line-item adjustments?"  I think most of the time, the store admin would rather say "this promo can only be used on X orders."

I monkey-patched my 2-2-stable store to count Orders instead of Adjustments when determining Usage Count. I would be willing to open a PR as we

[2016-12-09 21:36] 99cm commented on #7748
The same error appeared when remove 1 item from cart. Full trace as follows:
Extracted source (around line #16):

        def compute_amount(order)
          [(order.item_total + order.ship_total), compute(order)].min * -1
        end
      end
    end`
**Application Trace | Framework Trace | Full **Trace**
spree_core (3.1.3) app/models/spree/promotion/actions/create_adjustment.rb:16:in `each'
spr

[2016-12-09 22:31] catalin88 opened #7749 "pre_tax_amount on line_items is always zero"
Something weird is going on. On all orders each line_item has its pre_tax_amount equal to zero.

Unless, and this is the weird part, I copy this file https://github.com/spree/spree/blob/master/core/app/models/spree/tax_rate.rb to my app /models/spree directory, then the pre_tax_amount gets updated just fine.

No idea why that is...

[2016-12-12 00:02] joeswann opened #7750 "How to override include Spree::Core::NumberGenerator in 3.1+"
So before 3.1 it was possible to control the order number settings by overriding the generate_number function. Since then it has been updated to an include of `NumberGenerator`.

What is the best way to override the settings for this include? In this case I just want to replace the first line below with the second.

[code]

I'm having some trouble finding the 'Rails way' of doing this within class

[2016-12-12 00:21] joeswann commented on #7750
Not entirely related but also, how would I generate a new order number without calling save? For example inside `empty!`

[2016-12-12 00:34] joeswann commented on #7750
Okay so this appears to work, but it also means anything else that might want to update the order number (eg inside empty!) needs to also have the prefix and number setting instead of `Spree::Order.number_generator`. Doesn't feel right somehow?

[code]

[2016-12-12 09:49] karolfraczkowski opened #7751 "[Spree 3.2] Free shipping promotion cannot be applied in the shopping cart"
Free shipping promotion cannot be applied in the shopping cart promotion space, yet it works in Payments on Checkout.

Issue does not affect Spree 3.1, as there is no Promotion field space in the shopping cart there.

![shopping cart spree demo22](https://cloud.githubusercontent.com/assets/23167379/21094745/a156b358-c058-11e6-842e-51de87179957.png)

[2016-12-12 11:04] karolfraczkowski opened #7752 "No information whether the item is backordered or not"
There is no information about the item being backordered. Only visible On Admin's panel side and "Orders" in My Account, after the order as conducted.

[2016-12-13 19:04] niharika88 commented on #7734
i can take this up?

[2016-12-13 19:12] damianlegawiec commented on #7734
@niharika88 sure!

[2016-12-13 19:21] niharika88 commented on #7641
working on it

[2016-12-14 08:24] damianlegawiec commented on #7640
Hi @u007 you can play around with puma configuration (https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server) and look at tools like:

https://github.com/schneems/puma_worker_killer

[2016-12-14 23:00] ezekg opened #7756 "Update friendly_id to 5.2 for proper Rails 5 support"
When trying to use the latest version of friendly_id along with Spree 3.2.0.rc1 using Rails 5, I get the following dependency error:

[code]

Gemfile:

[code]

Version 5.1 of friendly_id has [issues](https://github.com/norman/friendly_id/issues/755) with finder methods, [which is resolved in the latest release](https://github.com/norman/friendly_id/issues/766). This doesn't effect Spree since inte

[2016-12-15 08:27] damianlegawiec commented on #7756
@ezekg thanks for reporting this - please submit a PR 👍

[2016-12-15 16:12] nwoow opened #7757 "Spree add admin user in apartment gem tenant"
Hey I have installed a spree and on top of that  have created a tenant using apartment gem each tenant has different db in mysql. I can access a general login area but How can I create an admin user in my case. And which table I need to edit to make normal user admin. Thanks for reply

[2016-12-16 12:20] viveks1422 commented on #7671
I am keep getting the issue with Authorization net. Please help me.

[2016-12-16 13:38] calebyk commented on #7671
I got solved the issue.
You can add up a decoration on mystore/app/models/spree/credit_card_decorator.rb

Inside of it..
...

Let me email u again..
I am out of office..
Thanks..

                  \\\\\lll///////
                    ( (o) (o))
*==oOOO====(_)===OOOo===*
              Caleb Y. Kang
 "Resourceful Center
   with more than Conquerors"
       "300 CEOs! 300 STAFFs!"
       "Builder's L

[2016-12-19 08:16] an9949an opened #7760 "Product could not be deleted, Spree 3.1"
Hello!
I installed Rails 4.2.6 + Spree 3.1.3.
When I try to delete any product which was ordered I see message: "Product could not be deleted". Order can be in any status, it does not affect on this issue. This issue reproduced in the standard generated by "rails g spree:install" app with no changes.
Spree 3.2.0.rc1 does not have this issue.
My gemfile(but I tried to change rails version to 4.2.7.

[2016-12-20 16:11] damianlegawiec commented on #7757
@nwoow please ask such questions on our slack channel (http://slack.spreecommerce.com) , issues are only for reporting bugs/suggestions etc

[2016-12-20 16:11] #7757 closed

[2016-12-21 08:09] vernondegoede opened #7765 "Expose 'meta_title' and 'meta_description' for Spree::Taxon in API"
We're using the Spree API for all of our projects. We noticed that `meta_description` and `meta_title` are missing in the taxon RABL.

We currently fixed this by pushing `meta_title` and `meta_description` manually in the spree.rb initializer. It would be great if this would be exposed by default though.

## Expected Behavior
I expect the meta_title and meta_description to be exposed using a taxon

[2016-12-21 09:05] vernondegoede opened #7767 "DEPRECATION WARNING: #table_exists? when running specs."
When running `./build-ci.rb test` in Circle CI there's a deprecation warning for the `table_exists?` method.

## Actual Behavior
[code]

## Possible Fix
Use `#data_source_exists?`

[2016-12-21 09:53] damianlegawiec commented on #7765
@vernondegoede nice catch, please submit a PR today and it will make it way to `3.2.0` release 👍

[2016-12-21 10:03] vernondegoede commented on #7765
@damianlegawiec I submit a PR but some backend tests are failing and I can't figure out how to make them pass. I added the attributes to the API specs, which are now passing. Could you help me fix those tests? :)

[2016-12-21 14:00] damianlegawiec commented on #7765
@vernondegoede merged via https://github.com/spree/spree/pull/7766 :)

[2016-12-21 14:00] #7765 closed

[2016-12-21 17:40] vernondegoede commented on #7765
Nice! Thanks :)

[2016-12-22 12:05] damianlegawiec commented on #7765
@vernondegoede Thank you! :)

[2016-12-23 04:33] priyank-gupta commented on #7767
@vernondegoede Can you please submit a PR for this ?

[2016-12-23 04:59] priyank-gupta commented on #7760
@an9949an This error is intended and is generated from https://github.com/spree/spree/blob/master/core/app/models/spree/product.rb#L31.

Its not in Spree.3.2.0.rc1 because we missed `throw(:abort)` in `#ensure_no_line_items` callback. I have created a PR to fix this https://github.com/spree/spree/pull/7768.

Thanks for raising this issue.

[2016-12-23 05:02] priyank-gupta commented on #7749
@catalin88 Please share you `Gemfile`. I think some other extension is overriding `TaxRate` class to introduce this issue.

[2016-12-26 12:50] an9949an commented on #7760
@priyank-gupta,
Thank you!

[2016-12-26 12:52] an9949an commented on #7760
@priyank-gupta,
I dont know, should I close this issue now?

[2016-12-27 04:39] rezapci commented on #7420
I have the same problem when using this command: bin/rails generate controller Say hello goodbyeclear

[2016-12-27 16:25] MuhammadAhmed1994 opened #7770 "Api for customer return and reimbursement."
There is no api for reimbursement, customer return and cancel salesorder.

[2016-12-27 16:52] MuhammadAhmed1994 commented on #7770
found cancel sales order API but still reimbursement and customer return API are missing.

[2016-12-29 04:27] jkelleyj commented on #7749
@priyank-gupta this is related to #7357 Items that did not have a tax rate never had their pre_tax_amount set.  FYI this impacts return authorizations, as any item with a zero dollar pre_tax_amount will lead to a zero dollar amount suggested on the return auth form in the admin.  In looking at spree 3.1 this commit does not seem to be backported.

[2017-01-02 06:14] priyank-gupta commented on #7760
@an9949an Closing this.

[2017-01-02 06:14] #7760 closed

[2017-01-02 06:26] priyank-gupta commented on #7749
@jkelleyj Seems like it.
@damianlegawiec We should include this with 3.2.x ?

[2017-01-02 16:38] viveks1422 commented on #7671
undefined method `manual_entry' for #<Spree::CreditCard>
Get this one after adding mystore/app/models/spree/credit_card_decorator.rb
Please help me

[2017-01-03 10:01] chileap opened #7773 "Cannot find form registration using spree 3.1"
Hello

I am quite new here with spree commerce. And I try to add field into user but I could not find file registration for customer.

I wonder where it has gone since I have read document and it said that file is in spree/checkout/registration but I could not find it in 3.1.

Could you tell where it is?

[2017-01-03 12:00] MuhammadAhmed1994 commented on #7770
can you please tell me the estimated time for these two API's.
Thanks,

[2017-01-03 15:07] lsantobuono commented on #7713
Have you tried skipping the  delivery state by commenting it in the checkout_flow instead of deleting it?

[code]

[2017-01-03 16:43] jkelleyj commented on #7749
Hey @priyank-gupta, @damianlegawiec it was already pulled into 3.2 from what I can see.  What's the policy for backporting things like this to 3-1-stable?

[2017-01-03 17:35] calebyk commented on #7682
create a decorator file and add the content on the file..
mystore/app/models/spree/credit_card_decorator.rb

module Spree
  CreditCard.class_eval do
    include ActiveMerchant::Billing::CreditCardMethods

    def manual_entry
    end

  end
end

[2017-01-03 17:35] calebyk commented on #7671
yes, it is another issue, right?

I think activemerchant version goes up.. but, card class is not updated at
the spree..

you can implement a void method on the card decoration class...

module Spree
  CreditCard.class_eval do
    include ActiveMerchant::Billing::CreditCardMethods

    def manual_entry
    end

  end
end

On Mon, Jan 2, 2017 at 11:38 AM, vivek <notifications@github.com> wrote:

--

[2017-01-03 19:29] nrowegt commented on #6842
@edipox That just made a huge speedup to an app of mine, thanks much!

[2017-01-03 23:12] edipox commented on #6842
@nrowegt @cbilgili No problem guys! I'm happy to know that this was useful for someone else. BTW I think that what @cbilgili suggests would be very useful as well.

[2017-01-05 03:40] vincentkedison opened #7774 "Add notes at checkout process"
How can I add notes textbox at checkout process? thankyou

[2017-01-06 04:01] jdatti commented on #7773
@chileap Its not part of spree core. You either have to build your own or you can use of spree's extentions(https://github.com/spree/spree_auth_devise)

[2017-01-06 04:51] chileap opened #7776 "Add Address into User Registration form"
I have used gem `spree_address_book` to my project. And I want to let customer register their account with address so I want to integrate with this gem by not create other new field of address.

And I don't have any clue to add this association together. Anyone can help me with this point?

[2017-01-06 18:34] vkdimitrov commented on #7595
something new here?

[2017-01-06 19:05] bbrangeo commented on #7595
Hi Vladimir
I prefer to develop my own solution with symfony2. I no longer use spree.
Good luck

[2017-01-06 20:00] vkdimitrov commented on #7595
Here is the working curl, i was missing the type parameter
[code]
[code]

[2017-01-07 03:06] #7773 closed

[2017-01-09 21:05] priyank-gupta commented on #7776
@chileap You can make use of `ship_address` and `bill_address` associations from user and save that address in any of the suitable field.

[2017-01-09 21:18] RyanQuey opened #7777 "Bug trying to create taxons within certain taxonomies"
Within the admin view, I created a taxonomy,  then right-click on the folder name to add a taxon.  I then type in the name for the taxon, and then click update. This returns me to the main taxonomy index view, and a green bar appears saying that I successfully updated the taxonomy.

However, although the taxonomy itself is created successfully, the taxon  disappears, cannot be selected or found el

[2017-01-10 01:53] chileap commented on #7776
@priyank-gupta Thanks for your answer. I already found solutions. Since I used gem `spree_address_book`, it is added association between `spree_user` and `spree_addresses`. Then I just add `has_many` to `spree_user` and it worked well.

[2017-01-10 12:06] MuhammadAhmed1994 commented on #7770
Hi Damian ,
is there any update?
Thanks,

[2017-01-11 08:54] chileap opened #7778 "Wonder where display_price, single_money come from?"
I have tried to modify display_price and single_money methods but I don't know where it all come from. That's why I couldn't modify.

Anyone can help me with this?

[2017-01-11 10:59] Mafi88 commented on #7778
https://github.com/spree/spree/blob/master/core/app/models/spree/price.rb#L18-L19
https://github.com/spree/spree/blob/master/core/app/models/concerns/spree/display_money.rb#L20

[2017-01-11 13:15] deepakm-webonise commented on #7671
I am getting the same issue

[2017-01-11 13:19] chileap commented on #7778
@Mafi88 Thank for your response. So if I wanna customize this method, I need to add like

`extend DisplayMoney`
 `money_methods  :amount, :price`

`def amount`
`.....`
`end`

and

`def price`
`.....`
`end`

[2017-01-12 09:46] #7778 closed

[2017-01-12 09:50] chileap opened #7779 "Dynamic updated price depend on user login"
I have tried to update price depend on user login, and the process is working well untill delivery step. I got wrong price and I know it is in order model but I don't have any clues with this step.

Could anyone guide me about changing price in this step?

[2017-01-12 11:20] priyank-gupta commented on #7779
@chileap May be you can explain more about what are you trying to achieve and how ?

[2017-01-12 11:22] #7776 closed

[2017-01-13 01:18] danielricecodes commented on #6842
@edipox - what version of Spree was your solution meant for?  I just tried this with Spree 3.1.1 and now when I try to checkout, the Checkout controller won't let me progress to the Payment step.  Its kicking me back out to the Address step and the Order line item quantities have been reset to 1.  This doesn't appear to work with the latest version of Spree.

[2017-01-13 02:10] chileap commented on #7779
@priyank-gupta I have field `sale_price` which in `spree_varaint` model. And I want only non authentication users see that price while authentication user see master price.

And I have tried to edit LineItem model

`old_copy_price = instance_method(:copy_price)
  define_method(:copy_price) do
    old_copy_price.bind(self).call
    return unless variant`

    if variant
      if changed? && changes

[2017-01-13 04:50] #7779 closed

[2017-01-13 04:52] chileap opened #7780 "How to exclude tax and shipping in Spree?"
I wonder which part that we can disable tax in spree?

And when I try to disable it, it errors and message is `We are unable to calculate shipping rates for the selected items.`

Anyone has any idea with this?

[2017-01-13 05:13] jkelleyj opened #7781 "Clicking the label Track Inventory for any variant but first changes first variant checkbox"
## Context
In the backend when managing stock for a product with more than one variant, if you click the label text "Track Inventory" next to the checkbox it always changes the checkbox state of the first variant in the list.  This is due to a mislabeling of the label for attribute.  Each row has the same HTML ID causing the issue.

## Possible Fix
I'll submit a PR that creates a unique ID for eac

[2017-01-15 12:44] #7781 closed

[2017-01-16 08:46] catalin88 opened #7786 "As an admin I cannot edit user info in admin/orders"
## Context
As an admin I cannot edit user info in admin/orders

## Expected Behavior
Data should be updated.

## Actual Behavior
"User not found" error appears.
Same error appears either the customer made the order as a guest or not

## Possible Fix
I have seen the issue has been signaled before for guest users and marked as solved, yet that solution still gives me the same error for users that ar

[2017-01-18 15:53] muhammadahmed94 opened #7788 "Filter products by last modified date"
Is there any API  filter to fetch list of products by last modified date ?

[2017-01-18 17:36] danielricecodes commented on #6842
@edipox - I figured it out thanks with help from the folks in Spree's Slack Channel.

It took the code from both you and @cbilgili to make this work.  I'm posting the combined solution to help anyone else who arrives at this issue.

[code]

PS: I do plan on opening an issue with Spree Core because this is an obvious O(n) performance issue/bug (meaning, order processing time is directly proportiona

[2017-01-19 04:22] chileap opened #7789 "How to clear cache manully in spree?"
I have tried to switch the price of price after login and logout. the problem is when I logout, the price is still the same as login because of cache in application since when I clear cache in admin, it worked fine.

So I want to ask if there are anyways to clear cache manully after login and logout?

[2017-01-19 10:07] ubudzisz commented on #7786
hi @catalin88 in 3.1. I cannot edit guest user. in 3.2 everything works fine after #7729

[2017-01-24 06:24] priyank-gupta commented on #7789
@chileap Its not a good approach to clear cache on login/logout instead you should add `spree_user_signed_in?` as part of price cache key.

[2017-01-24 06:34] priyank-gupta commented on #7788
@muhammadahmed94 Spree uses ransack for searching so you can send params like `{ q: { updated_at_eq: modified_datetime } }` to products index api which should do the trick. Read more on ransack [here](https://github.com/activerecord-hackery/ransack)

[2017-01-24 07:04] priyank-gupta commented on #7780
@chileap You can use flat rate calculator with an amount of 0 instead of disabling it.

[2017-01-24 09:38] chileap commented on #7780
@priyank-gupta thank for answer.

[2017-01-24 09:38] #7780 closed

[2017-01-24 09:38] chileap commented on #7789
@priyank-gupta thank you.

[2017-01-24 09:38] #7789 closed

[2017-01-24 12:48] vfonic opened #7791 "How to contribute to guides.spreecommerce.org?"
Hi,

I'm just starting with Spree and started following the tutorial on guides.spreecommerce.org and would like to contribute to the documentation as I move along. How can I do that?

## Context
For example, the quote from the documentation:
http://guides.spreecommerce.org/developer/getting_started_tutorial.html

The latest version of Rails is 5.x something. And the latest 4.2.x version is 4.2.7.1

[2017-01-24 15:54] muhammadahmed94 commented on #7788
Thanks Priyank,
but i was passing filter in api like that..
http://demo10.folio3.com:3000/api/v1/products?q[updated_date_gteq]=2018-12-26T00:00:00.000Z&token=
but it didn't respond me the expected output and showing more than 40 products in response.
one more thing i also want updated_at(last modified date) in product response do i need to customize the existing spree api?

_______________________

[2017-01-26 02:52] markholmes commented on #7791
Hi vfonic,

I would assume that those docs are [located here](https://github.com/spree/spree/blob/master/guides/content/developer/tutorials/getting_started_tutorial.md) - if you clone the repo and make those changes, you could submit a PR!

[2017-01-26 11:15] damianlegawiec commented on #7791
Hi @vfonic you can just contribute to this repo, guides are built based on markdown files from https://github.com/spree/spree/tree/master/guides directory.

Thanks for the support!

[2017-01-26 11:15] #7791 closed

[2017-01-27 06:24] priyank-gupta commented on #7788
@muhammadahmed94 You need to specify updated_at in `whitelisted_ransackable_attributes`, `self.whitelisted_ransackable_attributes = %w[description name slug discontinue_on updated_at]`.

Add `Spree::Api::ApiHelpers.product_attributes.push(:updated_at)` in `spree.rb`.
This should do the trick.

[2017-01-29 07:34] mroach commented on #7055
@pavels Great summary of the off-site options. Here in Asia the "info" option is also quite common as users can be presented with a PDF or QR code to bring to 7/11 for example and pay in cash.

The redirect issue is becoming more pressing for using 3D Secure (i.e. Verified by Visa, MasterCard SecureCode). As I understand it, these days with many merchant account agreements, liability is shifted to

[2017-01-29 21:02] 99cm opened #7792 "ActiveRecord::StatementInvalid (Could not find table 'spree_orders')"
have developed a rails 5 application and just deployed it, but been unable to run. Rails can't handle public requests. 2 issues raised: one is "spree_orders" posted here, another "spree_pages" posted to "spree_static_content". Web server repeatedly logs these two errors.
## Context

## Expected Behavior

## Actual Behavior

I, [2017-01-29T12:35:51.421823 #30826]  INFO -- : Started GET "/products/z

[2017-01-30 11:00] harsh-ag opened #7793 "Update adjustments section in Spree Developers Guide"
Currently, there are only two states of adjustments- open and closed. Third state(finalized) was removed from Spree in commit cf34db744c235420f19f8eb7297508cdb733f475.
Need to update the same in Spree Developers Guide:
http://guides.spreecommerce.org/developer/adjustments.html

[2017-01-30 13:04] damianlegawiec commented on #7793
Hi @harsh-ag , thanks for noticing this - please submit a PR for this repository (guides directory) and we will update the docs

[2017-01-30 21:05] smedstadc commented on #7636
I'm maintaining a Rails 4.2/Spree 3.0 app affected by this. Spree bundled from the 3-0-stable branch.

The problem is around line 26 of `spree/backend/app/views/spree/admin/state_changes/index.html.erb` where the template attempts to use `state_change.user.login` as link text. On other screens, the default backend uses the user's email to display their name, which usually exists. But `user.login`

[2017-01-30 21:20] smedstadc commented on #7636
Looks like the template is basically unchanged in the `master` and `3-2 stable` branches, so this will still bite people who register a custom User model without knowing the backend views assume a #login method on the User that returns a string.

[2017-01-30 23:53] 99cm commented on #7792
Did these lines cause the issue?
spree_core (3.2.0.rc2) lib/spree/core/token_generator.rb:7:in `block in generate_guest_token'
spree_core (3.2.0.rc2) lib/spree/core/token_generator.rb:5:in `loop'
spree_core (3.2.0.rc2) lib/spree/core/token_generator.rb:5:in `generate_guest_token'
spree_core (3.2.0.rc2) lib/spree/core/controller_helpers/auth.rb:29:in `set_guest_token'

[2017-01-31 10:41] sivagollapalli opened #7795 "Connection needs to be established"
I am using rails `4.2.7.1` with `sqlite3` and spree `3.1.3`. I have loaded sample data to test demo site. But when I went to console and type `Spree::User` it gives msg as `Spree::User (call 'Spree::User.connection' to establish a connection)`. If I do `Spree::User.count` then ruby gets crashed. But when I comment `spring` gem in `Gemfile` then there are no issues. Could you help me?

[2017-01-31 11:57] #7767 closed

[2017-02-01 21:00] freshnewegg commented on #7795
Just establish a connection with "Spree::User.connection", then make your calls

[2017-02-01 21:54] bmatmentel commented on #6562
Hi,

I am reopening this, as this solution did not work for me.

I am still finding references to the email "spree@example.com" in the mail logs, and the mail server refuses that "from email", resulting in undelivered mail.

I added the suggested line to the initializer, I have a "default from" in the StoreMailer, and the database table for the store has been changed.

Where can I look, what am I

[2017-02-01 22:29] bmatmentel commented on #6562
Just for the record:

There is a "from email" in the General Settings of the configuration of the admin panel, which also needs to be changed to the desired email. That one seems to overwrite everything else.

[2017-02-02 02:13] 99cm commented on #7792
spree core token_generator.rb, controller_helper/autho.rb need to be fixed
`I, [2017-02-01T20:50:45.960615 #29391]  INFO -- : Started GET "/products/chuan-bei-ju-hong-respira-herbs?taxon_id=26" for 66.249.69.254 at 2017-02-01 20:50:45 -0500
I, [2017-02-01T20:50:45.961523 #29391]  INFO -- : Processing by Spree::ProductsController#show as HTML
I, [2017-02-01T20:50:45.961564 #29391]  INFO -- :   Para

[2017-02-02 04:39] sivagollapalli commented on #7795
@freshnewegg I did but `Spree::User.connection` leads to ruby crash. I am using `ruby-2.3.1`

[2017-02-02 10:01] #7636 closed

[2017-02-02 10:29] vfonic commented on #6216
@damianlegawiec this seems to have been resolved. You could close this issue.

[2017-02-02 10:29] vfonic commented on #6505
The tutorial pages have been updated. You can check that it works now if you want.

@damianlegawiec you could close this issue as well.

[2017-02-02 10:29] vfonic commented on #7358
@damianlegawiec the new version of guides has been deployed long ago. You could close this issue.

Some issue maintenance might come in handy.

[2017-02-02 10:32] #6505 closed

[2017-02-02 10:32] #7358 closed

[2017-02-02 10:37] vfonic opened #7801 "Product property search by property name is broken"
## Context
I've been playing with the spree API and realized that product product_properties search doesn't work.
For example, this query will always return all product_properties for given product, no matter the `q[property_name_cont]` parameter value:
[http://spree_store.dev/api/v1/products/1/product_properties?token=<some_token>&q[property_name_cont]=lolzorz](http://spree_store.dev/api/v1/produ

[2017-02-02 10:58] vfonic opened #7802 "Is there any use of font-awesome-rails gem in spree_core?"
I've found out that `spree_core` has `font-awesome-rails` as a dependency in its gemfile:
https://github.com/spree/spree/blob/master/core/spree_core.gemspec#L29

I couldn't find any use of FA gem in the whole `spree` project at all, especially not in `spree_core`.

I'm trying to use spree with custom frontend that I'm building and it's a bit of an issue having to load FA (or even TW bootstrap) sin

[2017-02-03 09:04] PascalPixel opened #7806 "undefined method `to_sym'"
[code]

[2017-02-03 10:08] PascalPixel commented on #7806
Same issues:
https://github.com/spree-contrib/spree_braintree_vzero/issues/129
https://github.com/spree-contrib/spree_braintree_vzero/issues/130

Solution might be here:
https://github.com/spree-contrib/spree_braintree_vzero/issues/129#issuecomment-275086887
But was left to its own devices

Other possible solution:
https://github.com/spree-contrib/spree_braintree_vzero/issues/130#issuecomment-2728

[2017-02-05 11:34] PascalPixel commented on #7806
Showing /Users/PascalPencil/.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/bundler/gems/spree_braintree_vzero-f86a5806680e/app/views/spree/checkout/payment/braintree_vzero/_payment.html.erb where line #61 raised:

wrong number of arguments (given 3, expected 0..1)
Extracted source (around line #312):
[code]

Trace of template inclusion: /Users/PascalPencil/.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/bund

[2017-02-07 15:49] muhammadahmed94 commented on #7788
Thanks Priyank.

[2017-02-07 16:31] freshnewegg opened #7808 "Spree occasionally stops serving Amazon S3 images"
I set up Amazon s3 to store images and it works successfully as detailed on http://guides.spreecommerce.org/developer/s3_storage.html. However, occasionally, spree stops serving the s3 url's and starts serving local ones.

## Context

I'm trying to serve product information (specifically the image url) via the spree api. I'm making call toward the api/v1/products endpoint.

## Expected Behavior

I

[2017-02-07 17:12] damianlegawiec commented on #7806
Closing as this is a https://github.com/spree-contrib/spree_braintree_vzero issue

[2017-02-07 17:12] #7806 closed

[2017-02-09 06:15] ouarez opened #7810 "Stripe Checkout: ArgumentError in Spree::CheckoutController#update (Missing required parameter: login)"
## Context

Added Payment Method for Stripe, including API Keys.

Any attempt to then checkout after adding a product to the cart is met with this error.

## Steps to Reproduce
1. Fresh install of Spree with Rails 5.0.1
2. Add Payment Method for Stripe
3. Add product to cart, checkout
4. Error is encounted upon completing step 3 (Payment info)

## Error output
### ArgumentError in Spree::CheckoutC

[2017-02-11 04:19] RyanQuey opened #7812 "deface gem trying to modify frozen array "eager_load_paths" when running in production"
## Context
I'm trying to deploy my spree project to heroku, but I'm getting the following error message: "Unable to load application: RuntimeError: can't modify frozen Array"

Using the backtrace, this is because deface is calling reject! method on eager_load_paths (deface/railtie.rb:39, using deface 1.1.0). It seems like this is a problem because that eager_load_paths array has already been froze

[2017-02-13 12:16] #7735 closed

[2017-02-14 16:05] mohsen-alizadeh commented on #7770
Can i pick this issue ?

[2017-02-14 16:53] damianlegawiec commented on #7770
@mohsen-alizadeh sure!

[2017-02-15 00:35] jdatti commented on #6719
I've seen the same issue a few days back. We could see they got created almost at the same second.

`2.3.1 :009 > Spree::Payment.group(:number).having("count(1) > 1").count
 => {"PGLJJWET"=>2}
2.3.1 :010 > Spree::Payment.where(number: "PGLJJWET")
 => #<ActiveRecord::Relation [#<Spree::Payment id: 77953, amount: #<BigDecimal:14097270,'0.13492E3',18(27)>, order_id: 52506, source_id: 30114, source_ty

[2017-02-15 18:11] mohsen-alizadeh commented on #7770
@MuhammadAhmed1994 I'm working on this issue. I will complete and create a merge request in one month surely.

[2017-02-17 05:44] priyank-gupta commented on #7808
@freshnewegg Whats your s3 configuration ? and where you did it ?

[2017-02-17 11:51] #7801 closed

[2017-02-18 04:49] BlakeLucchesi commented on #7808
I can confirm I see the same behavior but only when serving my app locally (using $ heroku local).

I have the related ENV variables specified in my .env file which the server picks up on start.

`app/initializers/spree.rb`

[code]

[2017-02-18 05:00] freshnewegg commented on #7808
@priyank-gupta

in config/initializers/spree.rb

[code]

Update: I was using aws v1 before, after updating to aws v2, I haven't seen any problems yet but that may be pure coincidence as it was random before.

Similar to Blake, the issue only occurs locally.

[2017-02-21 13:30] markdavies opened #7816 "Line item price set incorrectly when returning user is outside of the default tax zone"
A new order line item price is set incorrectly when the default tax is included in the price and the current user is not in that zone.

## Context

I have a Spree site where the default tax zone is EU VAT of 20%. My client wants to show that price to EU customers, and for the price to include the VAT. They want users outside of the EU to see a reduced price which does not include any tax.

When I

[2017-02-22 07:55] chileap commented on #7531
Hello, I also have this problem too. But not for 1000, it appear when I try to add 5000 items in one order. Spree stop working. It freeze system and won't go anywhere.

Did anyone have solution yet?

[2017-02-22 08:31] damianlegawiec commented on #7675
Fixed via https://github.com/spree/spree/pull/7817

[2017-02-22 08:31] #7675 closed

[2017-02-22 08:42] charleswong28 opened #7818 "Bug when trying to update address of guest checkout order in admin backend"
## Expected Behavior
Both billing address and shipping address could be updated for guest checkout order in admin backend.

## Actual Behavior
When admin updates either billing address or shipping address in admin backend, "User not found" error comes out after updating address.

**Screen Capture:**
![Screen Capture of the error](http://imgur.com/XMnOQtW.jpg)

## Possible Fix
The reason is that gu

[2017-02-22 20:40] loco-ola commented on #7368
Same here with 4.2.8 & 3.1.0

[2017-02-22 22:00] aalvarado commented on #6402
I think this is stale and no longer relevant

[2017-02-22 22:00] #6402 closed

[2017-02-22 22:55] jkelleyj opened #7822 "Number Generation produces collisions in forked processes"
Because number generation uses a singleton method on the Spree::Payment class, the same random seed is shared across all forked processes.

## Context
Collisions are normally not an issue since the generator will try to take the next candidate whenever a candidate is already used on a model in the database.  Race condition errors can arise when two processes generate a number from the same sequenc

[2017-02-23 05:42] ouarez commented on #7810
Thank you!!!! That last fix worked!

I just ran bundle update and was able to pass an order both with the Stripe test API keys, and the live keys.

Your hard work is more than appreciated, and my client will be happy that the store is finally working :)

If you need any details or screenshots from my end, please let me know.

You can consider this issue resolved. Thanks again!

[2017-02-23 05:42] #7810 closed

[2017-02-23 17:43] jkelleyj commented on #7822
May be related to preloading_app in unicorn.rb
```preload_app true```

[2017-02-24 06:39] freshnewegg opened #7823 ""We are unable to calculate shipping rates for the selected items.""
## Context

I was trying to set up the checkout process and there were so many errors that were undocumented! Having suffered solving this problem, I'd like to recommend the documentation being updated. In order to process checkout, there are many steps that need to be done.

you need to set up: zones, tax rates, tax categories, inventory locations, countries, states, payment methods etc etc.

htt

[2017-03-01 12:49] mohsen-alizadeh commented on #7770
@damianlegawiec please merge!

[2017-03-01 15:27] mohsen-alizadeh commented on #7744
![reimbursement_email_html](https://cloud.githubusercontent.com/assets/4325532/23466633/eee35f40-feb0-11e6-9022-9894424a931a.png)

I added a nice HTML template for it

[2017-03-01 19:00] mohsen-alizadeh commented on #7751
I read all codes related to this reported issue.
This problem occurred in Spree::AdjustmentSource.create_adjustment

When coupon code is entered in cart, the shipping method is not specified yet; Therefore, the cost of discount cannot be determined. This system calculates the discount when entering coupon code.

The solution is postponing this calculation to a time that user selects payment method

[2017-03-01 20:48] mohsen-alizadeh commented on #6417
@damianlegawiec Merge this one please.

[2017-03-02 06:28] mohsen-alizadeh commented on #7786
I've checked on master, it works fine for both registered user, and guest users.
Admin user can edit both in orders.

[2017-03-02 07:16] mohsen-alizadeh commented on #7752
What is expected behavior ?

Please explain it with details and make it clear to me. I'm going to fix it

@damianlegawiec @karolfraczkowski

[2017-03-02 08:21] #7744 closed

[2017-03-02 11:19] #7682 closed

[2017-03-02 11:20] #7540 closed

[2017-03-02 13:09] vishalzambre opened #7829 "[Feature] Can we introduce active model serializer for API response"
As ```active_model_serializers```  are faster than ```rabl``` response, can we introduce this feature.
I have created extension ```https://github.com/vishalzambre/spree_active_model_serializer```.

[2017-03-03 07:14] askl56 commented on #7774
This is a core rails query, as it should not be a part of Spree core. Additionally, you need to provide more information as to what you require.

[2017-03-03 07:15] askl56 commented on #7729
@priyank-gupta can you please reference the commits when fixes are made?

[2017-03-05 03:10] alaadahmed commented on #7823
I have the same issue as @freshnewegg

[2017-03-07 07:42] AnuragBhardwaj1 commented on #7734
@karolfraczkowski  Can you please specify step to replicate ?

[2017-03-07 08:12] AnuragBhardwaj1 commented on #7641
I think it has been fixed here: https://github.com/spree/spree/pull/7796

[2017-03-07 08:17] ouykjh commented on #7829
@vishalzambre is it possible for you to create PR to merge your extension with spree? I was thinking about change it in spree, to use `active_model_serializers` natively. I can do it by yourself, but probably your solution will be ok.

[2017-03-07 08:23] vishalzambre commented on #7829
@ouykjh  Yes, I can create PR to merge this extension to spree.

[2017-03-10 11:13] ouykjh commented on #7823
I think all things are in user doc: http://guides.spreecommerce.org/user/shipping_methods.html .

[2017-03-10 11:56] azranel commented on #7823
Actually user (user on frontend) doesn't exactly need to know what's wrong IMO. It would be better to just log some info with `Rails.logger.info`, at least on development/test envs.

[2017-03-10 18:57] llopez opened #7835 "unable to switch to S3"
I couldn't find the way to switch to s3 storage.

I have followed the [guides](http://guides.spreecommerce.org/developer/s3_storage.html) about using S3 with spree but it did not work.

I am getting:
AWS::S3::Errors::AccessDenied in Spree::Admin::ImagesController#create
even if the bucket is public. very strange issue.

I am running Rails 4.2.8 + Ruby 2.4.0

I am using aws-sdk-v1 gem given that sp

[2017-03-13 08:01] damianlegawiec commented on #7786
Fixed via https://github.com/spree/spree/pull/7834

[2017-03-13 08:01] #7786 closed

[2017-03-13 09:00] #6417 closed

[2017-03-13 09:48] mauazua commented on #7240
I believe this issue was resolved by this PR #7340

[2017-03-13 09:49] #7240 closed

[2017-03-14 09:52] mimani opened #7839 "How to get route info in middleware"
## Context
I have a [rails webapp](https://github.com/mimani/rails-spree-example) using spree, I have written a middleware to capture metrics related to performance. I want to get current route, so that I can push metrics for each route. Following is core part of [middleware](https://github.com/mimani/rails-spree-example/blob/master/app/middleware/my_statsd.rb):

[code]

## Expected Behavior
I wan

[2017-03-14 10:30] #7770 closed

[2017-03-14 10:31] #7749 closed

[2017-03-14 10:33] #7709 closed

[2017-03-14 10:34] #7750 closed

[2017-03-14 10:35] #7690 closed

[2017-03-14 14:56] symarys commented on #7812
@RyanQuey I think this may be a Rails configuration issue, not a problem with deface itself (reference: https://github.com/mperham/sidekiq/issues/2795).

[2017-03-14 15:01] #7812 closed

[2017-03-14 23:49] joeswann commented on #7750
@damianlegawiec is this a solved problem or just not important?

[2017-03-17 04:49] arvindvyas opened #7851 "Authentication for Order new button is not working"
https://github.com/spree/spree/blob/3-1-stable/backend/app/views/spree/admin/orders/index.html.erb
[code]

It means if we write `can [:admin, :create] , [Spree::Order] `then only it should display but it is not working it is showing for all does it a known bug ?

[2017-03-17 05:01] arvindvyas commented on #7851
we found the problem , it's invalid

[2017-03-17 05:01] #7851 closed

[2017-03-19 13:44] 99cm opened #7857 "PG::NotNullViolation: ERROR: column "created_at" contains null values"
AddNullFalseToSpreeVariantsTimestamps: migrating -
change_column_null(:spree_variants, :created_at, false)
rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

PG::NotNullViolation: ERROR:  column "created_at" contains null values
: ALTER TABLE "spree_variants" ALTER "created_at" SET NOT NULL

## Context

original spree/core/db/migrate/20161014152814_add_nul

[2017-03-21 14:41] nnande commented on #7857
@99cm Could you provide more details about this issue, please?
It would be helpful if you filled **Steps to Reproduce** section especially

[2017-03-21 15:10] 99cm commented on #7857
I run:
rake db:migrate

when processing db/migrate/20161014152814_add_null_false_to_spree_variants_timestamps.spree.rb
Rake aborted and canceled later on migrations.
Rake migrations unable to completed.

[2017-03-21 15:15] 99cm commented on #7857
I searched online. It says 'change_column_null' should have 4 parameters.

[2017-03-21 15:42] nnande commented on #7857
@99cm Thanks for your feedback.

According to change_column_null method definition, it's true it defines 4 parameters, but note that the last one is optional. I do not think that it's the problem in our case.

In my opinion, the problem is that there are some Variant records present in your database with ``created_at`` or ``updated_at`` set to nil, which makes not null constraints creation fail.

[2017-03-21 16:06] #7515 closed

[2017-03-21 19:41] 99cm commented on #7857
@nnande

    updating their timestamp columns with some values, let's say:

Spree::Variant.where(created_at: nil).update(created_at: Time.zone.now)
Spree::Variant.where(updated_at: nil).update(updated_at: Time.zone.now)

It seems that these should be done by migrating 20161014145148_add_created_at_to_variant.spree.rb

class AddCreatedAtToVariant < ActiveRecord::Migration[5.0]
  def change
    add_

[2017-03-22 05:51] AnuragBhardwaj1 opened #7873 "Issue with StoreCredit payment"
Two payments are being created if we pay by StoreCredit.

## Context
When user has a CreditCard info saved and StoreCredit also.
Now when the user pay by store credit the order is complete but there is a new payment from credit card with amount zero.

## Expected Behavior
Only one payment should be created, i.e. of store credit.

## Actual Behavior
Two payments are being created, one from credit c

[2017-03-22 11:01] nnande commented on #7857
@99cm In fact, the migration you mentioned above does affect only default-scoped ``Variants``.

``Spree::Variant`` class makes use of acts_as_paranoid gem, which attaches default scope to it, showing only "non-destroyed" records, conceptually something like:

[code]

It's very likely that your database consists of Variant record with deleted_at set to some not nil value, which is not affected by `

[2017-03-22 14:36] #7857 closed

[2017-03-23 07:12] vishalzambre opened #7875 "Email validation fails for email has long domain"
Email validation not work for valid emails address which has long domains like as follows
``` valid.email@email.photography ```

Refer possible domains list https://iwantmyname.com/domains/domain-name-registration-list-of-extensions
## Expected Behavior
It should validate above email address

## Actual Behavior
It fails to validate above email ID

## Possible Fix

Need to use standard email valida

[2017-03-23 07:12] vishalzambre commented on #7875
Sending PR for same

[2017-03-23 11:06] tdquan opened #7876 "ReferenceError: Spree is not defined in the checkout page"
I'm on the checkout page where I can enter the Billing and Shipping address but I got that error
`ReferenceError: Spree is not defined
 /checkout/address:806`

This is apparently refer to the line:

`<script>`
 ` Spree.current_order_id = "<%= @order.number %>"`
  `Spree.current_order_token = "<%= @order.guest_token %>"`
`</script>`

in the `spree/checkout/edit.html.erb` file and I have no idea why

[2017-03-23 13:51] shridharkalagi opened #7879 "ImageMagick not workinf"
Hi,

Why is ImageMagick used in spree? I saw few docs where it says to upload images from admin page. In that case what is the use of ImageMagick. Please help me understand. Thanks!

[2017-03-23 16:32] Lorel commented on #7879
Spree Core is using [Paperclip](https://github.com/spree/spree/blob/master/core/spree_core.gemspec#L34)
Paperclip is using [ImageMagick to process images](https://github.com/thoughtbot/paperclip#image-processor)

[2017-03-23 16:39] #7879 closed

[2017-03-24 03:59] mizzlala3 opened #7881 "uninitialized constant Sequel (NameError)"
## Context
When running `rails g spree:install --user_class=Spree::User` I get the following error ` uninitialized constant Sequel (NameError)` in reference to the config/environment.rb

I followed all steps required such ass adding the gems to my gemfile, however, I still get errors.

`Bundler could not find compatible versions for gem "devise":
  In snapshot (Gemfile.lock):
    devise (= 4.2.1)

[2017-03-24 05:50] shridharkalagi commented on #7879
@Lorel Thanks for the reply. Incase if ImageMagick is not there, then I won't be able to process images and still I can upload the images directly. isn't it? Also, I don't loose on any other functionality.

[2017-03-24 10:12] Lorel commented on #7879
@shridharkalagi actually, I'm not sure you can install Paperclip without ImageMagick: like it is written, ImageMagick **must** be installed, and you can see in the [gemspec file of Paperclip](https://github.com/thoughtbot/paperclip/blob/master/paperclip.gemspec#L24) that ImageMagick is given as requirement
and if you can't install Paperclip, you won't be able to install Spree Core

[2017-03-25 17:09] joshRpowell opened #7887 "2017 Development Roadmap?"
Are there plans to refresh the 2016 roadmap?  https://github.com/spree/spree/wiki/Spree-Commerce-development-roadmap-2016

[2017-03-26 00:46] nnande commented on #7816
@markdavies Hello,

You precise description helped a lot, thanks for that. I was able to reproduce this bug and wrote some fixing code already. I hope that it resolves the issue. Here is the link to PR: `
https://github.com/spree/spree/pull/7888

[2017-03-26 01:56] Dalyl09 opened #7889 "Spree install, rails g spree:auth:install"
I fail to install spree, with spree install and installations recommend in your README
## Context
I run rails new myfirstapp -d mysql
I add in Gemfile ''gem 'spree', '~> 3.2.0'
gem 'spree_auth_devise', '~> 3.2.0.beta'
gem 'spree_gateway', '~> 3.2.0.beta'''
I run bundle install
i run ''rails g spree:install --user_class=Spree::User'' i don't have a problem.
i run ''rails g spree:auth:install'', i h

[2017-03-26 02:45] Lorel commented on #7889
Hi @Dalyl09

For your error on `rails g spree:auth:install`, I have no idea
But it looks like you have an encoding error when you run `'bundle exec rake db:seed`
I'd check if the tables are set for using `utf8` encoding
For my part, I didn't try Spree with MySQL, and I would recommend to use PostgreSQL

[2017-03-26 03:03] Dalyl09 commented on #7889
Hi @Lorel,
I resolved my problem, with a link : http://stackoverflow.com/questions/36641372/rails-how-to-get-sample-data-with-spree-commerce-sandbox.
Thanks you for your help.
I'm from to Valenciennes, i would like to ask your for Spree, do you want ?
My adress email : feddal.dalyl@yahoo.fr

[2017-03-26 03:03] #7889 closed

[2017-03-26 18:27] catalin88 opened #7890 "Move cost_price at stock level (feature/suggestion)"
The cost_price should be associated with the stock, not the product/variant. How didn't anybody encounter this issue up to this point ?

## Context
The problem arises when the same product is acquired at different prices.

## Expected Behavior
Each of the items sold should appear on order's line-items with the cost_price at which they were purchased, in the order they were purchased. Ex:

Products

[2017-03-26 19:07] damianlegawiec commented on #7890
Hi @catalin88 nice catch - maybe you could submit a PR with a proper solution? Thanks :)

[2017-03-26 20:37] catalin88 commented on #7890
@damianlegawiec my skills (and time) don't permit me to easily come up with a proper solution for this issue, but if someone competent is willing to do it I can contribute/pay for it and share it with the community. Probably not the place to make such a proposition, but it's what I can contribute and maybe it'll help.

Also, transferring stock should take this into account. A proper solution might

[2017-03-27 04:56] vishalzambre commented on #7890
@catalin88 @damianlegawiec  I can contribute to build this feature, need little more info if anyone have any more thoughts on this because its big change.

[2017-03-27 07:40] damianlegawiec commented on #7887
Hi @joshRpowell we'll propose the roadmap this week, we're in the middle of discussing what features we need in a majority of modern e-commerce projects, which should be in core and which should live as a universal extension. The big topic is 4.0 which will introduce a lot of groundbreaking changes and the path to it we want to ease as much as we can.

[2017-03-27 17:49] joshRpowell commented on #7876
@tdquan This popped up for me when we upgraded to Spree 3.2.0.beta1 from 3.1.0.  We haven't been able to figure it out either.  But we haven't looked at the diff either.

[2017-03-27 18:04] joshRpowell commented on #7876
@tdquan we also started to see a similar error after this was added:  https://github.com/spree/spree/blob/master/frontend/app/assets/javascripts/spree/frontend/checkout/shipment.js.coffee#L32

[2017-03-28 09:18] mvz commented on #7506
I think this would also be helpful in removing line items when the promotion action is no longer applicable to the order, right?

[2017-03-28 09:27] mvz commented on #6460
@nishant-cyro any update on how this kind of issue can be resolved?

[2017-03-28 16:55] tdquan commented on #7876
@joshRpowell for me I think all the JavaScripts used for form-formatting and state selection doesn't work. My colleagues using 3.2.0 still have all these working but mine is 3.3.0.alpha (installed by mistake). Let me know if you figure out a way to work around this. Thanks!

[2017-03-28 19:41] joshRpowell commented on #7876
@tdquan what rails versions are being used in the v3.2.0 and v3.3.0.alpha examples you noted above?

[2017-03-28 20:00] tdquan commented on #7876
@joshRpowell we are all using rails 5.0.1.

[2017-03-28 20:43] joshRpowell opened #7897 "order displaying the wrong manifest quantity"
## Context
Math for line item total [here](https://github.com/spree/spree/blob/7fb31d3c48ab6f414a3af8c5e929b67c46f5527a/backend/app/views/spree/admin/orders/_shipment_manifest.html.erb#L17) does not match the subtotal [here](https://github.com/spree/spree/blob/7fb31d3c48ab6f414a3af8c5e929b67c46f5527a/backend/app/views/spree/admin/shared/_order_summary.html.erb#L23)

here is the manifest:

[code]

[2017-03-29 05:34] nick9822 opened #7898 "Api with stock_items?q[variant_id_eq]=1963 not working, returns all products"
Hi Team,

I tried calling API as follows
![image](https://cloud.githubusercontent.com/assets/10139291/24439829/514eca66-146e-11e7-9759-45ac461877bc.png)

but it returns all products, filter is not getting applied for `variant_id` and see even database has the specific entry.
![image](https://cloud.githubusercontent.com/assets/10139291/24439935/d937ff88-146e-11e7-9bf0-d8959bed32b9.png)

And when I

[2017-03-29 05:57] nick9822 commented on #7898
Sorry for reposting, found the duplicate issue #6832
I will reference it there.

[2017-03-29 05:57] #7898 closed

[2017-03-29 06:07] nick9822 commented on #6832
@nishant-cyro
Thanks for the solution. It worked.

@damianlegawiec
I dont see any harm in whitelisting it, so was it missed in core model?
If it was I can create pull request to merge.

Thanks,
Nick

[2017-03-29 08:51] #6832 closed

[2017-03-29 12:15] nick9822 opened #7901 "API error: undefined method `permit' for "quantity":String"
Hi Team,

I have just requested to create stock movement via API, but it gives an error.
`undefined method permit' for "quantity":String`

My request is as follows
`response = c.session.post(c.url+"/stock_locations/1/stock_movements", jdata)`
where jdata is
 `'{"stock_movement":{"quantity":8, "stock_item_id": 1966, "action": "received"}}'`

I have checked `api_helpers.rb` and found `@@stock_moveme

[2017-03-30 06:21] AnuragBhardwaj1 commented on #7901
Hi @nick9822, can you please specify the spree version/details.
As I am able to create stock_movements using API.

[2017-03-30 08:27] damianlegawiec commented on #7876
@joshRpowell @tdquan can you check if you're including `spree/shared/paths` partial?

This commit (mine ;) could be the culprit: https://github.com/spree/spree/commit/387b51b0f18fc82d6954db7b4c24d857b7593ac0

[2017-03-30 14:04] joshRpowell commented on #7876
@damianlegawiec yes, it looks like that is the issue. Perhaps it's related to #7722 and #7725.

We were including the `spree/shared/paths` partial in some other `view/layouts/*` to prevent the following error:
![spree error](https://cloud.githubusercontent.com/assets/6732638/24507822/89fe258e-152f-11e7-8958-91f11d5a49ae.png)

When I remove the `spree/shared/paths` partial the error noted in this i

[2017-03-30 15:04] nick9822 commented on #7901
@AnuragBhardwaj1
We are working with 3-0-stable. Also I did not see any changes to API after the release.
Did you use requested in the same way as I did?

Thanks,
Nick

[2017-04-02 04:40] vishalzambre commented on #7890
@catalin88 Thanks for detail description, I'll start on based this.

@damianlegawiec If you have any suggestions please let us know.

[2017-04-03 08:56] AnuragBhardwaj1 commented on #7901
@nick9822 ,
`POST /api/stock_locations/1/stock_movements HTTP/1.1
Host: localhost:3000
Content-Type: application/json
X-Spree-Token: 8dda542dc2a90a2dfa9ebb3ff328d48e10382e6ae8d5fef8
Cache-Control: no-cache
Postman-Token: db144351-6222-5df5-abdb-fa2f1bc6e4df

{
	"stock_movement":{
		"quantity":8,
		"stock_item_id": 26,
		"action": "received"
	}
}`

<img width="1245" alt="screen shot 2017-04-03 at 2

[2017-04-03 21:16] joshRpowell commented on #7897
This may be related to the addition of the default inventory_units quantity in #7790.
We're continuing to investigate.

[2017-04-04 07:26] symarys commented on #7897
@joshRpowell I think it is connected with [spree-product-assembly gem](https://github.com/spree-contrib/spree-product-assembly). I can't see any issues when I'm testing your problem without it in Gemfile. Shipment manifest is overridden there (https://github.com/spree-contrib/spree-product-assembly/blob/master/app/models/spree/shipment_decorator.rb#L13)  - I'm investigating it.

[2017-04-04 14:59] nick9822 commented on #7901
@AnuragBhardwaj1
Thanks for replying. You are right its working perfectly fine.
I figured out that headers were not passed perfectly. So now its working. :)

@damianlegawiec
There are no bugs with respect to this, so I am closing this issue.

Thanks,
Nick

[2017-04-04 14:59] #7901 closed

[2017-04-06 08:15] #6719 closed

[2017-04-06 08:15] #7822 closed

[2017-04-06 12:30] 99cm commented on #7857
@nnande solutions did not solve the issue. Actually "spree_variants" table keeps all deleted spree_variant samples that contain null values. I use phppgadmin to empty all deleted spree_variant samples. This solved the issue.

[2017-04-06 20:56] joshRpowell commented on #7897
@symarys I added a PR that resolved the issue for us.  Let me know if it works for you as well.

[2017-04-07 05:28] vfonic opened #7914 "What's the best way to have proper Rails 5 support w/ friendly_id?"
Related to 3.3.x milestone PR/issue: Update friendly_id to v5.2.0: https://github.com/spree/spree/pull/7758

I'm trying to use spree on rails 5 together with friendly_id. It doesn't work well currently. If I use local fork of spree with friendly_id dependency changed to 5.2.0, then it works as expected. What can I do to be able to use friendly_id 5.2.0 and spree 3.2.1? Any chance to have friendly_

[2017-04-07 05:42] vfonic commented on #7914
Figured it out. I've added this initializer until this is fixed properly `config/initializers/friendly_id.rb`:

[code]

This code is c/p-ed from this PR that fixed the bug:
https://github.com/norman/friendly_id/pull/728
https://github.com/norman/friendly_id/pull/728/files#diff-6c1e3429bcf1206c1a79aa1d516ada34R79

[2017-04-07 07:13] symarys commented on #7897
@joshRpowell I just tested the issue again with your changes and it seems it's working fine :+1:

[2017-04-07 07:13] #7897 closed

[2017-04-10 23:22] clarkcutler opened #7917 "500 error for blank "Master Price *" in product create/update"
## Context
I was trying to create/edit a product and accidentally left the required "Master Price *" field blank.

## Expected Behavior
* To see an error box at the top of the page saying "Master price can't be blank"
* To see the label and border for the input go red, with a "can't be blank" message beneath it

Just like I see when the required "Name *" field is left blank.

## Actual Behavior
Ar

[2017-04-11 13:02] nnande commented on #7793
@damianlegawiec changes already merged into master in [commit](https://github.com/spree/spree/commit/28c494f191279166035c49e7d9babc653836d1e4)

[2017-04-11 13:11] #7793 closed

[2017-04-12 10:32] nnande commented on #7873
Hello @AnuragBhardwaj1,

I just followed your instruction and was unable to reproduce the issue. The final store credit payment resulted in creating an order with only one payment with ```source_type: "Spree::StoreCredit"```.
I was working both 3-1-stable and 3-2-stable branches.

It would help a lot if you could provide detailed steps to reproduce and/or environment info, maybe I am missing somet

[2017-04-12 11:19] bansalakhil opened #7922 "Rails 5, Spree 3.2.1 rake db:seed not working properly"
I am setting up fresh spree in new rails 5 app.

In my Gemfile I have:
[code]

```bundle install``` was successful

Then I run

[code]
``` rake spree_sample:load``` failed with following error

[2017-04-12 11:26] AnuragBhardwaj1 commented on #7873
@nnande , did you try with placing first order with CreditCard and then placing another order and paying second order with StoreCredit.
In second case radio for CreditCard is checked by default.
So, additional nil payment is created.

[2017-04-12 11:42] vishalzambre commented on #7922
@bansalakhil I just verified this one with above versions and working fine for me.
Could you please provide more info or try following steps once more after `rake db:drop`

[2017-04-12 11:49] bansalakhil commented on #7922
@vishalzambre I already tried with ``` rake db:drop``` . Same issue every time
Attaching Gemfile.lock for reference

[2017-04-12 12:45] tanmay3011 commented on #7922
@vishalzambre Just tried a fresh install of Spree with same steps and I was able to replicate the issue.
<img width="904" alt="screen shot 2017-04-12 at 6 11 45 pm" src="https://cloud.githubusercontent.com/assets/4212447/24958122/e61bb04e-1fab-11e7-8e54-b1a81bfca018.png">

[2017-04-12 12:46] vishalzambre commented on #7922
@tanmay3011 @bansalakhil Let me try once more.

[2017-04-12 12:52] #7917 closed

[2017-04-13 03:13] vfonic opened #7927 "Guides: Broken link"
At the bottom of this page there's a broken link: http://guides.spreecommerce.org/api/summary.html

I've looked into `rabl_template.rb`, but I'm not sure to what L5-L18 should refer to:
https://github.com/spree/spree/blob/7fb31d3c48ab6f414a3af8c5e929b67c46f5527a/api/lib/spree/api/responders/rabl_template.rb

Someone with more background knowledge could fix this.

[2017-04-13 03:24] vfonic opened #7928 "Guides: Possible to push new version?"
I see there are changes to the guides in the repo, but the guides pages are still using older version:
https://github.com/spree/spree/blob/master/guides/content/developer/tutorials/getting_started_tutorial.md

http://guides.spreecommerce.org/developer/getting_started_tutorial.html

Is it possible to have these changes pushed? The PR was merged 24 days ago and is misleading for new users trying to

[2017-04-13 03:29] ronaldoooo opened #7929 "Missing partials when add a promition stratege."
This happens in the edit view of promotion. When I add a promotion, like 'first order' or 'user logged in' etc.When I click 'add' button, noting happened. Then when I click 'update', it crashes.

To added with: I use spree 3.2.0, rails 5.0.2

[2017-04-13 03:31] ronaldoooo commented on #7929
I googled for a day and I found it's not like a general problem. If this is a issue that has been solved, plz tell me how to. Thanks a lot.

[2017-04-13 04:23] vfonic opened #7931 "Guides: Would be good to have Getting help page updated"
The Getting help guide page seems to be outdated. At least it doesn't mention slack channel: http://guides.spreecommerce.org/developer/getting_help.html

I see there's also gitter chat room. Is it active along with the slack channel? If both are active, why? There's also IRC channel?

[2017-04-13 07:24] ronaldoooo commented on #7929
I found in the folder

 only

these 7 template in it . I’m confused where is the _first_order.html.erb and _one_use_per_user.html.erb?

[2017-04-13 07:32] vishalzambre commented on #7929
@randomecho thank for more info, let me have a look.

[2017-04-13 08:13] damianlegawiec commented on #7931
@vfonic it's outdated, only the Slack channel is active

[2017-04-13 08:13] damianlegawiec commented on #7928
@vfonic we will set up automatic guides deployments on every successful build on CI

[2017-04-13 08:17] vfonic commented on #7928
@damianlegawiec Sounds great! Is there any timeline/roadmap that's up to date where I can have a look?
Does it mean that [skip ci] shouldn't be used, because only guides updates won't deploy guides? I guess that should be the recommended way. It doesn't cost much (only time on Travis).

[2017-04-13 09:28] jafffmen commented on #7922
Hey @vishalzambre :)
I checked this issue, and the only problem is that you didn't run
[code]
which is copying spree migrations into the project.

Please follow [getting started section](https://github.com/spree/spree/blob/master/README.md#getting-started)

Cheers :)

[2017-04-13 09:28] #7922 closed

[2017-04-13 13:37] muzykabart commented on #7927
Hey @lani13, just create a PR with your fix and we'll merge it, thx

[2017-04-14 10:26] AnuragBhardwaj1 commented on #7873
PR merged: Issues Seems to be fixed.
Closing Issue.

Thanks Team.

[2017-04-14 10:26] #7873 closed

[2017-04-14 10:35] damianlegawiec commented on #7873
Thanks @AnuragBhardwaj1 👍

[2017-04-14 11:02] dajvido commented on #7450
I'm working on fix for this issue - stay tuned 🤔

[2017-04-14 11:12] lani13 commented on #7927
@muzykabart I created pull request to merge to branch 3-2-stable. It seems that in master the file guides/content/api/summary.md doesn't have that paragraph at all.

[2017-04-14 16:15] #7927 closed

[2017-04-14 22:10] #7816 closed

[2017-04-15 08:58] Nelwep opened #7939 "Spree_static_content install error"
I get

` bundle exec rails g spree_static_content:install
Running via Spring preloader in process 1713
      insert  vendor/assets/stylesheets/spree/frontend/all.css
         run  bundle exec rake railties:install:migrations FROM=spree_static_content from "."
/usr/local/bin/bundle:23:in `load': cannot load such file -- /usr/lib/ruby/exe/bundle (LoadError)
	from /usr/local/bin/bundle:23:in `<main>'

[2017-04-15 10:24] vfonic commented on #7939
You should open this issue on the `spree_static_content` repo [here](https://github.com/spree-contrib/spree_static_content), as that's the repo for the code you're referring to.

[2017-04-15 10:46] Nelwep commented on #7939
I'll do that thanks

[2017-04-15 10:46] #7939 closed

[2017-04-16 08:38] AlecKriebel commented on #7808
@freshnewegg Experiencing this issue too. You were able to upgrade to aws v2? Spree_core requires paperclip, and the version Spree_core requires doesn't work with aws v2 I thought, right?

[2017-04-16 17:02] freshnewegg commented on #7808
There's a branch of paperclip that is fixed with aws-v2

:git=> 'https://github.com/thoughtbot/paperclip', :ref => '523bd46c768226893f23889079a7aa9c73b57d68'

I'm using that until they do a main release

[2017-04-18 15:05] nnande commented on #7881
Hello @mizzlala3!

It would be easier to find what went wrong if you provided some environment info, such as Ruby, Rails version, both Gemfile and Gemfile.lock snapshots. Can you share them with us? :)

[2017-04-18 19:44] nnande commented on #7839
Hi @mimani!
I think the solution for your case is explained in the above [SO Question ]( http://stackoverflow.com/questions/42691729/how-to-find-current-abstract-route-in-rails-middware)under the first **Update** section.

Having look at  ``` app/middleware/my_statsd.rb``` in your example repo,
 you may want ``` def call ``` method to use ```Spree::Core::Engine.routes.router.recognize```  instead

[2017-04-19 10:54] #7774 closed

[2017-04-19 10:55] jafffmen commented on #7774
Closed - no specific info provided :)

[2017-04-19 11:10] #7875 closed

[2017-04-19 11:43] askl56 commented on #7774
@jafffmen I tried :(

[2017-04-19 12:37] jafffmen commented on #7774
@askl56 we can reopen this issue if there is a need for it 🙂

[2017-04-20 08:33] #7931 closed

[2017-04-20 10:00] nnande commented on #7835
Hello @Ilopez
What you need to do is to grant your AWS user write object access to your s3 bucket.

To accomplish that perform these steps:

1. Go to the Amazon S3  console and click your bucket name.
2. Go to **Permissions -> Access Control List** tab
3. Under the 'Manage users' section go to your user's permissions by clicking it and make sure Object write access is checked.

Users are identifie

[2017-04-20 14:25] dajvido commented on #7450
Quick update to let you know it's in progress.

1. Adding promo code which decrease order total to 0 remove payment step - we don't want to require a credit card for a free order (case when promo code is applied in the cart).
2. Spree because of reason trigger checking steps on entering and on leaving every checkout step. In our case when we are leaving payment step our order doesn't contain this

[2017-04-20 15:36] nnande commented on #7795
@sivagollapalli try ```spring stop``` before entering the console

[2017-04-20 16:18] nnande commented on #7802
@vfonic it seems font awesome gem is not used anywhere. I think we should make a PR with the cleanup.

[2017-04-20 17:14] vfonic commented on #7802
👍

[2017-04-22 01:37] Nelwep opened #7952 "I can't put a buy button next to the price, along with quantity"
I get this message...

`
ActionView::MissingTemplate in Spree::Home#index

Showing /home/nelweb/rails/thirdyve/greenbar/vendor/bundle/ruby/2.3.0/gems/spree_frontend-3.1.5/app/views/spree/shared/_products.html.erb where line #42 raised:

Missing partial spree/home/_cart_form, spree/store/_cart_form, spree/base/_cart_form, application/_cart_form with {:locale=>[:fr], :formats=>[:html], :variants=>[]

[2017-04-24 05:24] vfonic commented on #7928
ping

Is it possible to just deploy latest version of guides now, until the automatic deployment is setup?

[2017-04-24 08:29] vfonic opened #7960 "Fix Hound CI"
Can someone please either fix or remove the hound? It's barking too much. :)

Also would be nice to integrate it with travis ie when hound CI fails, build fails.

## Context
Comments like these:
https://github.com/spree/spree/pull/7959#discussion_r112878367